body{background-color: #F6F7F8;font-size: 0.9rem;}
p{margin: 0px;padding: 0;}
a{color: #303030;text-decoration: none;}	
a:link {color: #303030;text-decoration: none;}
a:hover{
color: #303030;text-decoration: none;
}
a:visited{
color: #303030;
}
.w-95{width: 95%;}
.w-30{width: 30%;}
.support-circle5{
					 border-radius:5px;
		}	 
.f-size-09{font-size: 0.9rem;}
.f-size-1{font-size: 1rem;}
.f-size-12{font-size: 1.2rem;}
.f-size-12s{font-size: 12px;}
.f-size-13{font-size: 13px;}
.f-size-15{font-size: 15px;}
.f-size-22{font-size:22px}
.bg-f{background-color: #FFFFFF;}
.t-center{text-align: center;}
.c-b{clear:both;}
.border-bottom {
	       border-bottom: 1px solid #F4F5F6;
	   }	
	   .pb-6 {
	       padding-bottom: 4rem!important;
	   }
	   .m-set{
		   font-size:13px;
	   }
	   
	   .tab{
	       display: -webkit-box;
	       display: -webkit-flex;
	       display: -ms-flexbox;
	       display: flex;
	       height: 44px;
	       line-height: 44px;	       
	       background-color: #FFFFFF;
		   
	   }
	   .tab .item{
	       display: block;
	       -webkit-box-flex: 1;
	       -webkit-flex: 1;
	       -ms-flex: 1;
	       flex: 1;
	       width: 100%;
	       font-size: 14px;
	       text-align: center;
	       color: #9A9A9A;
	       text-decoration: none;
	   }
	   .tab .cur{
	       height: 42px;
	       border-bottom: 2px solid #FFCB4F;
	       color: #333333;
	   }
	   
	   
	   .renwu{ color:#666666;}
	   .form-signin {
	     width: 100%;
	     max-width: 380px;
	     padding: 15px;
	     margin: auto;
	   }
	   .form-signins {
	     width: 100%;
	     max-width: 380px;
	     padding: 0px 15px 10px 15px;
	     margin: auto;
	   }
	   .upload-wrap{
	       position: relative;	      
	       overflow: hidden;	     
		   width: 70%;
	   }
	    .file-ele{
	       position: absolute;
	       top:0;
	       right:0;
	       opacity: 0;
	       height: 100%;
	       width: 100%;
	       cursor: pointer;
	   }
	   .upload-wrap .file-open{
	       width:90px;
	       height:30px;
	       line-height:30px;
	       text-align: center;
	       color:#fff;
	       background: #3385ff;
	   }
	   
	.st{
		min-width:40px;border-radius:50px 0px 50px 50px;background-color:#212121;padding:10px;line-height:30px;color:#fff;
	}
	.st-t{color: #FFCB4F;}
	.st-p{color: #F66A52;}
	.st-bia{background:url('../img/yuan.png') 0px  no-repeat;background-size:8px 8px}
	.st-bib{background:url('../img/b2.png') ;background-repeat: repeat-y;}
	.img-btn{background-color: #F6F7F8;text-align: center;width: 100%;}
	  