<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>layuiAdmin 主页示例模板二</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all" />
	</head>
	<body>

		<div class="layui-fluid">
			<div class="layui-row layui-col-space10">
				<!--ab-->
				<div class="layui-col-sm6 layui-col-md2">
					 <div class="layui-card">
						 <!---->						
						   <dl class="layuiadmin-card-status">
						     <dd>
						       <div class="layui-status-img"><a href="javascript:;"><img src="../../../layuiadmin/style/res/logo.png"></a></div>
						       <div>
						         <p>总用户数量</p>
						         <span>357</span>
						       </div>
						     </dd>
							 </dl>						
						 <!---->						 
					 </div>
				</div>
				<div class="layui-col-sm6 layui-col-md2">
					<div class="layui-card">
					<!---->
					  <dl class="layuiadmin-card-status">
					    <dd>
					      <div class="layui-status-img"><a href="javascript:;"><img src="../../../layuiadmin/style/res/logo.png"></a></div>
					      <div>
					        <p>总订单量</p>
					        <span>357</span>
					      </div>
					    </dd>
					 </dl>						
					<!---->		
					</div>
				</div>
				<div class="layui-col-sm6 layui-col-md2">
					<div class="layui-card">
						<!---->
						  <dl class="layuiadmin-card-status">
						    <dd>
						      <div class="layui-status-img"><a href="javascript:;"><img src="../../../layuiadmin/style/res/logo.png"></a></div>
						      <div>
						        <p>总订单金额</p>
						        <span>357</span>
						      </div>
						    </dd>
						 </dl>						
						<!---->		
					</div>
				</div>
				<div class="layui-col-sm6 layui-col-md2">
					<div class="layui-card">
					   <!---->
					     <dl class="layuiadmin-card-status">
					       <dd>
					         <div class="layui-status-img"><a href="javascript:;"><img src="../../../layuiadmin/style/res/logo.png"></a></div>
					         <div>
					           <p>售卖设备</p>
					           <span>357</span>
					         </div>
					       </dd>
					    </dl>						
					   <!---->		
					</div>
				</div>
				<div class="layui-col-sm6 layui-col-md2">
					<div class="layui-card">						
						  <dl class="layuiadmin-card-status">
						    <dd>
						      <div class="layui-status-img"><a href="javascript:;"><img src="../../../layuiadmin/style/res/logo.png"></a></div>
						      <div>
						        <p>提现总金额</p>
						        <span>357</span>
						      </div>
						    </dd>
						 </dl>					
					</div>
				</div>
				<div class="layui-col-sm6 layui-col-md2">
					<div class="layui-card">
						<dl class="layuiadmin-card-status">
						   <dd>
						     <div class="layui-status-img"><a href="javascript:;"><img src="../../../layuiadmin/style/res/logo.png"></a></div>
						     <div>
						       <p>返利总金额</p>
						       <span>357</span>
						     </div>
						   </dd>
						</dl>				
					</div>
				</div>			
				<!--a end-->
				<div class="layui-col-md8">
					 <div class="layui-row layui-col-space10">						 
						<div class="layui-col-xs12 layui-col-sm6">
							 <div class="layui-card">
								 <div class="layui-card-header">用户增量</div>
								 <div class="layui-card-body">
									<div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-home-u">
									  <div carousel-item id="LAY-home-u">
									    <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
									  </div>
									</div> 
								 </div>	 
							 </div>
						</div>
						<div class="layui-col-xs12 layui-col-sm6">
							 <div class="layui-card">
						         <div class="layui-card-header">设备售卖增量</div>
								 <div class="layui-card-body">
								 	<div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-home-p">
								 	  <div carousel-item id="LAY-home-p">
								 	    <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
								 	  </div>
								 	</div> 	
								 </div>	 
							 </div>
						</div>
						<div class="layui-col-xs12 layui-col-sm6">
							 <div class="layui-card">
						           <div class="layui-card-header">订单增量</div>
								   <div class="layui-card-body">
								   		
								   </div>	 
							 </div>
						</div>
						<div class="layui-col-xs12 layui-col-sm6">
							 <div class="layui-card">
						           <div class="layui-card-header">提现增量</div>
								   <div class="layui-card-body">
								   		
								   </div>	 
							 </div>
						</div>							
					</div>					 
				</div>
				<div class="layui-col-md4">
					<div class="layui-card">	
						<div class="layui-card-header">代办事项</div>			  
					    <!---->
						<div class="layui-card-body">
							<div class="layadmin-news">
							    <div><a href="#" target="_blank" class="layui-bg-red">拓展用户</a></div>						  				             
							</div>
							<div class="layadmin-news">							  
							    <div><a href="#" target="_blank" class="layui-bg-green">申请安装</a></div>    				             
							</div>
							<div class="layadmin-news">							   
							    <div><a href="#" target="_blank" class="layui-bg-blue">意见反馈</a></div>						             
							</div>	
							<div class="layadmin-news">
							    <div><a href="#" target="_blank" class="layui-bg-orange">提现处理</a></div>						             
							</div>
							<div class="layadmin-news">
							    <div><a href="#" target="_blank" class="layui-bg-cyan">制作小程序</a></div>						             
							</div>
							<div class="layadmin-news">
							    <div><a href="#" target="_blank"  style="background-color: #5FB878;color: #FFFFFF;">新装申请</a></div>						             
							</div>										
						</div>
						<!---->					   
					</div>
				</div>
			</div>
		</div>
		<script src="../../../layuiadmin/lib/jquery.js"></script>
		<script src="../../../layuiadmin/lib/layui.js"></script>
		<script>
			layui
			  .config({
			    base: "../../../layuiadmin/", //静态资源所在路径
			  })
			  .extend({
			    index: "lib/index", //主入口模块
			  })
			  .use(["index","homeLinea","homeLinep"], function () {
			           
			  });
		</script>
	</body>
</html>
