<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>编辑</title>
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all" />
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/latter.css" media="all" />
  <style>
    .layui-form-label-dry {
      width: 150px;
    }
    .layui-form-item .layui-input-inline {
      width: 300px;
    }
    .red {
      color: red;
      position: absolute;
      top: 12px;
    }
  </style>
</head>

<body>
	<div id="outerdiv" style="width:100%;height:100%;z-index:100;text-align: center;position: absolute;background:rgba(0,0,0,0.7);display:none; padding-top: 10px;padding-bottom: 1050px;">
			<img id="bigimg"  width="60%"/>		
		</div>
  <div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list"   style="padding: 20px 30px 0 0;">
	   <input type="hidden" name="id" id="id" />
  <div class="layui-form-item">
    <label class="layui-form-label layui-form-label-dry">进货时间<span class="red">*</span></label>
    <div class="layui-input-inline">
     
  	  <input
  	    type="text"
  	    class="layui-input"
  	    name="buyTime"
  	    id="buyTime"
  	    placeholder=""
  	  />
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label layui-form-label-dry">代理id</label>
    <div class="layui-input-inline">
      <select name="agentId" id="agentId" lay-filter="agentId"></select>
    </div>
  </div>

 <div class="layui-form-item">
      <label class="layui-form-label layui-form-label-dry">进货数量<span class="red">*</span></label>
      <div class="layui-input-inline">
        <input type="text" name="cargoNum" id="cargoNum" lay-verify="required" maxlength="30" placeholder="请输入"
          autocomplete="off" class="layui-input" />
      </div>
    </div>
 <div class="layui-form-item">
      <label class="layui-form-label layui-form-label-dry">进货金额<span class="red">*</span></label>
      <div class="layui-input-inline">
        <input type="text" name="amount" id="amount" lay-verify="required" maxlength="30" placeholder="请输入"
          autocomplete="off" class="layui-input" />
      </div>
    </div>
<div class="layui-form-item">
	  <label class="layui-form-label layui-form-label-dry">备注</label>
	  <div class="layui-input-inline">
	    <textarea  name="remark" id="remark" style="width: 300px; height: 150px;" autocomplete="off"
	      class="layui-textarea"></textarea>
	  </div>
	</div>


    <div class="layui-form-item">
      <label class="layui-form-label layui-form-label-dry">进货单据</label>
      <div class="layui-input-inline">
        <div class="layui-upload">
          <button type="button" class="layui-btn" id="photo1-btn">
            上传图片
          </button>
          <div class="layui-upload-list" id="imgshow">
            <img style="max-width: 300px; max-height: 300px;" class="layui-upload-img" id="photo1-img" />
          </div>
        </div>
      </div>
      <input type="hidden" name="photo1" id="photo1" autocomplete="off" class="layui-input" />
    </div>

    <!-- layui-hide -->
    <div class="layui-form-item layui-hide">
      <input type="button" lay-submit lay-filter="layuiadmin-app-form-submit" id="layuiadmin-app-form-submit"
        value="确认添加" />
      <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit"
        value="确认编辑" />
    </div>
  </div>
  <script src="../../../layuiadmin/lib/jquery.js"></script>
  <script>
  	    $("#imgshow").on('click','#photo1-img',function(){
  			var _this = $(this);
			var t=$('#imgshow').offset().top-200
			$("#outerdiv").css("padding-top",t+"px");
  			 $("#bigimg").attr("src", _this.attr("src"));
  			$("#outerdiv").fadeIn("fast");
  			$("#outerdiv").click(function(){//再次点击淡出消失弹出层
  			    $(this).fadeOut("fast");
  			});
  		})
  </script>
  <script src="../../../layuiadmin/layui/layui.js"></script>
  <script>
    layui
      .config({
        base: "../../../layuiadmin/", //静态资源所在路径
      })
      .extend({
        index: "lib/index", //主入口模块
      })
      .use(["index", "form", "laydate", "upload", "api", "tag"], function () {
        var $ = layui.$,
          form = layui.form,
          upload = layui.upload,
		  laydate = layui.laydate,
          baseUrl = layui.api.baseUrltest,
          imgurl = layui.api.imgurl,
		  imgUpurl=layui.api.imgUpurl,
          tag = layui.tag;
		  laydate.render({
		    elem: "#buyTime",
		    type: 'datetime'
		  });
        console.log("tag_______________", tag);
        //缩略图上传
      ///////////////////////////
        	 var params = {}
        	 params.status = 1
        	$.ajax({
        		  type: "GET",
        		  url: layui.api.baseUrltest+ "/ty/heatingAdmin/admin/agentDetail/query",
        		  data: params,
        		  contentType: "application/json",
        		  headers: {
        			token: sessionStorage.getItem("token")
        		  },
        		  dataType: "json",
        		  success: function (data) {
        			
        			  var list=data.result.list
        			 
        			 var cateTempSeach = '<option value="">请选择</option>'; 			 
        			 for (var i = 0; i < data.result.count; i++) {
        				// cateTempSeach += '<option value="' + list[i].id + '">' + list[i].typeName + '</option>'   
        				 // if(slid==list[i].id)
        				 // { $('#agentId').append('<option selected="selected" value="' + list[i].id + '">' + list[i].typeName + '</option>')}
        				 
      					  $('#agentId').append('<option  value="' + list[i].id + '">' + list[i].name + '</option>')
        				 
        			 }	
        			
        			
        		
        			layui.use('form', function() {
        				var form = layui.form;				
        				form.render();
        			});
        			
        		
        		  }	  
        	});
      /////////////////////////////////
        var uploadInst = upload.render({
          elem: "#photo2-btn",
          url: imgUpurl,
          before: function (obj) {
            //预读本地文件示例，不支持ie8
            obj.preview(function (index, file, result) {
              $("#photo2-img").attr("src", result); //图片链接（base64）
            });
          },
          data: {
            "oldFilePath": $("#photo2").val()
          },
          done: function (res) {
            console.log("res", res.result);
            if (res.status == "0000") {
				
              $("#photo2").val(res.result);

              return layer.msg("图片上传成功");
            } else {
              return layer.msg("图片上传失败");
            }
          },
          error: function () {
            //演示失败状态，并实现重传
            var demoText = $("#bigimages-normal-demoText");
            demoText.html(
              '<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>'
            );
            demoText.find(".demo-reload").on("click", function () {
              uploadInst.upload();
            });
          },
        });
       
        //设备图上传
        var temImg1 = ''
        var uploadInst1 = upload.render({
          elem: "#photo1-btn",
          url: layui.api.imgUpurl,
          before: function (obj) {
            //预读本地文件示例，不支持ie8
           obj.preview(function (index, file, result) {
             $("#photo1-img").attr("src", result); //图片链接（base64）
           });
          },
          data: {
            "oldFilePath": temImg1,
			"token": sessionStorage.getItem("token")
          },
          done: function (res) {
           

			console.log("res", res.result);
			if (res.status == "0000") {
				
			  $("#photo1").val(res.result);
			
			  return layer.msg("图片上传成功");
			} else {
			  return layer.msg("图片上传失败");
			}
          },
          error: function () {
            //演示失败状态，并实现重传
            var demoText = $("#bigimages-normal-demoText");
            demoText.html(
              '<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>'
            );
            demoText.find(".demo-reload").on("click", function () {
              uploadInst1.upload();
            });
          },
        });


        //监听提交
        form.on("submit(layuiadmin-app-form-submit)", function (data) {
            var field = data.field;
			var index = parent.layer.getFrameIndex(window.name); 	
			var msg = ' '		
			var subUrl = '/ty/heatingAdmin/admin/receipt/update'			
			var param = {}
			param.id = field.id			
			param.agentId = field.agentId
			param.cargoNum = field.cargoNum
			param.amount = field.amount		
			
			param.receipts	 = field.photo1
			param.remark = field.remark		
			param.buyTime = field.buyTime
		  
			$.ajax({
					type: "PUT",
					url: layui.api.baseUrltest + subUrl,
					data: JSON.stringify(param),
					contentType: "application/json",
					headers: {
						token: sessionStorage.getItem("token")
					},
								dataType: "json",
								success: function (data) {
									if (data.status == "0000") {
									  layer.msg(data.message);				 
									 setTimeout(function () {
									   parent.layui.table.reload('LAY-app-content-list'); //重载表格
									   parent.layer.close(index); //再执行关闭 
									 }, 1000)
									 
									} else if (data.status == "4031") {
									  layer.msg(data.message);
									  setTimeout(function () {
									    window.parent.parent.location.href = '../../user/login.html';
									  }, 2000)
									} else {
									  layer.msg('失败' + data.message)
									}
									 parent.layer.closeAll("loading");				 
					},
			});
						 
        });
      });
  </script>
</body>

</html>