<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		 <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<script src="bdist/js/jquery.min.js"></script>
		<script src="bdist/js/bootstrap.min.js"></script>		
		<script src="bdist/js/jquerysession.js"></script>
		<script src="bdist/js/sess.js"></script>
		<script src="bdist/js/app.js"></script>
		<script src="bdist/js/swal.js"></script>
		<link rel="stylesheet" href="bdist/css/swal.css">
		<link rel="stylesheet" href="bdist/css/bootstrap.min.css" >
		<link rel="stylesheet" href="bdist/css/sign.css" > 		 
	</head>
	<body>
		<form class="form-signin"  action="" method="post">
		 
		<label style="color:#666666">当前密码</label>
		<input type="password" name="inputM" id="inputM" class="form-control mb-3 login-input" required >				
		<label style="color:#666666">新密码</label>
			<input type="password" id="inputP" class="form-control mb-3 login-input"  >
		<label style="color:#666666">确认新密码</label>
			<input type="password" id="inputPs" class="form-control mb-3 login-input"  >		
		<button class="btn btn-lg btn-warning btn-block " type="button" style="font-size: inherit;">重置密码</button> 
		 </form>
	</body>
</html>
<script type="text/javascript">
$("#inputM").attr("type","text").val("请输入当前密码").css({"color":"#CCCCCC"})
	$("#inputP").attr("type","text").val("请输入密码").css({"color":"#CCCCCC"});
	$("#inputPs").attr("type","text").val("请确认新密码").css({"color":"#CCCCCC"});
	$('input:text').each(function(){
	    var txt = $(this).val();     
		
	    $(this).focus(function(){		
	        if(txt === $(this).val()) 
			{
				//$(this).val("");
			    if(txt==="请输入当前密码")
				{
					$(this).attr("type","password").val("");
				}
				if(txt==="请输入密码")
				{
					$(this).attr("type","password").val("");
				}
					if(txt==="请确认新密码")
					{
						$(this).attr("type","password").val("");
					}	
				
			}		
		})
	 });
walletInfo()	

$("button").click(function(){
	var str = '';
	
	 if($.trim($('#inputP').val()).length == 0 || $.trim($('#inputPs').val()).length == 0) {
	      str += '密码没有输入\n';	  
	 }
	 if(str != '') {
		 swal({
		   title: "",
		   text: str,
		   type: "",	       
		   confirmButtonColor: "#FFCB4F",
		   confirmButtonText: "知道了",
		   closeOnConfirm: false
		  }
		 );		
		 
		  return false;
	 }
	 else
	 {
		  var parpam ={}
		  parpam.token =$.session.get('token');		 
		  parpam.password = $.trim($('#inputM').val());
		  parpam.newPassword = $.trim($('#inputPs').val());
		  parpam.phone = $.session.get('phone');	
		  //console.log(JSON.stringify(parpam))			 
		  $.ajax({
		  			type: 'POST',
		  			url: url+"/ty/incrementHf/user/resetPasswordOnline",
		  			data: JSON.stringify(parpam),	
		  			contentType: "application/json",	
		  			dataType: "json",
					headers: {
					  token: $.session.get('token')
					},	
		  			success: function(data){
		  				if(data.status=="0000")
						{
							$(location).attr('href', '/');
						}
						else
						{
							swal({
							  title: "",
							  text: data.message,
							  type: "",	       
							  confirmButtonColor: "#FFCB4F",
							  confirmButtonText: "知道了",
							  closeOnConfirm: false
							 }
							);		
						}
		  			}
		  });
	  }
})


</script>