<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		 <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<script src="bdist/js/jquery.min.js"></script>
		<script src="bdist/js/bootstrap.min.js"></script>
		<script src="bdist/js/jquerysession.js"></script>
		<script src="bdist/js/app.js"></script>
		<script src="bdist/js/swal.js"></script>
		<link rel="stylesheet" href="bdist/css/swal.css">
		<link rel="stylesheet" href="bdist/css/bootstrap.min.css" >
		<link rel="stylesheet" href="bdist/css/sign.css" > 
		 
	</head>
	<body>
		<form class="form-signin pt-5" onsubmit="return validate_form(this)" action="" method="post">
		 <h3 class=" mb-3 font-weight-normal">忘记密码</h1>
		<label style="color:#666666">手机号</label>
		<input type="text" name="inputM" id="inputM" class="form-control mb-3 login-input" required >
			<label class="mt-3" style="color:#666666">短信验证码</label>
			<div class="input-group mb-4" style="border-bottom: solid 1px #F2F2F2!important;">
			  <input type="number" id="inputC" aria-label="First name" class="form-control login-input"  style="border: none!important;">
			  <div class="input-group-prepend">
			    <span class="mt-2"  onclick="gcode(this)" style="color:#4C7EE5">获取验证码</span>
			  </div>
			</div>		
		<label style="color:#666666">新密码</label>
			<input type="password" id="inputP" class="form-control mb-3 login-input"  >
		<label style="color:#666666">确认新密码</label>
			<input type="password" id="inputPs" class="form-control mb-3 login-input"  >		
		<button class="btn btn-lg btn-warning btn-block " type="button">重置密码</button> 
		 </form>
	</body>
</html>
<script type="text/javascript">
$(document).ready(function(){
	$("#inputM").attr("type","text").val("请输入手机号").css({"color":"#CCCCCC"})
	$("#inputP").attr("type","text").val("请输入密码").css({"color":"#CCCCCC"});
	$("#inputPs").attr("type","text").val("请确认新密码").css({"color":"#CCCCCC"});
	$("#inputC").attr("type","text").val("请输入验证码").css({"color":"#CCCCCC"});
	$('input:text').each(function(){
	    var txt = $(this).val();     
	    $(this).focus(function(){		
	        if(txt === $(this).val()) 
			{
				//$(this).val("");
			    if(txt==="请输入手机号")
				{
					$(this).attr("type","number").val("");
				}
				if(txt==="请输入密码")
				{
					$(this).attr("type","password").val("");
				}	
				if(txt==="请确认新密码")
				{
					$(this).attr("type","password").val("");
				}
				if(txt==="请输入验证码")
				{
					$(this).attr("type","number").val("");
				}
				
				
			}		
		})
	 })	
})

function gcode(txt)
{
	var str = '';
	if($.trim($('#inputM').val()).length == 0) {
	  str += '手机号码没有输入\n';
	  $('#inputM').focus();
	 }else {
		if(isPhoneNo($.trim($('#inputM').val()))== false){
			   str += '手机号码不正确\n';
			   $('#inputM').focus();
		}
	}
	if(str != '') {
	   swal({
	     title: "",
	     text: str,
	     type: "",	       
	     confirmButtonColor: "#FFCB4F",
	     confirmButtonText: "知道了",
	     closeOnConfirm: false
	    }
	   );
	   return false;
	}
	else
	{
	   /////////////
	   var parpam ={}
	   parpam.phone=$('#inputM').val();	
	   parpam.status=1;
	  
	    $.post(url+"/ty/incrementAdmin/sedSms/installationApplyForH5",parpam,function(data){
	        if(data.status=="0000")
	            daojishi(60,txt)
	        else
	             {
	             	swal({
	             	  title: "",
	             	  text: data.message,
	             	  type: "",	       
	             	  confirmButtonColor: "#FFCB4F",
	             	  confirmButtonText: "知道了",
	             	  closeOnConfirm: false
	             	 }
	             	);
	             }			
	     }, "json");
	  
	   /////////////
	}
}
$(".btn-block").click(function(){
	var str = '';
	if($.trim($('#inputM').val()).length == 0) {
		  str += '手机号码没有输入\n';
		  $('#inputM').focus();
	 }else {
		if(isPhoneNo($.trim($('#inputM').val()))== false){
			   str += '手机号码不正确\n';
			   $('#inputM').focus();
		}
	 }
	 
	  if($.trim($('#inputP').val()).length == 0 || $.trim($('#inputPs').val()).length == 0) {
	      str += '密码没有输入\n';	  
	  }
	  if(str != '') {
		  swal({
		    title: "",
		    text: str,
		    type: "",	       
		    confirmButtonColor: "#FFCB4F",
		    confirmButtonText: "知道了",
		    closeOnConfirm: false
		   }
		  );
		  return false;
	  }
	  else
	  {
		  var parpam ={}
		  parpam.captcha=$.trim($('#inputC').val());
		  parpam.phone = $.trim($('#inputM').val());
		  parpam.newPassword = $.trim($('#inputPs').val());		 
		  $.ajax({
		  			type: 'POST',
		  			url: url+"/ty/incrementHf/user/resetPassword",
		  			data: JSON.stringify(parpam),	
		  			contentType: "application/json",	
		  			//dataType: "json",
		  			success: function(data){
		  				if(data.status=="0000")
						{
							$(location).attr('href', '/');
						}
						else
						{
							 swal(data.message);
						}
		  			}
		  });
	  }
})


</script>