<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		 <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<script src="bdist/js/jquery.min.js"></script>
		<script src="bdist/js/bootstrap.min.js"></script>
		<script src="bdist/js/jquerysession.js"></script>
		<script src="bdist/js/jquery.cookie.js"></script>
		<script src="bdist/js/app.js"></script>
		<script src="bdist/js/swal.js"></script>
		<link rel="stylesheet" href="bdist/css/swal.css">
		<link rel="stylesheet" href="bdist/css/bootstrap.min.css" >
		<link rel="stylesheet" href="bdist/css/sign.css" >	
		
	</head>
	<body>
		<form class="form-signin pt-5"  action="" method="post">
		 <h3 class=" mb-4 font-weight-normal" >登录</h1>
		<label  style="color:#666666">手机号</label>
		<input type="number" name="inputM" id="inputM"  class="form-control mb-3 login-input" required >
		<label style="color:#666666">输入密码</label>
			<input type="password" id="inputP" class="form-control mb-3 login-input"  >		
		<div class="pb-3" >
		
		<p class="text-right pull-right"> 记住登录</p>
		<p class="pull-right  pr-1 "><input type="checkbox" value="1" class="rep"/></p>
		<div class="c-b"></div>			
		</div>
		<div><button class="btn btn-lg btn-warning btn-block" type="button">登录</button></div>			
		<div class="mt-3">
		<a href="forget" style="color: #d3d3d3;"><p class="text-left pull-left" >忘记密码</p></a>
		<a href="reg"><p class="text-right pull-right" style="color:#343434">注册账号</p></a>			
		</div>
		 </form>
		
	</body>
</html>
<script type="text/javascript">		   
$(document).ready(function(){
	$("#inputM").attr("type","text").val("请输入手机号").css({"color":"#CCCCCC"})
	$("#inputP").attr("type","text").val("请输入密码").css({"color":"#CCCCCC"});

	$('input:text').each(function(){    
	    var txt = $(this).val();     
	    $(this).focus(function(){		
	        if(txt === $(this).val()) 
			{
				//$(this).val("");
			    if(txt==="请输入手机号")
				{
					$(this).attr("type","number").val("");
				}
				if(txt==="请输入密码")
				{
					$(this).attr("type","password").val("");
				}	
				
			}		
		}).blur(function(){		
	// 		if($(this).val() == "")
	// 		 {
				 
	// 			 if(txt==="请输入手机号")
	// 			 {
	// 			    $("#inputM").attr("type","text").val("请输入手机号").css({"color":"#CCCCCC"})
	// 			 }
	// 			  if(txt==="请输入密码")
	// 			  {
	// 				 $("#inputP").attr("type","text").val("请输入密码").css({"color":"#CCCCCC"});
	// 			  }
	// 		 }
			
	 	}).keydown(function(){
	// 		//$(this).css({"color":"#666666"})
	// 		//$("#inputM").attr("type","text").val("请输入手机号").css({"color":"#CCCCCC"})
	// 		//$("#inputP").attr("type","text").val("请输入密码").css({"color":"#CCCCCC"});
		}) 	
	 })
    if($.cookie('isrep')==1)
	{
		
		$('#inputM').val($.cookie('phone')).css({"color":"#CCCCCC"});
		
		$('#inputP').attr("type","password").val($.cookie('pwd')).css({"color":"#CCCCCC"});;
		$('.rep').prop('checked',true);
		
	}

})
$("button").click(function(){
	
	
	var str = '';
	if($.trim($('#inputM').val()).length == 0) {
	  str += '手机号码没有输入\n';
	  $('#inputM').focus();
	 }else {
		if(isPhoneNo($.trim($('#inputM').val()))== false){
			   str += '手机号码不正确\n';
			   $('#inputM').focus();
		}
	 }
	 if($.trim($('#inputP').val()).length == 0 ) {
	       str += '密码没有输入\n';	  
	  }
	  if(str != '') {	    
	       swal({
	        title: "",
	        text: str,
	        type: "",	       
	        confirmButtonColor: "#FFCB4F",
	        confirmButtonText: "知道了",
	        closeOnConfirm: false
	       }
	      );
		  return false;
	  }
	  else
	  {
		  
		   var parpam ={}
		   parpam.phone = $.trim($('#inputM').val());
		   parpam.password = $.trim($('#inputP').val());	
		   
		   $.ajax({
		   		type: 'POST',
		   		url: "/loginForm",
		   		data: parpam,		   		
		   		dataType: "json",
		   		success: function(data){	
					if(data.status=="0000")
					{
						if($(".rep").prop("checked")==true)
						{							
							$.cookie('isrep', 1, { expires: 1 });
							$.cookie('phone', $.trim($('#inputM').val()), { expires: 1 });	
							$.cookie('pwd',   $.trim($('#inputP').val()), { expires: 1 });			
						}
						else
						{
							$.cookie('phone', null);	
							$.cookie('isrep', 0);								
						}
					   	$.session.set('uid', data.result.id);
					   	$.session.set('phone', data.result.phone);
					   	$.session.set('token', data.result.token);	
					   	$.session.set('pic', data.result.headPortrait);		
						$(location).attr('href', 'set');
					}	
					else
						{
							swal({
							  title: "",
							  text: data.message,
							  type: "",	       
							  confirmButtonColor: "#FFCB4F",
							  confirmButtonText: "知道了",
							  closeOnConfirm: false
							 }
							);
						}				   			
		   		}
		   });
	   }
	 
})

</script>