<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		 <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>常见问题</title>
		<script src="bdist/js/jquery.min.js"></script>
		<script src="bdist/js/bootstrap.min.js"></script>
		<script src="bdist/js/jquerysession.js"></script>
		<script src="bdist/js/sess.js"></script>
		<script src="bdist/js/app.js"></script>
		<script src="bdist/js/swal.js"></script>
		<link rel="stylesheet" href="bdist/css/swal.css">
		<link rel="stylesheet" href="bdist/css/bootstrap.min.css" >
		<link rel="stylesheet" href="bdist/css/pub.css" >
	</head>
	<style>
		.border-bottom {
		    border-bottom: 1px solid #F4F5F6!important;
		}		
	</style>
	<script>	
		var parpam ={}		
		parpam.token =$.session.get('token');
		parpam.phone = $.session.get('phone');		
	$.ajax({
		type: 'Get',
		url: url+"/ty/incrementHf/commonproblemCon/commonproblemConList",
		data: parpam,									
		success: function(data){
			if(data.status=="4030")
			{
				noto()
			}
			$.each(data.result.list,function(i,val){
				$(".list").append('<a href="cjwt_info?id='+val.id+'"><div  class="d-flex justify-content-between bd-highlight border-bottom ml-2 mr-2"><div class="p-2 bd-highlight">'+val.title+':'+getToDate(val.createTime)+'</div></div></a>');
			});
		}
	});	
	</script>
	<body style="background-color: #F7F7F7;color: #343434;">	
		<div  class="list mt-2 bg-f"></div>	
	</body>
</html>
