<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>反馈列表</title>
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all" />
  <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all" />
  <style type="text/css">
    .layui-form-label {
      width: 86px;
    }
  </style>
</head>

<body>
  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item"> 
		<div class="layui-inline">
		  <label class="layui-form-label">状态</label>
		  <div class="layui-input-inline">
		    <select name="status">
		        <option value="">请选择</option>
		        <option value="">全部</option>
		        <option value="1">已领取</option>
		        <option value="2">已提交</option>
				<option value="3">审核驳回</option>
				<option value="4">审核通过</option>
				<option value="5">已取消</option>
				<option value="6">超时</option>
				<option value="7">已打款</option>
		    </select>
		  </div>
		</div>	
			<div class="layui-inline">
			  <label class="layui-form-label">id</label>
			  <div class="layui-input-inline">
			    <input type="text" name="id" id="id" placeholder="请输入" autocomplete="off" class="layui-input" />
			  </div>
			</div>	 
          <div class="layui-inline">
            <label class="layui-form-label">用户id</label>
            <div class="layui-input-inline">
              <input type="text" name="userId" id="userId" placeholder="请输入" autocomplete="off" class="layui-input" />
            </div>
          </div>
		  <div class="layui-inline">
		    <label class="layui-form-label">任务id</label>
		    <div class="layui-input-inline">
		      <input type="text" name="taskId" id="taskId" placeholder="请输入" autocomplete="off" class="layui-input" />
		    </div>
		  </div>
		  <div class="layui-inline">
		      <label class="layui-form-label">开始时间</label>
		      <div
		        class="layui-input-inline"
		        style="display: flex; flex-direction: row;"
		      >
		        <input
		          type="text"
		          class="layui-input"
		          name="beginDate"
		          id="beginDate"
		          placeholder="yyyyMMdd"
		        />
		      </div>
		    </div>
			<div class="layui-inline">
			    <label class="layui-form-label">结束时间</label>
			    <div
			      class="layui-input-inline"
			      style="display: flex; flex-direction: row;"
			    >
			      <input
			        type="text"
			        class="layui-input"
			        name="endDate"
			        id="endDate"
			        placeholder="yyyyMMdd"
			      />
			    </div>
			  </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
            <button class="layui-btn layuiadmin-btn-list" data-type="add">上传打款excel</button>
		    <button class="layui-btn layuiadmin-btn-list" data-type="down">下载打款excel</button>
        </div>

        <table id="LAY-app-content-list" lay-filter="LAY-app-content-list"></table>
        <!-- <script type="text/html" id="buttonTpl">
          {{#  if(d.status ==1){ }}
            <button class="layui-btn layui-btn-xs">待推送</button>
          {{#  } else { }}
            <button class="layui-btn layui-btn-primary layui-btn-xs">已推送</button>
          {{#  } }}
        </script> -->
        <script type="text/html" id="table-content-list">
			
		<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="taskReceiveDetails"><i
		    class="layui-icon layui-icon-edit"></i>详情</a>	
	     {{#  if(d.status ==2){ }}		
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="taskReceiveAudit"><i
            class="layui-icon layui-icon-edit"></i>审核</a>
		 {{#  } }}
		  {{#  if(d.status ==4){ }}			 
		<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="updateStatusr"><i
		    class="layui-icon layui-icon-edit"></i>标记打款</a>	
		 {{#  } }}	
        </script><!--  -->
      </div>
    </div>
  </div>

  <!-- <script src="../../../layuiadmin/layui/layui.js"></script>   -->
  <script src="../../../layuiadmin/lib/jquery.js"></script>
  <script src="../../../layuiadmin/lib/layui.js"></script>
  <script>
    layui
      .config({
        base: "../../../layuiadmin/", //静态资源所在路径
      })
      .extend({
        index: "lib/index", //主入口模块
      })
      .use(
        ["index", "taskReceiveList", "table", "api", "laydate", "function", "helper"],
        function () {
          var table = layui.table,
            form = layui.form,
            $ = layui.$,
            util = layui.util,
            baseurl = layui.api.baseUrl,
            helper = layer.helper,
            laydate = layui.laydate,
            channelList = layui.function.channelList;
          console.log('helper_______', helper)
          //channelList("#cid");
          laydate.render({
            //注册时间
            elem: "#beginDate",
          });
          laydate.render({
            elem: "#endDate",
          });
          laydate.render({
            //认证时间
            elem: "#attestTimeBeg",
          });
          laydate.render({
            elem: "#attestTimeEnd",
          });

          $("#token").val(sessionStorage.getItem("token"));
          var exporturl =
            baseurl + "/qrcode/admin/user/queryUserList?isExport=1";
          $("#form_submit").attr("action", exporturl);
          layui.use("form", function () {
            //调用ajax请求后 重新渲染表单 执行以下代码
            var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
            form.render();
          });
          //监听
          table.on("tool(LAY-app-content-list)", function (t) {			
                var e = t.data; 
	            
				if ("taskReceiveDetails" == t.event) {
				    ////////////
					layer.open({
							type: 2,
							title: "任务详情",
							content: "taskReceiveDetails.html",
							maxmin: true,
							area: ["100%", "100%"],
							//btn: ["确定", "取消"],
							yes: function (index, layero) {
							  //点击确认触发 iframe 内容中的按钮提交
							 var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit");
							 submit.click();
							},
							success: function (layero, index) {
								var body = layer.getChildFrame("body", index);
								body.contents().find("#id").val(e.id);
								body.contents().find("#userId").val(e.userId);
								body.contents().find("#taskId").val(e.taskId);
								body.contents().find("#moneyOrder").val(e.moneyOrder);
								body.contents().find("#moneyReward").val(e.moneyReward);
								body.contents().find("#missionTime").val(e.missionTime);
								body.contents().find("#lastTime").val(util.toDateString(e.lastTime, "yyyy-MM-dd HH:mm:ss"));
								if(e.status==1)
								    status="已领取"
								else if(e.status==2)
									status="已提交"
								else if(e.status==3)
									status="审核驳回"
								else if(e.status==4)
									status="审核通过"
								else if(e.status==5)
									status="已取消"
								else if(e.status==6)
									status="超时"
								body.contents().find("#status").val(status);
								body.contents().find("#createTime").val(util.toDateString(e.createTime, "yyyy-MM-dd HH:mm:ss"));
								body.contents().find("#subTime").val(util.toDateString(e.subTime, "yyyy-MM-dd HH:mm:ss"));
								body.contents().find("#sysUserId").val(e.sysUserId);
								body.contents().find("#auditTime").val(util.toDateString(e.auditTime, "yyyy-MM-dd HH:mm:ss"));
								body.contents().find("#remark").val(e.remark);
								body.contents().find("#pheone").val(e.pheone);
								
							}
				   });
				   /////////
				}
				if ("taskReceiveAudit" == t.event) {
					layer.open({
												type: 2,
												title: "任务审核",
												content: "taskReceiveAudit.html",
												maxmin: true,
												area: ["100%", "100%"],
												btn: ["确定", "取消"],
												yes: function (index, layero) {
												  //点击确认触发 iframe 内容中的按钮提交
												 var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit");
												 submit.click();
												},
												success: function (layero, index) {
												var body = layer.getChildFrame("body", index);
												body.contents().find("#id").val(e.id);
												body.contents().find("#tId").val(e.status);
												body.contents().find("#remark").val(e.remark);	
												}
					});
				}
				if ("updateStatusr" == t.event) {					
					var param = {}
					param.receiveId = e.id						
					$.ajax({
						  type: "POST",
						  url: layui.api.baseUrl + mUrl + "/manager/task/updateStatus",
						  data: JSON.stringify(param),
						  contentType: "application/json",
						  headers: {
							token: sessionStorage.getItem("token")
						  },
						  dataType: "json",
						  success: function (data) {
							   alert(data.message)											
								  //table.reload("LAY-app-content-list", {});
						  }
					});		
				}	
          });

          //监听搜索
          form.on("submit(LAY-app-contlist-search)", function (data) {
            var field = data.field;
            // $("#nickName2").val(field.nickName);
            // $("#id2").val(field.id);
            // $("#statusApi2").val(field.statusApi);
            // $("#beginDate2").val(field.beginDate);
            // $("#endDate2").val(field.endDate);
            // $("#attestTimeBeg2").val(field.attestTimeBeg);
            // $("#attestTimeEnd2").val(field.attestTimeEnd);
            // $("#name2").val(field.name);
            // $("#regType2").val(field.regType);
            // $("#cid2").val(field.cid);
            //执行重载
            table.reload("LAY-app-content-list", {
              where: field,
            });
          });

       var $ = layui.$, active = {
         //新增菜单
         add: function () {
             layer.open({
             		type: 2,
             		title: "上传打款excel",
             		content: "uploadExcel.html",
             		maxmin: true,
             		area: ["100%", "100%"],
             		btn: ["确定", "取消"],
             		yes: function (index, layero) {
             							  //点击确认触发 iframe 内容中的按钮提交
             							 var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit");
             							 submit.click();
             							},
             							success: function (layero, index) {
             								
             							}
             });
         },
		 down: function () {
			 window.open('http://101.200.129.62:8082/ty/incrementAdmin/manager/task/downloadPendingPayment?token='+sessionStorage.getItem("token"));
		    
		 },
       };

          $(".layui-btn.layuiadmin-btn-list").on("click", function () {
            var type = $(this).data("type");
            active[type] ? active[type].call(this) : "";
          });
        }
      );
  </script>
</body>

</html>