<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>注册用户列表</title>
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all" />
  <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all" />
  <style type="text/css">
    .layui-form-label {
      width: 86px;
    }
  </style>
</head>

<body>
  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">昵称</label>
            <div class="layui-input-inline">
              <input type="text" name="name" id="name" placeholder="请输入" autocomplete="off" class="layui-input" />
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-inline">
              <input type="text" name="phone" id="phone" placeholder="请输入" autocomplete="off" class="layui-input" />
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">邀请码</label>
            <div class="layui-input-inline">
              <input type="text" name="invCode" id="invCode" placeholder="请输入" autocomplete="off" class="layui-input" />
            </div>
          </div>

          <!-- <div class="layui-inline">
              <label class="layui-form-label">注册开始时间</label>
              <div
                class="layui-input-inline"
                style="display: flex; flex-direction: row;"
              >
                <input
                  type="text"
                  class="layui-input"
                  name="beginDate"
                  id="beginDate"
                  placeholder="yyyyMMdd"
                />
              </div>
            </div> -->
          <!-- <div class="layui-inline">
              <label class="layui-form-label">注册结束时间</label>
              <div
                class="layui-input-inline"
                style="display: flex; flex-direction: row;"
              >
                <input
                  type="text"
                  class="layui-input"
                  name="endDate"
                  id="endDate"
                  placeholder="yyyyMMdd"
                />
              </div>
            </div> -->

          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
			<button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-research">
			  <i class="layui-icon layui-icon-search layuiadmin-button-btn">重置</i>
			</button>
          </div>
        </div>
      </div>

      <div class="layui-card-body">
        <!-- <div style="padding-bottom: 10px;">
          <button class="layui-btn layuiadmin-btn-list" data-type="add">新增</button>
        </div> -->

        <table id="LAY-app-content-list" lay-filter="LAY-app-content-list"></table>
        <!-- <script type="text/html" id="buttonTpl">
          {{#  if(d.status ==1){ }}
            <button class="layui-btn layui-btn-xs">待推送</button>
          {{#  } else { }}
            <button class="layui-btn layui-btn-primary layui-btn-xs">已推送</button>
          {{#  } }}
        </script> -->
        <script type="text/html" id="table-content-list">
              <!-- {{#  if(d.statusApi ==1){ }}
              <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="switch"><i class="layui-icon layui-icon-pause"></i>冻结</a>
              {{#  } else if(d.statusApi ==2) { }}
              <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="switch"><i class="layui-icon layui-icon-play"></i>启用</a>
              {{#  } }} -->
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detailUser"><i
            class="layui-icon layui-icon-edit"></i>用户详情</a>
			
        </script>
      </div>
    </div>
  </div>

  <!-- <script src="../../../layuiadmin/layui/layui.js"></script>   -->
  <script src="../../../layuiadmin/lib/jquery.js"></script>
  <script src="../../../layuiadmin/lib/layui.js"></script>
  <script>
    layui
      .config({
        base: "../../../layuiadmin/", //静态资源所在路径
      })
      .extend({
        index: "lib/index", //主入口模块
      })
      .use(
        ["index", "userList", "table", "api", "laydate", "function", "helper"],
        function () {
          var table = layui.table,
            form = layui.form,
            $ = layui.$,
            util = layui.util,
            baseurl = layui.api.baseUrl,
            helper = layer.helper,
            laydate = layui.laydate,
            channelList = layui.function.channelList;
          console.log('helper_______', helper)
          //channelList("#cid");
          laydate.render({
            //注册时间
            elem: "#beginDate",
          });
          laydate.render({
            elem: "#endDate",
          });
          laydate.render({
            //认证时间
            elem: "#attestTimeBeg",
          });
          laydate.render({
            elem: "#attestTimeEnd",
          });

          $("#token").val(sessionStorage.getItem("token"));
          var exporturl =
            baseurl + "/qrcode/admin/user/queryUserList?isExport=1";
          $("#form_submit").attr("action", exporturl);
          layui.use("form", function () {
            //调用ajax请求后 重新渲染表单 执行以下代码
            var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
            form.render();
          });
		  form.on("submit(LAY-app-contlist-research)", function (data) {
		  			    	  						
		  				 $("#beginDate").val("");
		  				 $("#endDate").val("");			  				 
		  				 $("#phone").val("");
		  						 $("#invCode").val("");
		  						 $("#name").val("");
		  						
		  			     form.render();
		  });
          //监听
          table.on("tool(LAY-app-content-list)", function (t) {
            var e = t.data;
			if ("detailEdit" == t.event) {
				layer.open({
						type: 2,
					    title: "修改用户供货源权限",
						content: "detailEdit.html",
						maxmin: true,
						area: ["100%", "100%"],
						btn: ["确定", "取消"],
						yes: function (index, layero) {
											  //点击确认触发 iframe 内容中的按钮提交
						var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit");
						 submit.click();
						},
						success: function (layero, index) {
							var body = layer.getChildFrame("body", index);
							body.contents().find("#id").val(e.id);
					        body.contents().find("#jurisdiction").val(e.jurisdiction);
							console.log(e.jurisdiction)
						}
				});
			}
            //用户详情
            if ("detailUser" == t.event) {
              $.ajax({
                type: "GET",
                url: baseurl + "/ty/heatingAdmin/admin/equip/userDetail",
                data: {
                  userId: e.id,
                },
                headers: {
                  token: sessionStorage.getItem("token"),
                },
                dataType: "json",
                success: function (data) {
                  if (data.status == "4031") {
                    layer.msg(data.message);
                    setTimeout(function () {
                      window.parent.parent.location.href =
                        "../../user/login.html";
                    }, 2000);
                    return false;
                  }
                  if (data.status != "0000") {
                    layer.msg(data.message);
                  } else if (data.status == "0000") {
                    console.log('user_detail___', data.result.user, data.result.wallet);
                    layer.open({
                      type: 2,
                      title: "用户详情",
                      content: "userDetail.html",
                      maxmin: true,
                      area: ["100%", "100%"],
                     // btn: ["确定", "取消"],
                      yes: function (index, layero) {
                        //点击确认触发 iframe 内容中的按钮提交
                        var submit = layero
                          .find("iframe")
                          .contents()
                          .find("#layuiadmin-app-form-submit");
                        submit.click();
                      },
                      success: function (layero, index) {
                        var body = layer.getChildFrame("body", index);
                        body.contents().find("#id").val(t.data.id);
                        // data.result.user
                        // data.result.wallet
                        var user = data.result.user
                        var wallet = data.result.wallet
                        body.contents().find("#name").val(user.name);
                        body.contents().find("#phone").val(user.phone);

                        body.contents().find("#createTime").val(util.toDateString(user.createTime, "yyyy-MM-dd HH:mm:ss"));
                        body.contents().find("#loginDate").val(util.toDateString(user.loginDate, "yyyy-MM-dd HH:mm:ss"));
                        body.contents().find("#invCode").val(user.invCode);
                        body.contents().find("#openid").val(user.openid);
                        //
                        body.contents().find("#id").val(wallet.id);
                        body.contents().find("#userId").val(wallet.userId);
                        if (wallet.amount > 0) {
                          var amount = wallet.amount / 100;
                          body.contents().find("#amount").val(amount.tofixed(2)); //累计获得金额:分
                        } else {
                          body.contents().find("#amount").val('0');
                        }

                        if (wallet.balance > 0) {
                          var balance = wallet.balance / 100
                          body.contents().find("#balance").val(balance.tofixed(2));
                        } else {
                          body.contents().find("#balance").val('0');
                        }

                        if (wallet.frozen > 0) {
                          var frozen = wallet.frozen / 100
                          body.contents().find("#frozen").val(frozen.tofixed(2));
                        } else {
                          body.contents().find("#frozen").val('0');
                        }

                        // body.contents().find("#balance").val(helper.numberFormat(wallet.balance/ 100, 3)); //余额:分
                        body.contents().find("#countOne").val(wallet.countOne);
                        body.contents().find("#countTwo").val(wallet.countTwo);

                        body.contents().find("#userName").val(wallet.userName);
                        body.contents().find("#bankName").val(wallet.bankName);
                        body.contents().find("#bankCardNo").val(wallet.bankCardNo);
                        body.contents().find("#invites").val(wallet.invites);
                        console.log(data.result)





                        //  body.contents().find("#updTime").val(util.toDateString(t.data.updTime,"yyyy-MM-dd HH:mm:ss"));
                      },
                    });
                  }
                },
              });
            }
          });

          //监听搜索
          form.on("submit(LAY-app-contlist-search)", function (data) {
            var field = data.field;
            // $("#nickName2").val(field.nickName);
            // $("#id2").val(field.id);
            // $("#statusApi2").val(field.statusApi);
            // $("#beginDate2").val(field.beginDate);
            // $("#endDate2").val(field.endDate);
            // $("#attestTimeBeg2").val(field.attestTimeBeg);
            // $("#attestTimeEnd2").val(field.attestTimeEnd);
            // $("#name2").val(field.name);
            // $("#regType2").val(field.regType);
            // $("#cid2").val(field.cid);
            //执行重载
            table.reload("LAY-app-content-list", {
              where: field,
            });
          });

          var $ = layui.$,
            active = {
              // batchdel: function(){
              //   // alert('2')
              //   var checkStatus = table.checkStatus('LAY-app-content-list')
              //   ,checkData = checkStatus.data; //得到选中的数据
              //   if(checkData.length === 0){
              //     return layer.msg('请选择数据');
              //   }
              //   layer.confirm('确定删除吗？', function(index) {
              //     //执行 Ajax 后重载
              //     /*
              //     admin.req({
              //       url: 'xxx'
              //       //,……
              //     });
              //     */
              //     table.reload('LAY-app-content-list');
              //     layer.msg('已删除');
              //   });
              // },
            };

          $(".layui-btn.layuiadmin-btn-list").on("click", function () {
            var type = $(this).data("type");
            active[type] ? active[type].call(this) : "";
          });
        }
      );
  </script>
</body>

</html>