<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>提现规则</title>
		<script src="bdist/js/jquery.min.js"></script>
		<script src="bdist/js/bootstrap.min.js"></script>
		<script src="bdist/js/jquerysession.js"></script>
		<script src="bdist/js/sess.js"></script>
		<script src="bdist/js/app.js"></script>
		<link rel="stylesheet" href="bdist/css/bootstrap.min.css" >
		<link rel="stylesheet" href="bdist/css/pub.css" >		
	</head>
	<script type="text/javascript">
		var parpam ={}	
		parpam.userId = uid;	
		$.ajax({
			type: 'Get',
			url: url+"/ty/incrementHf/flow/capitalFlow",
			data: parpam,
			dataType: "json",
			headers: {
			  token: token
			},										
			success: function(data){
				if(data.status=="4030")
				{
					noto()
				}
				else if(data.result.list.length==0)
				{
					$(".msg").show();
				}
				else
				{
					$.each(data.result.list,function(i,val){
						$(".list").append('<div class="p-3"><p style="color: #303030;">完成1元</p><p style="color: #9A9A9A;">2020-08-06</p></div>');
					});
				}
				
			}
		});		
	</script>
	<body>
		<div class="bg-f list"></div>
		<div class="nomsg w-100 t-center p-4">暂无消息</div>
	</body>
</html>
