<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<script src="bdist/js/jquery.min.js"></script>
		<script src="bdist/js/bootstrap.min.js"></script>
		<script src="bdist/js/jquerysession.js"></script>
		<script src="bdist/js/sess.js"></script>
		<link rel="stylesheet" href="bdist/css/bootstrap.min.css" >
		<link rel="stylesheet" href="bdist/css/pub.css" >
		<script src="bdist/js/app.js"></script>
		<style>			
			a{color: #303030;}
			a:link {	  
			text-decoration: none;
			}
			.t-a-c{text-align: center;}			
			.c-d-7{color: #D7D7D7;}
			.c-d-70{color:#707070}
		</style>
		<script>			
			bankInfo()
			walletInfo()		
		</script>
	</head>
	<body>
		 <div class="d-flex justify-content-center bd-highlight pt-3 pb-3 bg-f">
		     <div class="p-2 bd-highlight t-a-c w-25">
		 		<p><b id="ye"></b></p>
		 		<p>余额</p>
		 	</div>
		     <div class="p-2 bd-highlight text-align t-a-c w-50">
		 		<p><b id="ljlqje"></b></p>
		 		<p>累计领取金额</p>
		 	</div>
		     <div class="p-2 bd-highlight t-a-c w-25">
		 		<p><b id="djje"></b></p>
		 		<p>冻结金额</p>
		 	</div>	    	
		 </div>
		 <div class="mt-2 bg-f">
			 <div class="d-flex justify-content-between bd-highlight border-bottom  ml-2 mr-2 p-2">
			 	<div class="p-2 bd-highlight">持卡人</div>		   
			 	<div class="p-2 bd-highlight c-d-70 userName"></div>			
			 </div> 
			 <div class="d-flex justify-content-between bd-highlight border-bottom ml-2 mr-2 p-2">
			 	<div class="p-2 bd-highlight">卡号</div>		   
			 	<div class="p-2 bd-highlight c-d-70 bankC"></div>			
			 </div>
			 <div class="d-flex justify-content-between bd-highlight border-bottom ml-2 mr-2 p-2">
			 					<div class="p-2 bd-highlight">开户行</div>		   
			 					<div class="p-2 bd-highlight c-d-70 bankN"></div>		
			 </div>
			 <div class="d-flex justify-content-between bd-highlight border-bottom ml-2 mr-2 p-2">
			 		<div class="p-2 bd-highlight">开户支行</div>		   
			 		<div class="p-2 bd-highlight c-d-70 bankB"></div>		
			 </div>
			 <div class="d-flex justify-content-between bd-highlight  ml-2 mr-2 p-2">
			 		<div class="p-2 bd-highlight">身份证号</div>		   
			 		<div class="p-2 bd-highlight c-d-70 idC"></div>		
			 </div>			 
		 </div>
		 <div class="mt-2 bg-f">
			 <a href="set_card">
			 <div class="d-flex justify-content-between bd-highlight border-bottom mt-2 ml-2 mr-2 p-2">
					<div class="p-2 bd-highlight">修改银行卡信息</div>		   
					<div class="p-2 bd-highlight c-d-7" >
						<img src="bdist/img/gengduo.png" />
					</div>						
			 </div> 
			 </a>
			<!-- <a href="set_zh_tx">
			 <div class="d-flex justify-content-between bd-highlight border-bottom mt-2 ml-2 mr-2 p-2">
			 					<div class="p-2 bd-highlight">提现</div>		   
			 					<div class="p-2 bd-highlight c-d-7" >></div>						
			 </div>
			 </a> -->
			 <a href="set_zh_ls">
			  <div class="d-flex justify-content-between bd-highlight mt-2 ml-2 mr-2 p-2">
			  					<div class="p-2 bd-highlight">收益流水</div>		   
			  					<div class="p-2 bd-highlight c-d-7">
									<img src="bdist/img/gengduo.png" />
								</div>						
			  </div>
			 </a>		
		 </div>
	</body>
</html>
