<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		 <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>银行卡信息</title>
		<script src="bdist/js/jquery.min.js"></script>
		<script src="bdist/js/bootstrap.min.js"></script>
		<script src="bdist/js/jquerysession.js"></script>
		<script src="bdist/js/sess.js"></script>
		<script src="bdist/js/app.js"></script>
		<script src="bdist/js/swal.js"></script>
		<link rel="stylesheet" href="bdist/css/swal.css">
		<link rel="stylesheet" href="bdist/css/bootstrap.min.css" >
		<link rel="stylesheet" href="bdist/css/pub.css" >
		
	</head>
	<style>
		.fc{color: #9C9C9C;}
		input{border: 0px;width: 100%;text-align: right;}
	</style>
	<script>		
			    var parpam ={}
				parpam.userId = uid		
				$.ajax({
						type: 'Get',
						url: url+"/ty/incrementHf/bank/bankInfo",
						data: parpam,						
						headers: {
						  token: token
						},	
						success: function(data){
							if(data.status=="4030")
							{
								noto()
							}
							if(data.result.id>=1)  $("#id").val(data.result.id)
							$(".userName").val(data.result.userName)
							$(".idC").val(data.result.idCard)
							$(".bankC").val(data.result.bankCode)
							$(".bankN").val(data.result.bankName)
							$(".bankB").val(data.result.bankBranch)   							
						}
				});	
				function bbin(txt)
				{
					var parpamb ={}
					parpamb.cardNu = txt
					$.ajax({
						type: 'Get',
						url: url+"/ty/incrementHf/bank/carkByBin",
						data: parpamb,						
						headers: {
						  token: token
						},	
						success: function(data){
							if(data.status=="0000")
							{
								$(".bankN").val(data.result)
							}
							else					
							{
								swal({
								  title: "",
								  text: data.message,
								  type: "",	       
								  confirmButtonColor: "#FFCB4F",
								  confirmButtonText: "知道了",
								  closeOnConfirm: false
								 }
								);		
							}							
						}
					 });	
				}
				$(document).ready(function(){
					 $('.bankC').on('input propertychange', function() {//监听文本框
					       var bc=$('.bankC').val()
						  if (bc.length > 17) {
						         bbin(bc)   
						   }
					 })

					$("button").click(function(){	
						var parpam ={}
						parpam.userId = uid
						parpam.userName=$(".userName").val()
						parpam.idCard=$(".idC").val()
						parpam.bankCode=$(".bankC").val()
						parpam.bankName=$(".bankN").val()
						parpam.bankBranch=$(".bankB").val()	
						if($("#id").val()!=null) parpam.id=$("#id").val()				
						$.ajax({
								type: 'POST',
								url: url+"/ty/incrementHf/bank/upBankInfo",
								data: JSON.stringify(parpam),
								contentType: "application/json",
								headers: {
								  token: token
								},	
								success: function(data){
								   swal({
								     title: "",
								     text: data.message,
								     type: "",	       
								     confirmButtonColor: "#FFCB4F",
								     confirmButtonText: "知道了",
								     closeOnConfirm: false
								    }
								   );									
								}
						});				
					})
		        });			
		
	</script>
	<body>		
	 <input type="hidden" id="id" />
		<div class="mt-2 bg-f">
				<div class="d-flex justify-content-between bd-highlight border-bottom ml-3 mr-3">
					<div class="pt-3 pb-3 bd-highlight">持卡人</div>		   
					<div class="pt-3 pb-3 bd-highlight fc">
						<input class="userName"/>
					</div>			
				</div> 
		     <div class="d-flex justify-content-between bd-highlight border-bottom ml-3 mr-3">
					<div class="pt-3 pb-3 bd-highlight">卡号</div>		   
					<div class="pt-3 pb-3 bd-highlight fc">
						<input  class="bankC"/>
					</div>			
			 </div>  
			 <div class="d-flex justify-content-between bd-highlight border-bottom ml-3 mr-3">
					<div class="pt-3 pb-3 bd-highlight">开户行</div>		   
					<div class="pt-3 pb-3 bd-highlight fc">
						<input class="bankN"/>
					</div>		
			 </div>
			 <div class="d-flex justify-content-between bd-highlight border-bottom ml-3 mr-3">
			 		<div class="pt-3 pb-3 bd-highlight">开户支行</div>		   
			 		<div class="pt-3 pb-3 bd-highlight fc">
						<input class="bankB"/>
					</div>		
			 </div>
			 <div class="d-flex justify-content-between bd-highlight border-bottom ml-3 mr-3">
			 		<div class="pt-3 pb-3 bd-highlight">身份证号</div>		   
			 		<div class="pt-3 pb-3 bd-highlight fc">
						<input class="idC" />
					</div>		
			 </div>
		 </div>		 
		<div class="mt-3" style="width: 96%; margin: auto;">
					 <button class="btn btn-lg btn-warning w-100" style="font-size: inherit;" type="button">确认保存</button>
		</div>
		  
	</body>
</html>
