@charset "utf-8";
#row101 {padding-top:7.291666666666667vw;}
#row101 {padding-right:12.539184952978054%;}
#row101 {padding-bottom:5.208333333333334vw;}
#row101 {padding-left:12.539184952978054%;}
#row101>.jz_web_row__content>.jz_web_col0{padding:0;}
#row101>.jz_web_row__content>.jz_web_col0{margin:0;}
#navbar{display: none;}
.w-90{width: 90%;}
.i-b-6-c-m,.i-b-1-m,.i-news-l-2-m,.prolist-m{display: none;}
.i-news-l-1-t{font-size: 20px;padding-top:80px ;}
.i-news-l-1-c{font-size: 14px;padding-top: 7px;padding-bottom: 30px;}
.i-news-l-1-b{color: #999;border: 1px solid #e5e5e5;border-radius: 5px;outline:none;}
.i-news-l-2-d{color: #999; font-size: 12px;}
.i-news-l-2-c{color: #666;line-height: 23px;}
.news-b-b{border-bottom: 1px solid #EEEEEE;padding: 25px;}
.news_list_item_t{font-size: 16px;}
.news_list_item_summery {
				    margin-top: 18px;
				    font-size: 14px;
				    color: #666;
				    line-height: 1.7;
}
.news_list_item_group_item {
				    display: inline-block;
				    position: relative;
				    height: 26px;
				    line-height: 26px;
				    max-width: 100%;
				    padding: 0 8px;
				    border: 1px solid #e5e5e5;
				    margin-top: 12px;
				    margin-right: 15px;
				    -webkit-border-radius: 5px;
				    -moz-border-radius: 5px;
				    border-radius: 5px;
				    color: #999;
				    font-size: 12px;
				    word-break: keep-all;
				    overflow: hidden;
				    z-index: 2;
				}
.pro-bd-highlight:hover{border-radius: .25rem!important;box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;color: #52b548;}				
.i-lx-l-1-t{font-size: 20px;padding-top:80px ;}	
.i-lx-l-1-c{font-size: 14px;padding-top: 7px;padding-bottom: 30px;color:#666666;}	
.i-lx-l-1-cc{font-size: 14px;padding-bottom: 30px;color:#666666;max-width: 820px;line-height: 30px;}
.i-lx-l-1-cont{padding-top: 60px;padding-left: 60px;}
.i-lx-l-1-cont1{padding-bottom: 30px;}	
	
.i-about-l-1-cont{padding-top: 60px;padding-left: 60px;}
.i-about-l-1-cont1{padding-top: 30px;}	
.i-about-p-list{padding-top: 70px; padding-bottom: 70px;}
.i-about-p-list img{height: 230px;}
.i-about-p-list li{font-size: 16px;list-style: none;text-align: left;padding-top: 20px;padding-bottom: 10px;}
@media screen and (max-width: 768px) {
	#navbar{display: block}
	.i-b-6-c-m{display: block;}
	.i-b-1-m{display: block;}
	.prolist-m{display: block;}
	#gridHeader{display:none}
	.i-b-6-c-p{display:none}
	.i-b-1-p{display:none}	
	.prolist-p{display:none}
	.i-news-l-2{display:none}
	.i-news-l-1-t{font-size: 16px;padding-top:10px ;}
	.i-news-l-1-c{font-size: 14px;padding-top: 3px;padding-bottom: 10px;}
	.i-news-l-1-b{color: #999;border: 1px solid #e5e5e5;border-radius: 5px;outline:none;}
	.i-news-l-2-m{display: block;}
	.i-news-l-2-d{color: #999; font-size: 12px;}
	.i-news-l-2-c{color: #666;line-height: 23px;font-size: 13px;}	
	.news-b-b{border-bottom: 1px solid #EEEEEE;padding: 5px;}
	.news_list_item_t{font-size: 13px;}
	.news_list_item_summery {margin-top: 5px;font-size: 12px;}
	.news_list_item_group_item {margin-top: 5px;}
}
@media screen and (max-width: 768px) {
	.i-lx-l-1-t{font-size: 18px;padding-top:10px ;}
	.i-lx-l-1-c{font-size: 14px;padding-top: 3px;padding-bottom: 10px;color:#666666;}	
	.i-lx-l-1-cc{font-size: 14px;padding-left:10px;padding-right: 10px;padding-bottom: 30px;color:#666666;line-height: 30px;}	
	.i-lx-l-1-cont{padding-top: 10px;padding-left: 10px;}
	.i-lx-l-1-cont1{padding-bottom: 10px;}	
	.i-about-l-1-cont{padding-top: 10px;padding-left: 10px;}
	.i-about-l-1-cont1{padding-top: 10px;}	
	.i-about-p-list{padding-top: 20px; padding-bottom: 20px;}
	.i-about-p-list img{height: 130px;}
	.i-about-p-list li{font-size: 13px;list-style: none;text-align: left;padding-top: 20px;padding-bottom: 10px;}	
}

@media screen and (max-width: 768px){
#row101 {padding-top:0.0%;}
#row101 {padding-right:0.0%;}
#row101 {padding-bottom:0.0%;}
#row101 {padding-left:0.0%;}
#row101>.jz_web_row__content>.jz_web_col0{margin:0;}
}
#row103 {padding-top:0.0vw;}
#row103 {padding-right:12.539184952978054%;}
#row103 {padding-bottom:0.0vw;}
#row103 {padding-left:12.539184952978054%;}
#row103>.jz_web_row__content>.jz_web_col0{padding:0;}
#row103>.jz_web_row__content>.jz_web_col0{margin:0;}
#row103>.jz_web_row__content>.jz_web_col1{padding:0;}
#row103>.jz_web_row__content>.jz_web_col1{margin:0;}

@media screen and (max-width: 768px){
#row103 {padding-top:0.0%;}
#row103 {padding-right:0.0%;}
#row103 {padding-bottom:0.0%;}
#row103 {padding-left:0.0%;}
#row103>.jz_web_row__content>.jz_web_col0{margin:0;}
#row103>.jz_web_row__content>.jz_web_col1{margin:0;}
}
#row102 {padding-top:4.166666666666666vw;}
#row102 {padding-right:12.539184952978054%;}
#row102 {padding-bottom:2.569444444444444vw;}
#row102 {padding-left:12.539184952978054%;}
#row102>.jz_web_row__content>.jz_web_col0{padding:0;}
#row102>.jz_web_row__content>.jz_web_col0{margin:0;}
@media screen and (max-width: 768px){
#row102 {padding-top:0.0%;}
#row102 {padding-right:0.0%;}
#row102 {padding-bottom:0.0%;}
#row102 {padding-left:0.0%;}
#row102>.jz_web_row__content>.jz_web_col0{margin:0;}
}
#row104 {padding-top:0.0vw;}
#row104 {padding-right:12.539184952978054%;}
#row104 {padding-bottom:0.0vw;}
#row104 {padding-left:12.539184952978054%;}
#row104>.jz_web_row__content>.jz_web_col0{padding:0;}
#row104>.jz_web_row__content>.jz_web_col0{margin:0;}
#row104>.jz_web_row__content>.jz_web_col1{padding:0;}
#row104>.jz_web_row__content>.jz_web_col1{margin:0;}

@media screen and (max-width: 768px){
#navbar{  display:block;}	
#row104 {padding-top:0.0%;}
#row104 {padding-right:0.0%;}
#row104 {padding-bottom:0.0%;}
#row104 {padding-left:0.0%;}
#row104>.jz_web_row__content>.jz_web_col0{margin:0;}
#row104>.jz_web_row__content>.jz_web_col1{margin:0;}
}
#row105 {padding-top:2.569444444444444vw;}
#row105 {padding-right:12.539184952978054%;}
#row105 {padding-bottom:0.0vw;}
#row105 {padding-left:12.539184952978054%;}
#row105>.jz_web_row__content>.jz_web_col0{padding:0;}
#row105>.jz_web_row__content>.jz_web_col0{margin:0;}
#row105>.jz_web_row__content>.jz_web_col1{padding:0;}
#row105>.jz_web_row__content>.jz_web_col1{margin:0;}
@media screen and (max-width: 768px){
#row105 {padding-top:0.0%;}
#row105 {padding-right:0.0%;}
#row105 {padding-bottom:0.0%;}
#row105 {padding-left:0.0%;}
#row105>.jz_web_row__content>.jz_web_col0{margin:0;}
#row105>.jz_web_row__content>.jz_web_col1{margin:0;}
}
#row107 {padding-top:4.166666666666666vw;}
#row107 {padding-right:12.539184952978054%;}
#row107 {padding-bottom:0.0vw;}
#row107 {padding-left:12.539184952978054%;}
#row107>.jz_web_row__content>.jz_web_col0{padding:0;}
#row107>.jz_web_row__content>.jz_web_col0{margin:0;}
@media screen and (max-width: 768px){
#row107 {padding-top:0.0%;}
#row107 {padding-right:0.0%;}
#row107 {padding-bottom:0.0%;}
#row107 {padding-left:0.0%;}
#row107>.jz_web_row__content>.jz_web_col0{margin:0;}
}
#row106 {padding-top:4.166666666666666vw;}
#row106 {padding-right:12.539184952978054%;}
#row106 {padding-bottom:0.0vw;}
#row106 {padding-left:12.539184952978054%;}
#row106>.jz_web_row__content>.jz_web_col0{padding:0;}
#row106>.jz_web_row__content>.jz_web_col0{margin:0;}
#row106>.jz_web_row__content>.jz_web_col1{padding:0;}
#row106>.jz_web_row__content>.jz_web_col1{margin:0;}
#row106>.jz_web_row__content>.jz_web_col2{padding:0;}
#row106>.jz_web_row__content>.jz_web_col2{margin:0;}
#row106>.jz_web_row__content>.jz_web_col3{padding:0;}
#row106>.jz_web_row__content>.jz_web_col3{margin:0;}
@media screen and (max-width: 768px){
#row106 {padding-top:0.0%;}
#row106 {padding-right:0.0%;}
#row106 {padding-bottom:0.0%;}
#row106 {padding-left:0.0%;}
#row106>.jz_web_row__content>.jz_web_col0{margin:0;}
#row106>.jz_web_row__content>.jz_web_col1{margin:0;}
#row106>.jz_web_row__content>.jz_web_col2{margin:0;}
#row106>.jz_web_row__content>.jz_web_col3{margin:0;}
}
#row108 {padding-top:3.6111111111111107vw;}
#row108 {padding-right:12.539184952978054%;}
#row108 {padding-bottom:5.208333333333334vw;}
#row108 {padding-left:12.539184952978054%;}
#row108>.jz_web_row__content>.jz_web_col0{padding:0;}
#row108>.jz_web_row__content>.jz_web_col0{margin:0;}
@media screen and (max-width: 768px){
#row108 {padding-top:0.0%;}
#row108 {padding-right:0.0%;}
#row108 {padding-bottom:0.0%;}
#row108 {padding-left:0.0%;}
#row108>.jz_web_row__content>.jz_web_col0{margin:0;}
}
#row109 {background:url(//18020511.s61i.faiusr.com/2/AD0In-HLCBACGAAgwduo3wUombKxnQEwgA843AU.jpg) no-repeat center;}
#row109 {background-size:cover;}
#row109 {padding-top:10.902777777777779vw;}
#row109 {padding-right:12.539184952978054%;}
#row109 {padding-bottom:9.375vw;}
#row109 {padding-left:12.539184952978054%;}
#row109>.jz_web_row__content>.jz_web_col0{padding:0;}
#row109>.jz_web_row__content>.jz_web_col0{margin:0;}
@media screen and (max-width: 768px){
#row109 {padding-top:0.0%;}
#row109 {padding-right:0.0%;}
#row109 {padding-bottom:0.0%;}
#row109 {padding-left:0.0%;}
#row109>.jz_web_row__content>.jz_web_col0{margin:0;}
}
#row111 {background:rgba(247,247,247,1);}
#row111 {padding-top:4.166666666666666vw;}
#row111 {padding-right:10.44932079414838%;}
#row111 {padding-bottom:4.166666666666666vw;}
#row111 {padding-left:10.44932079414838%;}
#row111>.jz_web_row__content>.jz_web_col0{padding:0;}
#row111>.jz_web_row__content>.jz_web_col0{margin:0;}
#row111>.jz_web_row__content>.jz_web_col1{padding:0;}
#row111>.jz_web_row__content>.jz_web_col1{margin:0;}
#row111>.jz_web_row__content>.jz_web_col2{padding:0;}
#row111>.jz_web_row__content>.jz_web_col2{margin:0;}
#row111>.jz_web_row__content>.jz_web_col3{padding:0;}
#row111>.jz_web_row__content>.jz_web_col3{margin:0;}
@media screen and (max-width: 768px){
#row111 {padding-top:0.0%;}
#row111 {padding-right:0.0%;}
#row111 {padding-bottom:0.0%;}
#row111 {padding-left:0.0%;}
#row111>.jz_web_row__content>.jz_web_col0{margin:0;}
#row111>.jz_web_row__content>.jz_web_col1{margin:0;}
#row111>.jz_web_row__content>.jz_web_col2{margin:0;}
#row111>.jz_web_row__content>.jz_web_col3{margin:0;}
}
#row110 {padding-top:4.166666666666666vw;}
#row110 {padding-right:12.539184952978054%;}
#row110 {padding-bottom:4.166666666666666vw;}
#row110 {padding-left:12.539184952978054%;}
#row110>.jz_web_row__content>.jz_web_col0{padding:0;}
#row110>.jz_web_row__content>.jz_web_col0{margin:0;}
@media screen and (max-width: 768px){
#row110 {padding-top:0.0%;}
#row110 {padding-right:0.0%;}
#row110 {padding-bottom:0.0%;}
#row110 {padding-left:0.0%;}
#row110>.jz_web_row__content>.jz_web_col0{margin:0;}
}
#row3 {padding-top:0.0vw;}
#row3 {padding-right:0.0%;}
#row3 {padding-bottom:0.0vw;}
#row3 {padding-left:12.539184952978054%;}
#row3>.jz_web_row__content>.jz_web_col0{padding:0;}
#row3>.jz_web_row__content>.jz_web_col0{margin:0;}
#row3>.jz_web_row__content>.jz_web_col1{padding:0;}
#row3>.jz_web_row__content>.jz_web_col1{margin:0;}
@media screen and (max-width: 768px){
#row3 {padding-top:0.0%;}
#row3 {padding-right:0.0%;}
#row3 {padding-bottom:0.0%;}
#row3 {padding-left:0.0%;}
#row3>.jz_web_row__content>.jz_web_col0{margin:0;}
#row3>.jz_web_row__content>.jz_web_col1{margin:0;}
}
#row4 {background:rgba(34,34,34,1);}
#row4 {padding-top:0.0vw;}
#row4 {padding-right:0.0%;}
#row4 {padding-bottom:0.0vw;}
#row4 {padding-left:0.0%;}
#row4>.jz_web_row__content>.jz_web_col0{padding:0;}
#row4>.jz_web_row__content>.jz_web_col0{margin:0;}
@media screen and (max-width: 768px){
#row4 {padding-top:0.0%;}
#row4 {padding-right:0.0%;}
#row4 {padding-bottom:0.0%;}
#row4 {padding-left:0.0%;}
#row4>.jz_web_row__content>.jz_web_col0{margin:0;}
}
#row132 {padding-top:0.0vw;}
#row132 {padding-right:0.0%;}
#row132 {padding-bottom:0.0vw;}
#row132 {padding-left:0.0%;}
#row132>.jz_web_row__content>.jz_web_col0{padding:0;}
#row132>.jz_web_row__content>.jz_web_col0{margin:0;}
@media screen and (max-width: 768px){
#row132 {padding-top:0.0%;}
#row132 {padding-right:0.0%;}
#row132 {padding-bottom:0.0%;}
#row132 {padding-left:0.0%;}
#row132>.jz_web_row__content>.jz_web_col0{margin:0;}
}
#row133 {padding-top:0.0vw;}
#row133 {padding-right:0.0%;}
#row133 {padding-bottom:0.0vw;}
#row133 {padding-left:0.0%;}
#row133>.jz_web_row__content>.jz_web_col0{padding:0;}
#row133>.jz_web_row__content>.jz_web_col0{margin:0;}
@media screen and (max-width: 768px){
#row133 {padding-top:0.0%;}
#row133 {padding-right:0.0%;}
#row133 {padding-bottom:0.0%;}
#row133 {padding-left:0.0%;}
#row133>.jz_web_row__content>.jz_web_col0{margin:0;}
}
#module303  .module_banner{display:none;}
#module303 {margin-top:0.0vw;}
#module303 {margin-right:0.0%;}
#module303 {margin-bottom:0.0vw;}
#module303 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module303  .module_banner{display:none;}
#module303 {margin-top:2.666%;}
#module303 {margin-right:3.733%;}
#module303 {margin-bottom:1.333%;}
#module303 {margin-left:3.733%;}
}
#module301  .module_banner{display:none;}
#module301 {margin-top:2.083333333333333vw;}
#module301 {margin-right:0.0%;}
#module301 {margin-bottom:0.0vw;}
#module301 {margin-left:0.0%;}
#module301  .exhibition_product_pic_wrap{padding-bottom:100.93896713615023%;}
@media screen and (min-width: 769px){
#module301  .exhibition_show_product{margin:10px 0px;width: calc(24.99% - 0px);}
}
@media screen and (max-width: 768px){
#module301  .module_banner{display:none;}
#module301 {margin-top:0.0%;}
#module301 {margin-right:0.0%;}
#module301 {margin-bottom:0.0%;}
#module301 {margin-left:0.0%;}
}
#module304  .module_banner{display:none;}
#module304 {margin-top:0.0vw;}
#module304 {margin-right:13.636363636363635%;}
#module304 {margin-bottom:0.0vw;}
#module304 {margin-left:0.2789400278940028%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module304  .module_banner{display:none;}
#module304 {margin-top:2.666%;}
#module304 {margin-right:10.133333333333333%;}
#module304 {margin-bottom:1.333%;}
#module304 {margin-left:9.866666666666667%;}
}
#module305  .module_banner{display:none;}
#module305 {margin-top:9.23611111111111vw;}
#module305 {margin-right:29.313232830820766%;}
#module305 {margin-bottom:0.0vw;}
#module305 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module305  .module_banner{display:none;}
#module305 {margin-top:2.666%;}
#module305 {margin-right:3.733%;}
#module305 {margin-bottom:1.333%;}
#module305 {margin-left:3.733%;}
}
#module307  .module_banner{display:none;}
#module307 {margin-top:2.569444444444444vw;}
#module307 {margin-right:0.0%;}
#module307 {margin-bottom:0.0vw;}
#module307 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module307  .module_banner{display:none;}
#module307 {margin-top:2.666%;}
#module307 {margin-right:3.733%;}
#module307 {margin-bottom:1.333%;}
#module307 {margin-left:3.733%;}
}
#module308  .module_banner{display:none;}
#module308 {margin-top:4.097222222222222vw;}
#module308 {margin-right:78.31978319783198%;}
#module308 {margin-bottom:0.0vw;}
#module308 {margin-left:0.0%;}
#module308  .module_button_content{border-radius:20px;background:#fff;font-family:微软雅黑;font-size:14px;color:rgba(102,102,102,1);}
#module308  .module_button_content:hover{color:rgba(255,255,255,1);}
#module308  .module_button_content .after{background:rgba(82,181,72,1);}
#module308  .module_content{height:40px;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module308  .module_banner{display:none;}
#module308 {margin-top:2.666%;}
#module308 {margin-right:31.466666666666665%;}
#module308 {margin-bottom:1.333%;}
#module308 {margin-left:31.2%;}
}
#module309  .module_banner{display:none;}
#module309 {margin-top:0.0vw;}
#module309 {margin-right:0.0%;}
#module309 {margin-bottom:0.0vw;}
#module309 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module309  .module_banner{display:none;}
#module309 {margin-top:2.666%;}
#module309 {margin-right:3.733%;}
#module309 {margin-bottom:1.333%;}
#module309 {margin-left:3.733%;}
}
#module311  .module_banner{display:none;}
#module311 {margin-top:8.333333333333332vw;}
#module311 {margin-right:0.0%;}
#module311 {margin-bottom:0.0vw;}
#module311 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module311  .module_banner{display:none;}
#module311 {margin-top:2.666%;}
#module311 {margin-right:3.733%;}
#module311 {margin-bottom:1.333%;}
#module311 {margin-left:3.733%;}
}
#module313  .module_banner{display:none;}
#module313 {margin-top:2.569444444444444vw;}
#module313 {margin-right:5.439330543933055%;}
#module313 {margin-bottom:0.0vw;}
#module313 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module313  .module_banner{display:none;}
#module313 {margin-top:2.666%;}
#module313 {margin-right:3.733%;}
#module313 {margin-bottom:1.333%;}
#module313 {margin-left:3.733%;}
}
#module314  .module_banner{display:none;}
#module314 {margin-top:2.569444444444444vw;}
#module314 {margin-right:0.0%;}
#module314 {margin-bottom:0.0vw;}
#module314 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module314  .module_banner{display:none;}
#module314 {margin-top:2.666%;}
#module314 {margin-right:3.733%;}
#module314 {margin-bottom:1.333%;}
#module314 {margin-left:3.733%;}
}
#module315  .module_banner{display:none;}
#module315 {margin-top:0.0vw;}
#module315 {margin-right:0.2789400278940028%;}
#module315 {margin-bottom:0.0vw;}
#module315 {margin-left:12.552301255230125%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module315  .module_banner{display:none;}
#module315 {margin-top:2.666%;}
#module315 {margin-right:8.266666666666666%;}
#module315 {margin-bottom:1.333%;}
#module315 {margin-left:11.733333333333333%;}
}
#module316  .module_banner{display:none;}
#module316 {margin-top:0.0vw;}
#module316 {margin-right:6.578947368421052%;}
#module316 {margin-bottom:0.0vw;}
#module316 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module316  .module_banner{display:none;}
#module316 {margin-top:2.666%;}
#module316 {margin-right:12.0%;}
#module316 {margin-bottom:1.333%;}
#module316 {margin-left:8.0%;}
}
#module317  .module_banner{display:none;}
#module317 {margin-top:4.722222222222222vw;}
#module317 {margin-right:0.0%;}
#module317 {margin-bottom:0.0vw;}
#module317 {margin-left:8.375209380234507%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module317  .module_banner{display:none;}
#module317 {margin-top:2.666%;}
#module317 {margin-right:3.733%;}
#module317 {margin-bottom:1.333%;}
#module317 {margin-left:3.733%;}
}
#module319  .module_banner{display:none;}
#module319 {margin-top:2.569444444444444vw;}
#module319 {margin-right:0.0%;}
#module319 {margin-bottom:0.0vw;}
#module319 {margin-left:8.375209380234507%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module319  .module_banner{display:none;}
#module319 {margin-top:2.666%;}
#module319 {margin-right:3.733%;}
#module319 {margin-bottom:1.333%;}
#module319 {margin-left:3.733%;}
}
#module320  .module_banner{display:none;}
#module320 {margin-top:2.2222222222222223vw;}
#module320 {margin-right:14.40536013400335%;}
#module320 {margin-bottom:0.0vw;}
#module320 {margin-left:8.375209380234507%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module320  .module_banner{display:none;}
#module320 {margin-top:2.666%;}
#module320 {margin-right:3.733%;}
#module320 {margin-bottom:1.333%;}
#module320 {margin-left:3.733%;}
}
#module321  .module_banner{display:none;}
#module321 {margin-top:0.0vw;}
#module321 {margin-right:0.0%;}
#module321 {margin-bottom:0.0vw;}
#module321 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module321  .module_banner{display:none;}
#module321 {margin-top:2.666%;}
#module321 {margin-right:3.733%;}
#module321 {margin-bottom:1.333%;}
#module321 {margin-left:3.733%;}
}
#module323  .module_banner{display:none;}
#module323 {margin-top:2.569444444444444vw;}
#module323 {margin-right:7.810320781032078%;}
#module323 {margin-bottom:0.0vw;}
#module323 {margin-left:8.01952580195258%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module323  .module_banner{display:none;}
#module323 {margin-top:2.666%;}
#module323 {margin-right:3.733%;}
#module323 {margin-bottom:1.333%;}
#module323 {margin-left:3.733%;}
}
#module330  .module_banner{display:none;}
#module330 {margin-top:0.0vw;}
#module330 {margin-right:0.0%;}
#module330 {margin-bottom:0.0vw;}
#module330 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module330  .module_banner{display:none;}
#module330 {margin-top:2.666%;}
#module330 {margin-right:3.723404255319149%;}
#module330 {margin-bottom:1.333%;}
#module330 {margin-left:3.733%;}
}
#module331  .module_banner{display:none;}
#module331 {margin-top:0.4861111111111111vw;}
#module331 {margin-right:0.0%;}
#module331 {margin-bottom:0.0vw;}
#module331 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module331  .module_banner{display:none;}
#module331 {margin-top:2.666%;}
#module331 {margin-right:3.733%;}
#module331 {margin-bottom:1.333%;}
#module331 {margin-left:3.733%;}
}
#module324  .module_banner{display:none;}
#module324 {margin-top:0.0vw;}
#module324 {margin-right:0.0%;}
#module324 {margin-bottom:0.0vw;}
#module324 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module324  .module_banner{display:none;}
#module324 {margin-top:2.666%;}
#module324 {margin-right:3.733%;}
#module324 {margin-bottom:1.333%;}
#module324 {margin-left:3.733%;}
}
#module325  .module_banner{display:none;}
#module325 {margin-top:0.4861111111111111vw;}
#module325 {margin-right:0.0%;}
#module325 {margin-bottom:0.0vw;}
#module325 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module325  .module_banner{display:none;}
#module325 {margin-top:2.666%;}
#module325 {margin-right:3.733%;}
#module325 {margin-bottom:1.333%;}
#module325 {margin-left:3.733%;}
}
#module326  .module_banner{display:none;}
#module326 {margin-top:0.0vw;}
#module326 {margin-right:0.0%;}
#module326 {margin-bottom:0.0vw;}
#module326 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module326  .module_banner{display:none;}
#module326 {margin-top:2.666%;}
#module326 {margin-right:3.733%;}
#module326 {margin-bottom:1.333%;}
#module326 {margin-left:3.733%;}
}
#module327  .module_banner{display:none;}
#module327 {margin-top:0.4861111111111111vw;}
#module327 {margin-right:0.0%;}
#module327 {margin-bottom:0.0vw;}
#module327 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module327  .module_banner{display:none;}
#module327 {margin-top:2.666%;}
#module327 {margin-right:3.733%;}
#module327 {margin-bottom:1.333%;}
#module327 {margin-left:3.733%;}
}
#module387  .module_banner{display:none;}
#module387 {margin-top:0.0vw;}
#module387 {margin-right:0.0%;}
#module387 {margin-bottom:0.0vw;}
#module387 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module387  .module_banner{display:none;}
#module387 {margin-top:2.666%;}
#module387 {margin-right:3.733%;}
#module387 {margin-bottom:1.333%;}
#module387 {margin-left:3.733%;}
}
#module329  .module_banner{display:none;}
#module329 {margin-top:0.4861111111111111vw;}
#module329 {margin-right:0.0%;}
#module329 {margin-bottom:0.0vw;}
#module329 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module329  .module_banner{display:none;}
#module329 {margin-top:2.666%;}
#module329 {margin-right:3.733%;}
#module329 {margin-bottom:1.333%;}
#module329 {margin-left:3.733%;}
}
#module332  .module_banner{display:none;}
#module332 {margin-top:0.0vw;}
#module332 {margin-right:44.35146443514644%;}
#module332 {margin-bottom:0.0vw;}
#module332 {margin-left:45.95536959553696%;}
#module332  .module_button_content{border-radius:20px;background:#fff;font-family:微软雅黑;font-size:14px;color:rgba(102,102,102,1);}
#module332  .module_button_content:hover{color:rgba(255,255,255,1);}
#module332  .module_button_content .after{background:rgba(82,181,72,1);}
#module332  .module_content{height:40px;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module332  .module_banner{display:none;}
#module332 {margin-top:2.666%;}
#module332 {margin-right:31.2%;}
#module332 {margin-bottom:1.333%;}
#module332 {margin-left:31.2%;}
}
#module333  .module_banner{display:none;}
#module333 {margin-top:0.0vw;}
#module333 {margin-right:0.0%;}
#module333 {margin-bottom:0.0vw;}
#module333 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module333  .module_banner{display:none;}
#module333 {margin-top:2.666%;}
#module333 {margin-right:3.733%;}
#module333 {margin-bottom:1.333%;}
#module333 {margin-left:3.733%;}
}
#module335  .module_banner{display:none;}
#module335 {margin-top:2.569444444444444vw;}
#module335 {margin-right:43.16596931659693%;}
#module335 {margin-bottom:0.0vw;}
#module335 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module335  .module_banner{display:none;}
#module335 {margin-top:2.666%;}
#module335 {margin-right:3.733%;}
#module335 {margin-bottom:1.333%;}
#module335 {margin-left:3.733%;}
}
#module336  .module_banner{display:none;}
#module336 {margin-top:2.638888888888889vw;}
#module336 {margin-right:0.0%;}
#module336 {margin-bottom:0.0vw;}
#module336 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module336  .module_banner{display:none;}
#module336 {margin-top:2.666%;}
#module336 {margin-right:3.733%;}
#module336 {margin-bottom:1.333%;}
#module336 {margin-left:3.733%;}
}
#module337  .module_banner{display:none;}
#module337 {margin-top:0.0vw;}
#module337 {margin-right:0.0%;}
#module337 {margin-bottom:0.0vw;}
#module337 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module337  .module_banner{display:none;}
#module337 {margin-top:2.666%;}
#module337 {margin-right:3.733%;}
#module337 {margin-bottom:1.333%;}
#module337 {margin-left:3.733%;}
}
#module338  .module_banner{display:none;}
#module338 {margin-top:0.625vw;}
#module338 {margin-right:0.0%;}
#module338 {margin-bottom:0.0vw;}
#module338 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module338  .module_banner{display:none;}
#module338 {margin-top:2.666%;}
#module338 {margin-right:3.733%;}
#module338 {margin-bottom:1.333%;}
#module338 {margin-left:3.733%;}
}
#module339  .module_banner{display:none;}
#module339 {margin-top:0.0vw;}
#module339 {margin-right:0.0%;}
#module339 {margin-bottom:0.0vw;}
#module339 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module339  .module_banner{display:none;}
#module339 {margin-top:2.666%;}
#module339 {margin-right:3.733%;}
#module339 {margin-bottom:1.333%;}
#module339 {margin-left:3.733%;}
}
#module340  .module_banner{display:none;}
#module340 {margin-top:0.5555555555555556vw;}
#module340 {margin-right:0.0%;}
#module340 {margin-bottom:0.0vw;}
#module340 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module340  .module_banner{display:none;}
#module340 {margin-top:2.666%;}
#module340 {margin-right:3.733%;}
#module340 {margin-bottom:1.333%;}
#module340 {margin-left:3.733%;}
}
#module341  .module_banner{display:none;}
#module341 {margin-top:0.0vw;}
#module341 {margin-right:0.0%;}
#module341 {margin-bottom:0.0vw;}
#module341 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module341  .module_banner{display:none;}
#module341 {margin-top:2.666%;}
#module341 {margin-right:3.733%;}
#module341 {margin-bottom:1.333%;}
#module341 {margin-left:3.733%;}
}
#module342  .module_banner{display:none;}
#module342 {margin-top:0.5555555555555556vw;}
#module342 {margin-right:0.0%;}
#module342 {margin-bottom:0.0vw;}
#module342 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module342  .module_banner{display:none;}
#module342 {margin-top:2.666%;}
#module342 {margin-right:3.733%;}
#module342 {margin-bottom:1.333%;}
#module342 {margin-left:3.733%;}
}
#module343  .module_banner{display:none;}
#module343 {margin-top:0.0vw;}
#module343 {margin-right:0.0%;}
#module343 {margin-bottom:0.0vw;}
#module343 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module343  .module_banner{display:none;}
#module343 {margin-top:2.666%;}
#module343 {margin-right:3.733%;}
#module343 {margin-bottom:1.333%;}
#module343 {margin-left:3.733%;}
}
#module344  .module_banner{display:none;}
#module344 {margin-top:0.5555555555555556vw;}
#module344 {margin-right:0.0%;}
#module344 {margin-bottom:0.0vw;}
#module344 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module344  .module_banner{display:none;}
#module344 {margin-top:2.666%;}
#module344 {margin-right:3.733%;}
#module344 {margin-bottom:1.333%;}
#module344 {margin-left:3.733%;}
}
#module345  .module_banner{display:none;}
#module345 {margin-top:0.0vw;}
#module345 {margin-right:0.0%;}
#module345 {margin-bottom:0.0vw;}
#module345 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module345  .module_banner{display:none;}
#module345 {margin-top:2.666%;}
#module345 {margin-right:3.733%;}
#module345 {margin-bottom:1.333%;}
#module345 {margin-left:3.733%;}
}
#module349  .module_banner{display:none;}
#module349 {margin-top:1.5277777777777777vw;}
#module349 {margin-right:0.0%;}
#module349 {margin-bottom:1.5277777777777777vw;}
#module349 {margin-left:0.0%;}
@media screen and (min-width: 769px){
#module349  .news_list_img_box{width:1,   0%;}
}
@media screen and (max-width: 768px){
#module349  .module_banner{display:none;}
#module349 {margin-top:0.0%;}
#module349 {margin-right:0.0%;}
#module349 {margin-bottom:0.0%;}
#module349 {margin-left:0.0%;}
}
.jz_nav_wrap{margin-top:0.0%;}
.jz_nav_wrap{margin-right:0.0%;}
.jz_nav_wrap{margin-bottom:0.0%;}
.jz_nav_wrap{margin-left:0.0%;}
.jz_web_header .jz_nav{}
.jz_web_header .jz_nav_item{min-width:90px;height:70px; line-height:70px;}
.jz_web_header .jz_nav_item{}
.jz_web_header .nav_item_septal{}
.jz_web_header .jz_nav_layout0 .sub_nav_list,.jz_web_header .jz_nav_layout0 .three_nav_list {}
.jz_web_header .jz_nav_layout0 .sub_nav_item ,.jz_web_header .jz_nav_layout0 .three_nav_item {}
.jz_web_header  .sub_nav_list,.jz_web_header  .three_nav_list {}
.jz_web_header  .sub_nav_item ,.jz_web_header  .three_nav_item {}
.jz_mobi_header .jz_nav_item{}
.jz_mobi_header .sub_nav_item{}
.jz_mobi_header .sub_nav_item_text{}
.jz_mobi_header .three_nav_item{}
.jz_mobi_header .three_nav_item_text{}
.jz_nav_wrap{margin-top:0.0%;}
.jz_nav_wrap{margin-right:0.0%;}
.jz_nav_wrap{margin-bottom:0.0%;}
.jz_nav_wrap{margin-left:0.0%;}
.jz_web_header .jz_nav{}
.jz_web_header .jz_nav_item{}
.jz_web_header .jz_nav_item{}
.jz_web_header .nav_item_septal{}
.jz_web_header .jz_nav_layout0 .sub_nav_list,.jz_web_header .jz_nav_layout0 .three_nav_list {}
.jz_web_header .jz_nav_layout0 .sub_nav_item ,.jz_web_header .jz_nav_layout0 .three_nav_item {}
.jz_web_header  .sub_nav_list,.jz_web_header  .three_nav_list {}
.jz_web_header  .sub_nav_item ,.jz_web_header  .three_nav_item {}
.jz_mobi_header .jz_nav_item{}
.jz_mobi_header .sub_nav_item{}
.jz_mobi_header .sub_nav_item_text{}
.jz_mobi_header .three_nav_item{}
.jz_mobi_header .three_nav_item_text{}
.s_member_login{margin-top:2.34375vw;}
.s_member_login{margin-right:38.4375%;}
.s_member_login{margin-bottom:0.0vw;}
.s_member_login{margin-left:38.4375%;}
@media screen and (min-width: 769px){
.jz_website_title_wrap{margin-top:0.0vw;}
.jz_website_title_wrap{margin-right:0.0%;}
.jz_website_title_wrap{margin-bottom:0.0vw;}
.jz_website_title_wrap{margin-left:0.0%;}
}
@media screen and (max-width: 768px){
#jz_website_title .logo_wrap{ width:34.88372093023256px;}
}
@media screen and (min-width: 769px){
.jz_banner .banner_pic  .banner_pic_group{ padding-bottom:41.797283%;}
}
.jz_banner .banner_pic .banner_pic_0 .banner_pic_item{background-image: url(//18020511.s61i.faiusr.com/2/AD0In-HLCBACGAAg5pWu3wUooK3iiwUw_g44oAY.jpg);background-size:cover;background-position: 50% 50%;}
.jz_banner .banner_pic .banner_pic_1 .banner_pic_item{background-image: url(//18020511.s61i.faiusr.com/2/AD0In-HLCBACGAAgx5Wu3wUo25OK_AYw_g44oAY.jpg);background-size:cover;background-position: 50% 50%;}
@media screen and (max-width: 768px){
.jz_banner .banner_pic  .banner_pic_group{ padding-bottom:41.79728317659352%;}
.jz_banner .banner_pic .banner_pic_0 .banner_pic_item{background-image: url(//18020511.s61i.faiusr.com/2/AD0In-HLCBACGAAg5pWu3wUooK3iiwUw_g44oAY.jpg);background-size:cover;background-position: 50% 50%;}
.jz_banner .banner_pic .banner_pic_1 .banner_pic_item{background-image: url(//18020511.s61i.faiusr.com/2/AD0In-HLCBACGAAgx5Wu3wUo25OK_AYw_g44oAY.jpg);background-size:cover;background-position: 50% 50%;}
}