<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>
电采暖后台管理系统
  </title>
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all" />
  <link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all" />
  <!-- <script>
     电采暖后台管理系统
  /^http(s*):\/\//.test(location.href) || alert('请先部署到 localhost 下再访问');
  </script> -->
</head>

<body class="layui-layout-body">
  <div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header">
        <!-- 头部区域 -->
        <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item layadmin-flexible" lay-unselect>
            <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
              <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
            </a>
          </li>
          <!-- <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="http://www.layui.com/admin/" target="_blank" title="前台">
              <i class="layui-icon layui-icon-website"></i>
            </a>
          </li> -->
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;" layadmin-event="refresh" title="刷新">
              <i class="layui-icon layui-icon-refresh-3"></i>
            </a>
          </li>
          <!-- <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search" layadmin-event="serach" lay-action="template/search.html?keywords=">
          </li> -->
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
          <!-- <li class="layui-nav-item" lay-unselect>
            <a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">
              <i class="layui-icon layui-icon-notice"></i>   -->

          <!-- 如果有新消息，则显示小圆点 -->
          <!-- <span class="layui-badge-dot"></span>
            </a>
          </li> -->
          <!-- <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="theme">
              <i class="layui-icon layui-icon-theme"></i>
            </a>
          </li> -->
          <!-- <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="note">
              <i class="layui-icon layui-icon-note"></i>
            </a>
          </li> -->
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="fullscreen">
              <i class="layui-icon layui-icon-screen-full"></i>
            </a>
          </li>
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;">
              <cite id="showuser">
                <!--任务管理员--></cite>
            </a>
            <dl class="layui-nav-child">
              <!-- <dd><a lay-href="set/user/info.html">基本资料</a></dd>
               -->
              <dd>
                <a lay-href="pay/rePassword/rePassword.html">修改密码</a>
              </dd>
              <hr />
              <!-- <dd layadmin-event="logout" id="logout" style="text-align: center;"><a>退出</a></dd> -->
              <dd id="logout" style="text-align: center;"><a>退出</a></dd>
            </dl>
          </li>

          <!-- <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>
          </li> -->
          <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
            <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
          </li>
        </ul>
      </div>

      <!-- 侧边菜单 -->
      <div class="layui-side layui-side-menu">
        <div class="layui-side-scroll">
          <div class="layui-logo" lay-href="home/console.html">
            <span>
              电采暖后台管理系统</span>
          </div>
          <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
            lay-filter="layadmin-system-side-menu">
            <!-- <li data-name="user" class="layui-nav-item">
                <a href="javascript:;" lay-tips="用户" lay-direction="2">
                  <i class="layui-icon layui-icon-user"></i>
                  <cite>系统管理</cite>
                </a>
                <dl class="layui-nav-child">
                  <dd>
                    <a lay-href="pay/menu/menulist.html">菜单管理</a>
                  </dd>
                  <dd>
                    <a lay-href="pay/role/role.html">角色管理</a>
                  </dd>
                  <dd>
                    <a lay-href="app/adminuser/adminuserlist.html">员工管理</a>
                  </dd>
                  <dd><a lay-href="set/user/password.html">修改密码</a></dd>
                </dl>
              </li>  -->
          </ul>
        </div>
      </div>

      <!-- 页面标签 -->
      <div class="layadmin-pagetabs" id="LAY_app_tabs">
        <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-down">
          <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
            <li class="layui-nav-item" lay-unselect>
              <a href="javascript:;"></a>
              <dl class="layui-nav-child layui-anim-fadein">
                <dd layadmin-event="closeThisTabs">
                  <a href="javascript:;">关闭当前标签页</a>
                </dd>
                <dd layadmin-event="closeOtherTabs">
                  <a href="javascript:;">关闭其它标签页</a>
                </dd>
                <dd layadmin-event="closeAllTabs">
                  <a href="javascript:;">关闭全部标签页</a>
                </dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
          <ul class="layui-tab-title" id="LAY_app_tabsheader">
            <li lay-id="home/console.html" lay-attr="home/console.html" class="layui-this">
              <i class="layui-icon layui-icon-home"></i>
            </li>
          </ul>
        </div>
      </div>

      <!-- 主体内容 -->
      <div class="layui-body" id="LAY_app_body">
        <div class="layadmin-tabsbody-item layui-show">
          <iframe src="home/console.html" frameborder="0" class="layadmin-iframe"></iframe>

          <!-- <iframe src="pay/rePassword/rePassword.html" frameborder="0" class="layadmin-iframe"></iframe> -->
        </div>
      </div>

      <!-- 辅助元素，一般用于移动设备下遮罩 -->
      <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
  </div>
  <script src="../layuiadmin/lib/jquery.js"></script>
  <script src="../layuiadmin/layui/layui.js"></script>
  <script>
    layui
      .config({
        base: "../layuiadmin/", //静态资源所在路径
      })
      .extend({
        index: "lib/index", //主入口模块
      })
      .use(["index", "api"], function () {
        var baseurl = layui.api.baseUrl;
        var $ = layui.$;
        //获取菜单
        if (!sessionStorage.getItem("token")) {
          location.href = "./user/login.html";
        }

        //退出登陆
        $("#logout").click(function () {
          $.ajax({
            type: "POST",
            url: baseurl + "/ty/heatingAdmin/admin/signOut",
            data: {
              account: sessionStorage.getItem("account"),
              // token: sessionStorage.getItem("token")
            },
            headers: {
              token: sessionStorage.getItem("token"),
            },
            dataType: "json",
            success: function (data) {
              if (data.status == "0000") {
                sessionStorage.removeItem("token");
                sessionStorage.removeItem("account");
                sessionStorage.removeItem("id");
                layer.msg(data.message);
                setTimeout(function () {
                  location.href = "./user/login.html";
                }, 2000);
              } else {
                layer.msg(data.message);
                setTimeout(function () {
                  location.href = "./user/login.html";
                }, 2000);
              }
            },
          });
        });
        $("#showuser").html(sessionStorage.getItem("account"));
        //依据角色回显菜单
        $.ajax({
          type: "POST",
          url: baseurl + "/ty/heatingAdmin/admin/queryUserMenuById",
          // data: {
          //   token: sessionStorage.getItem("token")
          // },
          headers: {
            token: sessionStorage.getItem("token"),
          },
          dataType: "json",
          success: function (data) {
            if (data.status == "0000") {
              var result = "";
              var data = data.result;
              if (data == null) {
                layer.msg(" 该账户没有菜单权限，可联系管理员进行设置");
                return false;
              }
              for (let i = 0; i < data.length; i++) {
                if (data[i].childList == null) {
                  result += `<li data-name="app" class="layui-nav-item">
                                  <a lay-href="${data[i].menuUrl}" lay-tips="${data[i].name}" >
                                    <i class="layui-icon ${data[i].icon}"></i>
                                    <cite>${data[i].name}</cite>
                                  </a>
                              </li>`;
                } else {
                  result += `<li data-name="user" class="layui-nav-item">
                                  <a href="javascript:;" lay-tips="${data[i].name}" lay-direction="2">
                                    <i class="layui-icon ${data[i].icon}"></i>
                                    <cite>${data[i].name}</cite>
                                  </a>`;
                  for (let y = 0; y < data[i].childList.length; y++) {
                    result += `<dl class="layui-nav-child">
                                              <dd>
                                                <a lay-href="${data[i].childList[y].menuUrl}">${data[i].childList[y].name}</a>
                                              </dd>
                                            </dl>`;
                  }
                  result += `</li>`;
                }
              }
              $("#LAY-system-side-menu").html(result);
              layui.use("element", function () {
                //重新渲染element
                var element = layui.element;
                element.init();
              });
            } else {
              layer.msg(data.message);
              setTimeout(function () {
                location.href = "./user/login.html";
              }, 2000);
            }
          },
        });
      });
  </script>
</body>

</html>