<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>任务详情</title>
		<script src="bdist/js/jquery.min.js"></script>
		<script src="bdist/js/bootstrap.min.js"></script>
		<script src="bdist/js/jquerysession.js"></script>
		<script src="bdist/js/sess.js"></script>
		<script src="bdist/js/app.js"></script>
		<script src="bdist/js/swal.js"></script>
		<link rel="stylesheet" href="bdist/css/swal.css">
		<link rel="stylesheet" href="bdist/css/bootstrap.min.css" >		
		<link rel="stylesheet" href="bdist/css/pub.css?s=0">
		
		
		
	</head>
	<style>		
		p{padding: 3px;}		
		.bd-callout {		 
		    border: 1px #fff dashed;
		    border-left-width: .13rem;		   
		}

		
	</style>
	
	<body>
	 	
	   <div class="bg-f p-3">		    
            <p class="font-weight-bold f-size-22 title"></p>
		    <p class="f-size-13 st-t"> <span class="timeTote"></span><span class="taskTime"></span></p>
			<p class="mt-3 font-weight-bold f-size-15">任务金额</p>
			<p class="st-p f-size-22"><label class="moneyReward "></label><label class="f-size-12s">元</label></p>
			<p class="mt-1 font-weight-bold ">任务说明</p>
			<p class="mb-3 detailed f-size-13 renwu"></p>
	   </div>
	   <div class="bg-f mt-2 p-2" id="imgshow">
		  <div class="pt-4 list"></div>
		  			<div >
		  				<div class="st-bia" ><span class="st ml-4">示例图</span></div>					
		  			</div>	 
		  
		  
		     <div class="bd-callout bd-callout-warning p-2 d-flex flex-wrap bd-highlight pic_list" style="border-top: 1px #fff dashed;"></div>
			  <input type="hidden" id="taskId" value="<%=id%>" />
		   <div class="views_but"></div>
	   </div>
	   <!---->
	   	<div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:100;width:100%;height:100%;display:none;">
	   	        <div id="innerdiv" style="position:absolute;">
	   	            <a id="a_url"><img id="bigimg" style="border:5px solid #fff;" src="" /></a>
	   	        </div>
	   	 </div>  
	     <script>
		 $("#imgshow").on('click','#ejiao',function(){
		             var _this = $(this);//将当前的pimg元素作为_this传入函数					
		             imgShow("#outerdiv", "#innerdiv", "#bigimg", _this);
		         });
		         function imgShow(outerdiv, innerdiv, bigimg, _this){
		             var src = _this.attr("src");//获取当前点击的pimg元素中的src属性
		             $(bigimg).attr("src", src);//设置#bigimg元素的src属性
					 $("#a_url").attr("href", src);
					 $('#a_url').removeAttr('href');
					
		             var imageSize = getImageSize(_this);/*获取当前点击图片的真实大小，这里我封装了一个函数，返回一个数组*/
					 
		             var windowW = $(window).width();//获取当前窗口宽度
		             var windowH = $(window).height();//获取当前窗口高度
		             var realWidth = imageSize[0];//获取图片真实宽度
		             var realHeight = imageSize[1];//获取图片真实高度
		             var imgWidth, imgHeight;
		             var scale = 0.8;//缩放尺寸，当图片真实宽度和高度大于窗口宽度和高度时进行缩放
		             if(realHeight>windowH*scale) {//判断图片高度
		                 imgHeight = windowH*scale;//如大于窗口高度，图片高度进行缩放
		                 imgWidth = imgHeight/realHeight*realWidth;//等比例缩放宽度
		                 if(imgWidth>windowW*scale) {//如宽度扔大于窗口宽度
		                     imgWidth = windowW*scale;//再对宽度进行缩放
		                 }
		             } else if(realWidth>windowW*scale) {//如图片高度合适，判断图片宽度
		                 imgWidth = windowW*scale;//如大于窗口宽度，图片宽度进行缩放
		                 imgHeight = imgWidth/realWidth*realHeight;//等比例缩放高度
		             } else {//如果图片真实高度和宽度都符合要求，高宽不变
		                 imgWidth = realWidth;
		                 imgHeight = realHeight;
		             }
		             $(bigimg).css("width",imgWidth);//以最终的宽度对图片缩放
		             var w = (windowW-imgWidth)/2;//计算图片与窗口左边距
		             var h = (windowH-imgHeight)/2;//计算图片与窗口上边距
		             $(innerdiv).css({"top":h, "left":w});//设置#innerdiv的top和left属性
					
		             $(outerdiv).fadeIn("fast");//淡入显示#outerdiv及.pimg
		            		 
		             $(outerdiv).click(function(){//再次点击淡出消失弹出层
		                 $(this).fadeOut("fast");
		             });
		         }
		         function getImageSize(imgE){
		             var i = new Image(); //新建一个图片对象
		             var src=imgE.attr('src');
		             i.src=src;//将图片的src属性赋值给新建的图片对象的src
		             return new Array(i.width,i.height);
		         }
		 </script>
	</body>
</html>
<script>
$("#input-file").on("change",function(){
	var filePath = $(this).val(),         //获取到input的value，里面是文件的路径  
	fileFormat = filePath.substring(filePath.lastIndexOf(".")).toLowerCase(),  
	imgBase64 = '',      //存储图片的imgBase64  
	fileObj = document.getElementById('input-file').files[0]; //上传文件的对象,要这样写才行，用jquery写法获取不到对象  
			              
	// 检查是否是图片  
	if( !fileFormat.match(/.png|.jpg|.jpeg/) ) {  
		alert('上传错误,文件格式必须为：png/jpg/jpeg');  
		return;    
	}  			        
	// 调用函数，对图片进行压缩  
	compress(fileObj,function(imgBase64){  
		imgBase64 = imgBase64;//存储转换后的base64编码  
	    $("#shangchuanimg").attr("src",imgBase64);

	});
});
function compress(fileObj, callback){
	if ( typeof (FileReader) === 'undefined') {    
			console.log("当前浏览器内核不支持base64图标压缩");    
			//调用上传方式不压缩    
			directTurnIntoBase64(fileObj,callback);  
		} else {       
		        var reader = new FileReader();    
			        reader.onload = function (e) { //这是个异步事件               	
					var image = new Image();  
					image.src=e.target.result;
					image.onload = function(){ 
					var originWidth = this.width;
					var originHeight = this.height;	
					 // 最大尺寸限制
					        var maxWidth = 300, maxHeight = 300;
					        // 目标尺寸
					        var targetWidth = originWidth, targetHeight = originHeight;
					        // 图片尺寸超过300x300的限制
					        if (originWidth > maxWidth || originHeight > maxHeight) {
					            if (originWidth / originHeight > maxWidth / maxHeight) {
					                targetWidth = maxWidth;
					                targetHeight = Math.round(maxWidth * (originHeight / originWidth));
					            } else {
					                targetHeight = maxHeight;
					                targetWidth = Math.round(maxHeight * (originWidth / originHeight));
					            }
					        }
					            
					        // canvas对图片进行缩放
					      
			        // square = 100,   //定义画布的大小，也就是图片压缩之后的像素  
			            canvas = document.createElement('canvas'), //创建canvas元素  
			            context = canvas.getContext('2d'),  
			        //  imageWidth = Math.round(square*image.width),    //压缩图片的大小  
			        //  imageHeight = Math.round(square*image.height), 
			        //  data = ''; 		  						
					    canvas.width = targetWidth;
					    canvas.height = targetHeight; 
						 
						context.fillStyle = "#fff";
						context.fillRect(0, 0, targetWidth, targetHeight);
						
					   // context.clearRect(0, 0, targetWidth, targetHeight);  // 
					    context.drawImage(this, 0, 0, targetWidth, targetHeight);    
						var data = canvas.toDataURL('image/jpeg');    
						// //压缩完成执行回调   
						upimg(data)
						callback(data);    
		            };      
	        };    
		    reader.readAsDataURL(fileObj);    
				            
		}  

}
function directTurnIntoBase64(fileObj,callback){  
	
}  		
///////////////////////////////////////////////////////////////////////////////////////////
		
		var parpam ={};
		parpam.userId = $.session.get('uid');
		parpam.taskId =$("#taskId").val();			
		$.ajax({
				type: 'Get',
				url: url+"/ty/incrementHf/task/taskDetails",	
				data: parpam,	
				headers: {
				  token: $.session.get('token')
				},		
				success: function(data){
					
					if(data.result.exampleDiagramList.length>=1)
					{
											$.each(data.result.exampleDiagramList, function (i,val) {
												
											$(".pic_list").append('<div class="p-2 bd-highlight" ><figure><p class="img-dv" ><img  src="'+imgUrl+val.exampleDiagram+'" width="50%" /></p></figure></div>')
											});
					}
					$.each(data.result.list, function (i,val) {
						
						if(val.exampleDiagram!="示例图位置,需要配置")
						   var pics='<figure><p class="pt-2 img-dv"><img src='+imgUrl+val.exampleDiagram+' id="ejiao" width="50%"/></p></figure>'
						else
						    pics=""						
						$(".list").append('<div class="st-bia"><span class="st ml-4">第 '+val.stepNumber+' 步</span></div><div class="f-size-15 pl-4 pt-2 pb-3 st-bib">'+val.detailed+''+pics+'</div>')
					});	
					
					$(".title").html(data.result.title)
					$(".moneyReward").html(data.result.moneyReward)	
					$(".detailed").html(data.result.detailed)	
					$(".timeTote").html(data.result.timeTote)	
					$(".taskTime").html(data.result.taskTime)								
					$("#idtxt").val(data.result.taskId)
					
					if(data.result.status==1)
					$(".views_but").html('<button type="button" onclick="btnup()"  class=" btn btn-warning w-100 mt-4 disabled">领取任务</button>')
					else if(data.result.status==2)
					$(".views_but").html('<button type="button"  class="btn btn-warning w-100 mt-4 disabled">审核中</button>')
					else if(data.result.status==3)
					$(".views_but").html('<button type="button"  class="btn btn-warning w-100 mt-4 disabled">审核驳回</button>')
					else if(data.result.status==4)
					$(".views_but").html('<button type="button"  class="btn btn-warning w-100 mt-4 disabled">已完成</button>')
					else if(data.result.status==5)
					$(".views_but").html('<button type="button"  class="btn btn-warning w-100 mt-4 disabled">已取消</button>')
					else if(data.result.status==6)
					$(".views_but").html('<button type="button"  class="btn btn-warning w-100 mt-4 disabled">超时</button>')
					else if(data.result.status==7)
					$(".views_but").html('<button type="button"  class="btn btn-warning w-100 mt-4 disabled">已打款</button>')
				}
		});	
		function btnup()
		{
			 var parpams ={};
			 parpams.userId = $.session.get('uid');	
			 parpams.taskId = $("#taskId").val();
			 //alert(JSON.stringify(parpams))
			 $.ajax({
					type: 'POST',
					url: url+"/ty/incrementHf/task/recieveTask",
					data: JSON.stringify(parpams),
					contentType: "application/json",					
					headers: {
					    token: token
					},	
					success: function(data){							
							if(data.status=="0000")
							{
								$(location).attr('href', 'paiinfo?type=1&id='+data.result);
							}
							else
							{
								swal(data.message);
							}							
					}
			 });		
		}
		
		function upimg(imgurl)
		{
			$("img").show();
			 var parpamp ={}
			 parpamp.img=imgurl;//$("#shangchuanimg").attr("src");
			 parpamp.userId = uid;
			 parpamp.receiveId = $("#taskId").val();

			 // $.ajax({
			 // 		type: 'POST',
			 // 		url: url+"/ty/incrementHf/task/insertUserStep",
			 // 		data: JSON.stringify(parpamp),
			 // 		contentType: "application/json",					
			 // 		headers: {
			 // 		    token: token
			 // 		},	
			 // 		success: function(data){							
			 // 				alert(data.message);							
			 // 		}
			 // });		
		}
		$(document).ready(function(){	
			$(".btn-img").click(function(){});	
			//$("img").hide();
		});
	</script>