<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<script src="bdist/js/jquery.min.js"></script>
		<script src="bdist/js/bootstrap.min.js"></script>
		<script src="bdist/js/jquerysession.js"></script>
		<script src="bdist/js/sess.js"></script>
		<script src="bdist/js/app.js"></script>
		<link rel="stylesheet" href="bdist/css/bootstrap.min.css" >	
		<link rel="stylesheet" href="bdist/css/pub.css" >
		<link rel="stylesheet" href="bdist/dropload.css">
		<script src="bdist/dropload.min.js"></script>
	</head>
	<style>		
		p{
		    display: inline-block;
		    vertical-align: middle;
		}		 
	</style>
	<body>

		<div class="d-flex justify-content-between bg-f">
			<div class="p-2 bd-highlight" >
					<a href="pai"><img src="bdist/img/fanhui.png" /></a>
			</div>
			<div class="p-2 bd-highlight t-center f-size-1">消息</div>
			<div class="p-2 bd-highlight ">
				<img src="bdist/img/qingli.png" style="vertical-align: middle;" /><p class="pl-2 toR">全部已读</p>
			</div>
		</div>
	
	<div class="tab">
		<a href="javascript:;" class="item cur">全部</a>
		<a href="/pdxxn" class="item">未读消息</a>		
	</div>	
	
    <div class="content">
		<div class="list form-signin"></div>
        <!-- <div class="lists"></div> -->
    </div>
	</body>
</html>
<script>
$(window).scroll(function(){
     var scrollTop = $(this).scrollTop();    //滚动条距离顶部的高度
    var scrollHeight = $(document).height();   //当前页面的总高度
    var clientHeight = $(this).height();    //当前可视的页面高度
    if(scrollTop + clientHeight >= scrollHeight - 50){   //距离顶部+当前高度 >=文档总高度 即代表滑动到底部 注：-50 上拉加载更灵敏
             //加载数据
    }
})	
$(function(){
	$('.toR').on('click',function(){
		var parpam ={}
		parpam.userId = $.session.get('uid');
		parpam.messageId = 0;	
		
		$.ajax({
				type: 'POST',
				url: url+"/ty/incrementHf/obf/messageRead",
				data: JSON.stringify(parpam),
				contentType: "application/json",
				headers: {
				   token: $.session.get('token')
				},	
				success: function(data){
					if(data.status=="0000")
					{			 				
						$(location).attr('href', 'pdxx');
					}
					else
					{
						if(data.status=="4030")
						{
							noto()
						}
						else
						{
							swal({
							  title: "",
							  text: data.message,
							  type: "",	       
							  confirmButtonColor: "#FFCB4F",
							  confirmButtonText: "知道了",
							  closeOnConfirm: false
							 }
							);		
						}
					}
					
				}
		});			
	})	
	$('.tab .item').on('click',function(){
		// var $this = $(this);
		// itemIndex = $this.index();					
		// $this.addClass('cur').siblings('.item').removeClass('cur');				
		//  $(".listno").remove()
		//  lists(itemIndex)
	})	
    list()
});
function list(tid)
{
	
	var counter = 0;
	$('.content').dropload({
		
	    scrollArea : window,
	    loadDownFn : function(me){			
	        var result = '';
			var parpam ={}
			parpam.token =$.session.get('token');
			parpam.userId = $.session.get('uid');
			++counter;
			parpam.pageNo=counter;
			parpam.pageSize=8;
			if(tid==1) parpam.noticeStatus=1;			
	        $.ajax({
	            type: 'GET',
	            url: url+"/ty/incrementHf/obf/announcementList", 
				data: parpam,	
	            dataType: 'json',
	            success: function(data){
					 var arrLen = data.result.list.length;
					 pages = Math.ceil(data.result.count / parpam.pageSize);
				
	                 if(arrLen > 0){
						 $.each(data.result.list,function(i,val){
						 	if(val.noticeStatus==1)	
						 	bj="bdist/img/tixing.png" 
						 	else	
						 	bj=""					
						 	result +='<div onclick=getP("'+val.id+'") class="bg-f p-2 mb-2 listno"><div class="d-flex justify-content-between bd-highlight "><div class="p-2 bd-highlight"><b>公告</b></div><div class="p-2 bd-highlight"><img src="'+bj+'" class="w-100"/></div></div>	<div class="pl-2 m-set" style="color: #999999;">'+val.content+'</div></div>	';
							
						 });
						
	                   if(counter>=pages)
						{							// 锁定
							me.lock();
							// 无数据
							me.noData();
						}
	                 // 如果没有数据
	                 }else{
	                    // 锁定
	                    me.lock();
	                    // 无数据
	                    me.noData();
	                }
	                // 为了测试，延迟1秒加载
					// 插入数据到页面，放到最后面
					$('.list').append(result);
					// 每次数据插入，必须重置
					me.resetload();	              
	            },
	            error: function(xhr, type){
	                alert('Ajax error!');
	                // 即使加载出错，也得重置
	                me.resetload();
	            }
	        });
	    }
	});
}
function getP(id)
		{	
			
			var parpam ={}
			parpam.userId = $.session.get('uid');
			parpam.messageId = id;	
			
			$.ajax({
					type: 'POST',
					url: url+"/ty/incrementHf/obf/messageRead",
					data: JSON.stringify(parpam),
					contentType: "application/json",
					headers: {
					   token: $.session.get('token')
					},	
					success: function(data){
						if(data.status=="0000")
						{			 				
							$(location).attr('href', 'pdxx');
						}
						else
						{
							swal({
							  title: "",
							  text: data.message,
							  type: "",	       
							  confirmButtonColor: "#FFCB4F",
							  confirmButtonText: "知道了",
							  closeOnConfirm: false
							 }
							);			
						}
						
					}
			});			
		}
</script>