<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>任务</title>
		<script src="bdist/js/jquery.min.js"></script>
		<script src="bdist/js/bootstrap.min.js"></script>
		<script src="bdist/js/jquerysession.js"></script>
		<script src="bdist/js/sess.js"></script>
		<script src="bdist/js/app.js"></script>
		<script src="bdist/js/swal.js"></script>
		<link rel="stylesheet" href="bdist/css/swal.css">
		<link rel="stylesheet" href="bdist/css/bootstrap.min.css">
		<link rel="stylesheet" href="bdist/css/sign.css">	
		<link rel="stylesheet" href="bdist/css/pub.css">	
		<style>
			p {padding: 0 0 5px 0;}
		</style>
	</head>
	<body>	 
		<div class="tab">
			<a href="javascript:;" class="item s1 cur">全部</a>
			<a href="javascript:;" class="item s2">待提交</a>
			<a href="javascript:;" class="item s3">待审核</a>
			<a href="javascript:;" class="item s4">已完成</a>
			<a href="javascript:;" class="item s5">已取消</a>
		</div>
		<div class="w-95  m-auto renwu f-size-09 pt-2 list pb-6"></div>	
		<div class="nomsg w-100 t-center p-4" style="display:none;">没有更多了</div>	
		<input type="hidden" class="upid" value="<%=id%>"/> 
		<div class="fixed-bottom bg-f pt-2 pl-4 pr-4 m-set">
			<div class="d-flex justify-content-between">				
				<a href="pai">
				<div class=" bd-highlight t-center">
					<p><img src="bdist/img/mas.png" width="20" /></p>
					<p>派单中心</p>
				</div>
				</a>
				<a href="renwu">
				<div class=" bd-highlight t-center">
					<p><img src="bdist/img/mb.png" width="20"/></p>
					<p>我的任务</p>
				</div>
				</a>
				<a href="set">
					<div class=" bd-highlight t-center">
						<p><img src="bdist/img/mcs.png" width="20"/></p>
						<p>个人中心</p>
					</div>
				</a>		
			</div>
		</div>		
	</body>
</html>
<script>
		$(function(){	
			
			
			$('.tab .item').on('click',function(){
					var $this = $(this);
					itemIndex = $this.index();									
					$this.addClass('cur').siblings('.item').removeClass('cur');	
					
					var status	
					if(itemIndex==1)				
						status=1				
					else if(itemIndex==2)
						status=2
					else if(itemIndex==3)
						status=5
					else if(itemIndex==4)
						status=4				
					
					if(itemIndex==0)
						list()	
					else
						list(status)				
			})	
			var upid=Number($(".upid").val())	
			if(upid>0)
			{	
				var status
				if(upid==1)				
					status=1				
				else if(upid==2)
					status=2
				else if(upid==3)
					status=5
				else if(upid==4)
					status=4	
						
				 $(".tab a:first").removeClass('cur');	
				 var sid=Number(upid+1)	
				
				 $(".tab .s"+sid).addClass('cur');	
				 list(status)
			}		
			else
			list()
		});
		
		function upbtn(tid)
		{
			var parpam ={}
			parpam.recieveId = tid;			 
			$.ajax({
					type: 'POST',
					url: url+"/ty/incrementHf/task/submitTask",
					data: JSON.stringify(parpam),
					contentType: "application/json",
					headers: {
					  token: $.session.get('token')
					},	
					success: function(data){
						if(data.status=="0000")
						{						
							$(location).attr('href', 'renwu');
						}
						else
						{
							if(data.status="7022")
							{
								swal({
								  title: "",
								  text: "请点击已领取任务标题,上传任务截图",
								  type: "",	       
								  confirmButtonColor: "#FFCB4F",
								  confirmButtonText: "知道了",
								  closeOnConfirm: false
								 }
								);		
									
							}   
							else
							{
								swal({
								  title: "",
								  text: data.message,
								  type: "",	       
								  confirmButtonColor: "#FFCB4F",
								  confirmButtonText: "知道了",
								  closeOnConfirm: false
								 }
								);		
							}
						}
									
					}
			});			
		}
		function nobtn(tid)
		{
			var parpam ={}
			parpam.recieveId = tid;			 
			$.ajax({
					type: 'POST',
					url: url+"/ty/incrementHf/task/giveUpTask",
					data: JSON.stringify(parpam),
					contentType: "application/json",
					headers: {
					  token: $.session.get('token')
					},	
					success: function(data){
						if(data.status=="0000")
						{
							$(location).attr('href', 'renwu');
						}
						else
						{
							swal({
							  title: "",
							  text: data.message,
							  type: "",	       
							  confirmButtonColor: "#FFCB4F",
							  confirmButtonText: "知道了",
							  closeOnConfirm: false
							 }
							);		
							
						}
						
					}
			});			
		}
		
		function redi(id)
		{
			$(location).attr('href', 'paiinfo?type=1&id='+id); 
		}
			
		
		
		function list(status)
		{
		
			  $(".listno").remove(); 
			
			var parpam ={}
			parpam.userId = $.session.get('uid');
			parpam.status = status;
			
			       $.ajax({
					type: 'Get',
					url: url+"/ty/incrementHf/task/myTaskList",	
					data: parpam,			
					headers: {
					  token: $.session.get('token')
					},				
					success: function(data){
						if(data.status=="4030")
						{
							noto()
						}
						if(data.status=="0000")
						{
							
							if(data.result.list.length==0)
							{
								$(".nomsg").show();
							}
							else
							{
								$(".nomsg").hide();
							}
							
							$.each(data.result.list,function(i,val){
								var status=""
								var txt=""
								if(val.status==1)
								{							
									status="待提交"
									txt='<div class="p-2 mt-2"><button type="button" onclick="nobtn('+val.recieveId+')" class="btn btn-outline-warning mr-3 " style="width: 47%;">放弃任务</button><button onclick="upbtn('+val.recieveId+')" type="button" class="upbtn btn btn-warning" style="width: 47%;">提交审核</button></div>'
								}
								else if(val.status==2)
								{    
									status="<span style='color:#38DC95'>待审核</span>"
								    txt='<div class="p-2 mt-2"><button onclick="redi('+val.recieveId+')" type="button"  class="btn btn-outline-warning mr-2 w-100">任务详情</button>'
								}
								else if(val.status==3)
								{    status="<span style='color:#999999'>审核驳回</span>"
								    txt='<div class="p-2 mt-2"><button onclick="redi('+val.recieveId+')" type="button"  class="btn btn-outline-warning mr-2 w-100">任务详情</button>'
								}
								
								else if(val.status==4)
								{    status="<span style='color:#999999'>已完成</span>"	
									 txt='<div class="p-2 mt-2"><button onclick="redi('+val.recieveId+')" type="button"  class="btn btn-outline-warning mr-2 w-100">任务详情</button>'					
								}
								else if(val.status==5)
								{     
									status="<span style='color:#999999;'>已取消</span>"	
									 txt='<div class="p-2 mt-2"><button onclick="redi('+val.recieveId+')" type="button"  class="btn btn-outline-warning mr-2 w-100">任务详情</button>'								 
								}	
								else if(val.status==6)
								{    status="<span style='color:#999999'>超时</span>"
								 txt='<div class="p-2 mt-2"><button onclick="redi('+val.recieveId+')" type="button"  class="btn btn-outline-warning  w-100">任务详情</button>'	
								}	
								else if(val.status==7)
								{    status="<span style='color:#999999'>已打款</span>"
								 txt='<div class="p-2 mt-2"><button onclick="redi('+val.recieveId+')" type="button"  class="btn btn-outline-warning  w-100">任务详情</button>'	
								}	
								
								 $(".list").append('<div class="mb-2 rounded bg-f listno p-2"><div class="d-flex justify-content-between bd-highlight pl-2 pr-2"><div class=" bd-highlight"><a href="paiinfo?type=1&id='+val.recieveId+'" class="f-size-1"><b>'+val.title+'</b><span  style="color:#666666;font-size:13px;"> >>>详情</span></a></div><div class=" bd-highlight " style="color: #FFD46F;">'+status+'</div></div>   <div class="d-flex justify-content-between bd-highlight pl-2 pr-2 pt-1"><div class=" bd-highlight">赏金</div><div class=" bd-highlight">'+val.moneyReward+'元</div></div>   <div class="d-flex justify-content-between bd-highlight pl-2 pr-2 pt-1"><div class=" bd-highlight">接单时间</div><div class=" bd-highlight">'+getToDate(val.createTime)+'</div></div>    <div class="d-flex justify-content-between bd-highlight pl-2 pr-2 pt-1"><div class="bd-highlight">最晚提交时间</div><div class=" bd-highlight">'+getToDate(val.lastTime)+'</div></div>  '+txt+'');
								
								 $(".list").append('</div>'); 
							});							
						}					
						else
						{
							swal({
							  title: "",
							  text: data.message,
							  type: "",	       
							  confirmButtonColor: "#FFCB4F",
							  confirmButtonText: "知道了",
							  closeOnConfirm: false
							 }
							);		
						}
						
					}
			});				
		}
		</script>