<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>任务</title>
		<script src="bdist/js/jquery.min.js"></script>
		<script src="bdist/js/bootstrap.min.js"></script>
		<script src="bdist/js/jquerysession.js"></script>
		<script src="bdist/js/sess.js"></script>
		<script src="bdist/js/app.js"></script>
		<link rel="stylesheet" href="bdist/css/bootstrap.min.css">
		<link rel="stylesheet" href="bdist/css/sign.css">	
		<link rel="stylesheet" href="bdist/css/pub.css">	
		<style>
			p {padding: 0 0 5px 0;}
		</style>
	</head>
	<body>	 
		<div class="tab">
			<a href="javascript:;" class="item s1 cur">全部</a>
			<a href="javascript:;" class="item s2">待提交</a>
			<a href="javascript:;" class="item s3">待审核</a>
			<a href="javascript:;" class="item s4">已完成</a>
			<a href="javascript:;" class="item s5">已取消</a>
		</div>
		<div class="w-95  m-auto renwu f-size-09 pt-2 list pb-6"></div>	
		<div class="nomsg w-100 t-center p-4" style="display:none;">暂无消息</div>	
		<input type="hidden" class="upid" value="<%=id%>"/> 
		<div class="fixed-bottom bg-f pt-2 pl-4 pr-4 m-set">
			<div class="d-flex justify-content-between">				
				<a href="pai"><div class=" bd-highlight t-center">
					<p><img src="bdist/img/paidans.png" /></p>
					<p>派单中心</p>
				</div></a>
				<a href="renwu"><div class=" bd-highlight t-center">
					<p><img src="bdist/img/renwu.png" /></p>
					<p>我的任务</p>
				</div></a>
				<a href="set"><div class=" bd-highlight t-center">
						<p><img src="bdist/img/wodes.png" /></p>
						<p>个人中心</p>
					</div></a>				
			</div>
		</div>		
	</body>
</html>
<script>
		$(function(){			
			$('.tab .item').on('click',function(){
					var $this = $(this);
					itemIndex = $this.index();									
					$this.addClass('cur').siblings('.item').removeClass('cur');					
					var status	
					if(itemIndex==1)				
						status=2				
					else if(itemIndex==2)
						status=3
					else if(itemIndex==3)
						status=4
					else if(itemIndex==4)
						status=5				
							
					if(itemIndex==0)
						list()	
					else
						list(status)				
			})	
			var upid=Number($(".upid").val())	
			if(upid>0)
			{											
				 $(".tab a:first").removeClass('cur');								
				 $(".tab .s"+upid).addClass('cur');	
				 list(upid)
			}		
			else
			list()
		});
		
		function upbtn(tid)
		{
			var parpam ={}
			parpam.recieveId = tid;			 
			$.ajax({
					type: 'POST',
					url: url+"/ty/incrementHf/task/submitTask",
					data: JSON.stringify(parpam),
					contentType: "application/json",
					headers: {
					  token: $.session.get('token')
					},	
					success: function(data){
						if(data.status=="0000")
						{
							alert(data.message);
						}
						else
						{
							alert(data.message);
						}						
					}
			});			
		}
		function nobtn(tid)
		{
			var parpam ={}
			parpam.recieveId = tid;			 
			$.ajax({
					type: 'POST',
					url: url+"/ty/incrementHf/task/giveUpTask",
					data: JSON.stringify(parpam),
					contentType: "application/json",
					headers: {
					  token: $.session.get('token')
					},	
					success: function(data){
						if(data.status=="0000")
						{
							alert(data.message);
						}
						else
						{
							alert(data.message);
						}
						
					}
			});			
		}
			
		
		
		function list(status)
		{
			
			  $(".listno").remove(); 
			
			var parpam ={}
			parpam.userId = $.session.get('uid');
			parpam.status = status;
			$.ajax({
					type: 'Get',
					url: url+"/ty/incrementHf/task/myTaskList",	
					data: parpam,			
					headers: {
					  token: $.session.get('token')
					},				
					success: function(data){
						if(data.status=="0000")
						{
							
							if(data.result.list.length==0)
							{
								$(".nomsg").show();
							}
							else
							{
								$(".nomsg").hide();
							}
							
							$.each(data.result.list,function(i,val){
								var status=""
								var txt=""
								if(val.status==1)
								{							
									status="已领取"
									txt='<div class="pb-3"><button type="button" onclick="nobtn('+val.recieveId+')" class="btn btn-outline-warning mr-2 " style="width: 47%;">放弃任务</button><button onclick="upbtn('+val.recieveId+')" type="button" class="upbtn btn btn-warning" style="width: 47%;">提交任务</button></div>'
								}
								else if(val.status==2)
								{    
									status="已提交"
								    txt='<div class="pb-3"><button type="button"  class="btn btn-outline-warning mr-2 w-100">待审核</button>'
								}
								else if(val.status==3)
								{    status="审核驳回"
								    txt='<div class="pb-3"><button type="button"  class="btn btn-outline-warning mr-2 w-100">审核驳回</button>'
								}
								
								else if(val.status==4)
								{    status="审核通过"	
									 txt='<div class="pb-3"><button type="button"  class="btn btn-outline-warning mr-2 ">任务详情</button>'							
								}
								else if(val.status==5)
								{     
									status="已取消"								     
								}	
								else if(val.status==6)
								{    status="超时"}	
								
								
								 $(".list").append('<div class="mb-2 rounded bg-f listno"><a href="paiinfo?type=1&id='+val.recieveId+'"><div class="d-flex justify-content-between bd-highlight"><div class="p-2 bd-highlight"><b>'+val.title+'</b></div><div class="p-2 bd-highlight" style="color: #FFD46F;">'+status+'</div></div><div class="d-flex justify-content-between bd-highlight"><div class="p-2 bd-highlight">赏金</div><div class="p-2 bd-highlight">'+val.moneyReward+'</div></div><div class="d-flex justify-content-between bd-highlight"><div class="p-2 bd-highlight">接单时间</div><div class="p-2 bd-highlight">1分钟</div></div><div class="d-flex justify-content-between bd-highlight mb-3"><div class="p-2 bd-highlight">最晚提交时间</div><div class="p-2 bd-highlight">0</div></div></a>'+txt+'</div>');
							});							
						}
						else
						{
							alert(data.message);
						}
						
					}
			});				
		}
		</script>