<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>邀请管理</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <link
      rel="stylesheet"
      href="../../../layuiadmin/layui/css/layui.css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="../../../layuiadmin/style/admin.css"
      media="all"
    />
  </head>

  <body>
    <div class="layui-fluid">
      <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
          <div class="layui-form-item">
            <!-- <div class="layui-inline">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-inline">
              <select name="type">
                <option value="">请选择</option>
                <option value="">全部</option>
                <option value="1">首页菜单</option>
                <option value="2">快速了解</option>
                <option value="3">弹框广告</option>
                <option value="3">四标</option>
              </select>
            </div>
          </div> -->
            <div class="layui-inline">
              <label class="layui-form-label">邀请人昵称</label>
              <div class="layui-input-inline">
                <input
                  type="text"
                  name="name"
                  id="name"
                  placeholder="请输入"
                  autocomplete="off"
                  class="layui-input"
                />
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">邀请人手机号</label>
              <div class="layui-input-inline">
                <input
                  type="text"
                  name="phone"
                  id="phone"
                  placeholder="请输入"
                  autocomplete="off"
                  class="layui-input"
                />
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">邀请人id</label>
              <div class="layui-input-inline">
                <input
                  type="text"
                  name="userId"
                  id="userId"
                  placeholder="请输入"
                  autocomplete="off"
                  class="layui-input"
                />
              </div>
            </div>
            <!-- <div class="layui-inline">
            <label class="layui-form-label">开始时间</label>
            <div class="layui-input-inline" style="display: flex;flex-direction: row;">
              <input type="text" class="layui-input" name="beginDate" id="beginDate" placeholder="yyyyMMdd">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">结束时间</label>
            <div class="layui-input-inline" style="display: flex;flex-direction: row;">
              <input type="text" class="layui-input" name="endDate" id="endDate" placeholder="yyyyMMdd">
            </div>
          </div> -->
            <div class="layui-inline">
              <button
                class="layui-btn layuiadmin-btn-list"
                lay-submit
                lay-filter="LAY-app-contlist-search"
              >
                <i
                  class="layui-icon layui-icon-search layuiadmin-button-btn"
                ></i>
              </button>
            </div>
          </div>
        </div>

        <div class="layui-card-body">
          <!-- <div style="padding-bottom: 10px;">
            <form id="form_submit" action="" method="GET">
              <input
                type="text"
                style="display: none;"
                name="isExport"
                id="isExport"
                value="1"
              />
              <input
                type="text"
                style="display: none;"
                name="userName"
                id="userName2"
              />
              <input
                type="text"
                style="display: none;"
                name="userId"
                id="userId2"
              />
              <input
                type="text"
                style="display: none;"
                name="name"
                id="name2"
              />
              <input
                type="text"
                style="display: none;"
                value="999999"
                name="pageSize"
                id="pageSize"
              />
              <input
                style="display: none;"
                type="text"
                name="token"
                id="token"
              />
              <div class="layui-inline" style="display: inline-block;">
                <input
                  type="submit"
                  class="layui-btn layuiadmin-btn-list"
                  value="导出"
                />
              </div>
            </form>
          </div> -->
          <table
            id="LAY-app-content-list"
            lay-size="sm"
            lay-filter="LAY-app-content-list"
          ></table>

          <script type="text/html" id="table-content-list">
              <!-- {{#  if(d.status ==1){ }}
              <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="switch"><i class="layui-icon layui-icon-pause"></i>停用</a>
              {{#  } else if(d.status ==2) { }}
              <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="switch"><i class="layui-icon layui-icon-play"></i>启用</a>
              {{#  } }} -->
            <!-- <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="profit"><i
                class="layui-icon layui-icon-seach"></i>累计分润</a>
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="inv"><i
                class="layui-icon layui-icon-seach"></i>邀请明细</a> -->
          </script>
        </div>
      </div>
    </div>

    <!-- <script src="../../../layuiadmin/layui/layui.js"></script>   -->
    <script src="../../../layuiadmin/lib/jquery.js"></script>
    <script src="../../../layuiadmin/lib/layui.js"></script>
    <script>
      layui
        .config({
          base: "../../../layuiadmin/", //静态资源所在路径
        })
        .extend({
          index: "lib/index", //主入口模块
        })
        .use(["index", "inviteList", "table", "api", "laydate"], function () {
          var table = layui.table,
            form = layui.form,
            $ = layui.$,
            baseurl = layui.api.baseUrl;

          laydate = layui.laydate;
          laydate.render({
            elem: "#beginDate",
            //,type: 'date' //type 默认为 date，所以可不填
          });
          laydate.render({
            elem: "#endDate",
            //,type: 'date' //type 默认为 date，所以可不填
          });
          $("#token").val(sessionStorage.getItem("token"));
          var exporturl =
            baseurl + "/qrcode/admin/invite/queryInviteList?isExport=1";
          $("#form_submit").attr("action", exporturl);
          layui.use("form", function () {
            //调用ajax请求后 重新渲染表单 执行以下代码
            var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
            form.render();
          });
          //监听
          table.on("tool(LAY-app-content-list)", function (t) {
            var e = t.data;
            //监听 累计分润
            // if ("profit" === t.event) {
            //   sessionStorage.setItem("profit_userId", t.data.fromUserId);
            //   layer.open({
            //     type: 2,
            //     title: "查看累计分润",
            //     content: "profitList.html",
            //     maxmin: true,
            //     area: ["100%", "100%"],
            //     btn: ["返回邀请管理"],
            //     yes: function (index, layero) {
            //       //点击确认触发 iframe 内容中的按钮提交
            //       var submit = layero
            //         .find("iframe")
            //         .contents()
            //         .find("#layuiadmin-app-form-submit");
            //       submit.click();
            //     },
            //   });
            // }
            // //监听 邀请明细
            // if ("inv" === t.event) {
            //   sessionStorage.setItem("profit_userId", t.data.fromUserId);
            //   layer.open({
            //     type: 2,
            //     title: "查看邀请明细",
            //     content: "inviteDetailList.html",
            //     maxmin: true,
            //     area: ["100%", "100%"],
            //     btn: ["返回邀请管理"],
            //     yes: function (index, layero) {
            //       //点击确认触发 iframe 内容中的按钮提交
            //       var submit = layero
            //         .find("iframe")
            //         .contents()
            //         .find("#layuiadmin-app-form-submit");
            //       submit.click();
            //     },
            //   });
            // }
          });

          //监听搜索
          form.on("submit(LAY-app-contlist-search)", function (data) {
            var field = data.field;
            // $('#beginDate2').val(field.beginDate)
            // $('#endDate2').val(field.endDate)
            $("#name2").val(field.name);
            $("#userId2").val(field.userId);
            $("#userName2").val(field.userName);
			
            //执行重载
            table.reload("LAY-app-content-list", {
              where: field,
            });
          });

          var $ = layui.$,
            active = {
              // batchdel: function(){
              //   // alert('2')
              //   var checkStatus = table.checkStatus('LAY-app-content-list')
              //   ,checkData = checkStatus.data; //得到选中的数据
              //   if(checkData.length === 0){
              //     return layer.msg('请选择数据');
              //   }
              //   layer.confirm('确定删除吗？', function(index) {
              //     //执行 Ajax 后重载
              //     /*
              //     admin.req({
              //       url: 'xxx'
              //       //,……
              //     });
              //     */
              //     table.reload('LAY-app-content-list');
              //     layer.msg('已删除');
              //   });
              // },
              // add: function () {
              //   layer.open({
              //     type: 2
              //     , title: '新增'
              //     , content: 'bannerForm.html'
              //     , maxmin: true
              //     , area: ['100%', '100%']
              //     , btn: ['确定', '取消']
              //     , yes: function (index, layero) {
              //       //点击确认触发 iframe 内容中的按钮提交
              //       var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit");
              //       submit.click();
              //     }
              //     , success: function (layero, index) {
              //       //  var body = layer.getChildFrame('body', index);
              //       // body.contents().find('#issuerNo').html(issuerNoTemp)
              //     }
              //   });
              // },
            };

          $(".layui-btn.layuiadmin-btn-list").on("click", function () {
            var type = $(this).data("type");
            active[type] ? active[type].call(this) : "";
          });
        });
    </script>
  </body>
</html>
