@charset "utf-8";
#row120 {padding-top:6.269592476489027%;}
#row120 {padding-right:12.539184952978054%;}
#row120 {padding-bottom:0.0%;}
#row120 {padding-left:12.539184952978054%;}
#row120>.jz_web_row__content>.jz_web_col0{padding:0;}
#row120>.jz_web_row__content>.jz_web_col0{margin:0;}
@media screen and (max-width: 768px){
#row120 {padding-top:0.0%;}
#row120 {padding-right:0.0%;}
#row120 {padding-bottom:0.0%;}
#row120 {padding-left:0.0%;}
#row120>.jz_web_row__content>.jz_web_col0{margin:0;}
}
#row122 {padding-top:6.269592476489027%;}
#row122 {padding-right:12.539184952978054%;}
#row122 {padding-bottom:0.0%;}
#row122 {padding-left:12.539184952978054%;}
#row122>.jz_web_row__content>.jz_web_col0{padding:0;}
#row122>.jz_web_row__content>.jz_web_col0{margin:0;}
#row122>.jz_web_row__content>.jz_web_col1{padding:0;}
#row122>.jz_web_row__content>.jz_web_col1{margin:0;}
@media screen and (max-width: 768px){
#row122 {padding-top:0.0%;}
#row122 {padding-right:0.0%;}
#row122 {padding-bottom:0.0%;}
#row122 {padding-left:0.0%;}
#row122>.jz_web_row__content>.jz_web_col0{margin:0;}
#row122>.jz_web_row__content>.jz_web_col1{margin:0;}
}
#row121 {padding-top:4.179728317659352%;}
#row121 {padding-right:12.539184952978054%;}
#row121 {padding-bottom:6.269592476489027%;}
#row121 {padding-left:12.539184952978054%;}
#row121>.jz_web_row__content>.jz_web_col0{padding:0;}
#row121>.jz_web_row__content>.jz_web_col0{margin:0;}
@media screen and (max-width: 768px){
#row121 {padding-top:0.0%;}
#row121 {padding-right:0.0%;}
#row121 {padding-bottom:0.0%;}
#row121 {padding-left:0.0%;}
#row121>.jz_web_row__content>.jz_web_col0{margin:0;}
}
#row3 {padding-top:0.0%;}
#row3 {padding-right:0.0%;}
#row3 {padding-bottom:0.0%;}
#row3 {padding-left:12.539184952978054%;}
#row3>.jz_web_row__content>.jz_web_col0{padding:0;}
#row3>.jz_web_row__content>.jz_web_col0{margin:0;}
#row3>.jz_web_row__content>.jz_web_col1{padding:0;}
#row3>.jz_web_row__content>.jz_web_col1{margin:0;}
@media screen and (max-width: 768px){
#row3 {padding-top:0.0%;}
#row3 {padding-right:0.0%;}
#row3 {padding-bottom:0.0%;}
#row3 {padding-left:0.0%;}
#row3>.jz_web_row__content>.jz_web_col0{margin:0;}
#row3>.jz_web_row__content>.jz_web_col1{margin:0;}
}
#row4 {background:rgba(34,34,34,1);}
#row4 {padding-top:0.0%;}
#row4 {padding-right:0.0%;}
#row4 {padding-bottom:0.0%;}
#row4 {padding-left:0.0%;}
#row4>.jz_web_row__content>.jz_web_col0{padding:0;}
#row4>.jz_web_row__content>.jz_web_col0{margin:0;}
@media screen and (max-width: 768px){
#row4 {padding-top:0.0%;}
#row4 {padding-right:0.0%;}
#row4 {padding-bottom:0.0%;}
#row4 {padding-left:0.0%;}
#row4>.jz_web_row__content>.jz_web_col0{margin:0;}
}
#row137 {padding-top:0.0%;}
#row137 {padding-right:0.0%;}
#row137 {padding-bottom:0.0%;}
#row137 {padding-left:0.0%;}
#row137>.jz_web_row__content>.jz_web_col0{padding:0;}
#row137>.jz_web_row__content>.jz_web_col0{margin:0;}
@media screen and (max-width: 768px){
#row137 {padding-top:0.0%;}
#row137 {padding-right:0.0%;}
#row137 {padding-bottom:0.0%;}
#row137 {padding-left:0.0%;}
#row137>.jz_web_row__content>.jz_web_col0{margin:0;}
}
#module375  .module_banner{display:none;}
#module375 {margin-top:0.0%;}
#module375 {margin-right:0.0%;}
#module375 {margin-bottom:0.0%;}
#module375 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module375  .module_banner{display:none;}
#module375 {margin-top:2.666%;}
#module375 {margin-right:3.733%;}
#module375 {margin-bottom:1.333%;}
#module375 {margin-left:3.733%;}
}
#module377  .module_banner{display:none;}
#module377 {margin-top:3.486750348675035%;}
#module377 {margin-right:7.670850767085077%;}
#module377 {margin-bottom:0.0%;}
#module377 {margin-left:7.531380753138076%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module377  .module_banner{display:none;}
#module377 {margin-top:2.666%;}
#module377 {margin-right:3.733%;}
#module377 {margin-bottom:1.333%;}
#module377 {margin-left:3.733%;}
}
#module378  .module_banner{display:none;}
#module378 {margin-top:0.0%;}
#module378 {margin-right:2.6499302649930265%;}
#module378 {margin-bottom:0.0%;}
#module378 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module378  .module_banner{display:none;}
#module378 {margin-top:2.666%;}
#module378 {margin-right:9.866666666666667%;}
#module378 {margin-bottom:1.333%;}
#module378 {margin-left:10.133333333333333%;}
}
#module379  .module_banner{display:none;}
#module379 {margin-top:13.94700139470014%;}
#module379 {margin-right:0.0%;}
#module379 {margin-bottom:0.0%;}
#module379 {margin-left:12.97071129707113%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module379  .module_banner{display:none;}
#module379 {margin-top:2.666%;}
#module379 {margin-right:3.733%;}
#module379 {margin-bottom:1.333%;}
#module379 {margin-left:3.733%;}
}
#module380  .module_banner{display:none;}
#module380 {margin-top:10.0418410041841%;}
#module380 {margin-right:24.267782426778243%;}
#module380 {margin-bottom:0.0%;}
#module380 {margin-left:12.97071129707113%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module380  .module_banner{display:none;}
#module380 {margin-top:2.666%;}
#module380 {margin-right:3.733%;}
#module380 {margin-bottom:1.333%;}
#module380 {margin-left:3.733%;}
}
#module381  .module_banner{display:none;}
#module381  .module_banner{ justify-content:left;}
#module381  .module_banner_text{font-size:20px;font-family:微软雅黑;}
#module381  .module_banner_text{color:rgba(51,51,51,1);}
#module381 {margin-top:0.0%;}
#module381 {margin-right:0.0%;}
#module381 {margin-bottom:0.0%;}
#module381 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module381  .module_banner{display:none;}
#module381 {margin-top:0.0%;}
#module381 {margin-right:0.0%;}
#module381 {margin-bottom:0.0%;}
#module381 {margin-left:0.0%;}
}
.jz_nav_wrap{margin-top:0.0%;}
.jz_nav_wrap{margin-right:0.0%;}
.jz_nav_wrap{margin-bottom:0.0%;}
.jz_nav_wrap{margin-left:0.0%;}
.jz_web_header .jz_nav{}
.jz_web_header .jz_nav_item{min-width:90px;height:70px; line-height:70px;}
.jz_web_header .jz_nav_item{}
.jz_web_header .nav_item_septal{}
.jz_web_header .jz_nav_layout0 .sub_nav_list,.jz_web_header .jz_nav_layout0 .three_nav_list {}
.jz_web_header .jz_nav_layout0 .sub_nav_item ,.jz_web_header .jz_nav_layout0 .three_nav_item {}
.jz_web_header  .sub_nav_list,.jz_web_header  .three_nav_list {}
.jz_web_header  .sub_nav_item ,.jz_web_header  .three_nav_item {}
.jz_mobi_header .jz_nav_item{}
.jz_mobi_header .sub_nav_item{}
.jz_mobi_header .sub_nav_item_text{}
.jz_mobi_header .three_nav_item{}
.jz_mobi_header .three_nav_item_text{}
.jz_nav_wrap{margin-top:0.0%;}
.jz_nav_wrap{margin-right:0.0%;}
.jz_nav_wrap{margin-bottom:0.0%;}
.jz_nav_wrap{margin-left:0.0%;}
.jz_web_header .jz_nav{}
.jz_web_header .jz_nav_item{}
.jz_web_header .jz_nav_item{}
.jz_web_header .nav_item_septal{}
.jz_web_header .jz_nav_layout0 .sub_nav_list,.jz_web_header .jz_nav_layout0 .three_nav_list {}
.jz_web_header .jz_nav_layout0 .sub_nav_item ,.jz_web_header .jz_nav_layout0 .three_nav_item {}
.jz_web_header  .sub_nav_list,.jz_web_header  .three_nav_list {}
.jz_web_header  .sub_nav_item ,.jz_web_header  .three_nav_item {}
.jz_mobi_header .jz_nav_item{}
.jz_mobi_header .sub_nav_item{}
.jz_mobi_header .sub_nav_item_text{}
.jz_mobi_header .three_nav_item{}
.jz_mobi_header .three_nav_item_text{}
.s_member_login{margin-top:2.34375%;}
.s_member_login{margin-right:38.4375%;}
.s_member_login{margin-bottom:0.0%;}
.s_member_login{margin-left:38.4375%;}
@media screen and (min-width: 769px){
.jz_website_title_wrap{margin-top:0.0%;}
.jz_website_title_wrap{margin-right:0.0%;}
.jz_website_title_wrap{margin-bottom:0.0%;}
.jz_website_title_wrap{margin-left:0.0%;}
}
@media screen and (max-width: 768px){
#jz_website_title .logo_wrap{ width:34.88372093023256px;}
}
@media screen and (min-width: 769px){
.jz_banner .banner_pic  .banner_pic_group{ padding-bottom:26.041666%;}
.jz_banner .banner_pic  .pic_switch_btn_area{ display:none;}
}
.jz_banner .banner_pic .banner_pic_0 .banner_pic_item{background-image: url(//18020511.s61i.faiusr.com/2/AD0In-HLCBACGAAgqNWp3wUosej-pQMwgA849AM.jpg);background-size:cover;background-position: 50% 50%;}
@media screen and (max-width: 768px){
.jz_banner .banner_pic  .banner_pic_group{ padding-bottom:26.041666666666668%;}
.jz_banner .banner_pic  .pic_switch_btn_area{ display:none;}
.jz_banner .banner_pic .banner_pic_0 .banner_pic_item{background-image: url(//18020511.s61i.faiusr.com/2/AD0In-HLCBACGAAgqNWp3wUosej-pQMwgA849AM.jpg);background-size:cover;background-position: 50% 50%;}
}