<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>员工编辑</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <style>
    .layui-form-label-dry {
      width: 150px;
    }

    .layui-form-item .layui-input-inline {
      width: 300px;
    }
  </style>
</head>

<body>

  <div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list"
    style="padding: 20px 30px 0 0;">
    <input type="hidden" name="id" id="id" value="">
    <input type="hidden" name="addType" id="addType" value="1">
    <div class="layui-form-item" lay-filter="component-form-element">
      <div class="layui-form-label layui-form-label-dry">员工拥有角色</div>
      <div class="layui-input-inline" id="roleArray" style="width: 700px;">
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label layui-form-label-dry">员工姓名</label>
      <div class="layui-input-inline">
        <input type="text" name="name" id="name" maxlength="30" placeholder="" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label layui-form-label-dry">员工账号<span style="color: red;">*</span></label>
      <div class="layui-input-inline">
        <input type="text" name="account" id="account" lay-verify="required" maxlength="30" placeholder=""
          autocomplete="off" class="layui-input">
      </div>
    </div>
    <!-- <div class="layui-form-item">
      <label class="layui-form-label layui-form-label-dry">性别</label>
      <div class="layui-input-inline">
        <select name="sex" id="sex" lay-verify="required">
          <option value="">请选择</option>
          <option value="1">男</option>
          <option value="2">女</option>
        </select>
      </div>
    </div> -->
    <div class="layui-form-item">
      <label class="layui-form-label layui-form-label-dry">手机号</label>
      <div class="layui-input-inline">
        <input type="text" name="phone" id="phone" maxlength="30" placeholder="" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label layui-form-label-dry">email</label>
      <div class="layui-input-inline">
        <input type="text" name="email" id="email" maxlength="30" placeholder="" autocomplete="off" class="layui-input">
      </div>
    </div>
    <!-- <div class="layui-form-item">
      <label class="layui-form-label layui-form-label-dry">部门</label>
      <div class="layui-input-inline">
        <input type="text" name="departmentArrayString" id="departmentArrayString" lay-verify="required" maxlength="30" placeholder="" autocomplete="off" class="layui-input">
      </div>
    </div> -->

    <div class="layui-form-item">
      <label class="layui-form-label layui-form-label-dry">备注</label>
      <div class="layui-input-inline">
        <input type="text" name="remark" id="remark" maxlength="30" placeholder="" autocomplete="off"
          class="layui-input">
      </div>
    </div>

    <div class="layui-form-item" id="password_c" style="display: none;">
      <label class="layui-form-label layui-form-label-dry">密码<span style="color: red;">*</span></label>
      <div class="layui-input-inline">
        <input type="text" name="password" id="password" maxlength="30" placeholder="" autocomplete="off"
          class="layui-input">
      </div>
    </div>



    <div class="layui-form-item layui-hide">
      <input type="button" lay-submit lay-filter="layuiadmin-app-form-submit" id="layuiadmin-app-form-submit"
        value="确认添加">
      <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="确认编辑">
    </div>
  </div>
  <script src="../../../layuiadmin/lib/jquery.js"></script>
  <script src="../../../layuiadmin/layui/layui.js"></script>
  <script>

    layui.config({
      base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
      index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'laydate', 'upload', 'api'], function () {
      var $ = layui.$
        , form = layui.form
        , upload = layui.upload
        , baseurl = layui.api.baseUrl

      if (!$('#id').val()) {
        $('#password_c').css('display', 'block')
      } else {
        $('#account').attr('disabled', true)
        // lay-verify="required"
      }
      //监听提交
      form.on('submit(layuiadmin-app-form-submit)', function (data) {
        var field = data.field; //获取提交的字段
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引  
        var arr = [];
        var fieldObj = {
          token: '',
          roleArrayString: '',
          departmentArrayString: '',
          sysUser: {}
        }
        var roleArr = []
        //  var departmentArr = []
        $("input:checkbox[name='role']:checked").each(function (i) {
          roleArr.push($(this).val())
        })
        // $("input:checkbox[name='department']:checked").each(function (i) {
        //   departmentArr.push($(this).val())
        // })


        //fieldObj.token = sessionStorage.getItem("token")
        fieldObj.roleArrayString = roleArr.join(",")
        // fieldObj.departmentArrayString = departmentArr.join(",")
        fieldObj.sysUser.name = field.name
        fieldObj.sysUser.account = field.account
        fieldObj.sysUser.phone = field.phone
        fieldObj.sysUser.email = field.email
        fieldObj.sysUser.remark = field.remark
        fieldObj.sysUser.password = field.password
        fieldObj.sysUser.agentLevel = field.agentLevel
        if (field.id) {
          var url = '/ty/heatingAdmin/system/updateSysUser'; //修改
          fieldObj.sysUser.id = field.id
        } else {
          var url = '/ty/heatingAdmin/system/addSysUser'; //新增
        }
        fieldObj = JSON.stringify(fieldObj);
        $.ajax({
          type: "POST",
          url: baseurl + url,
          data: fieldObj,
          contentType: "application/json;charset=utf-8",
          // dataType: "json",
          headers: {
            token: sessionStorage.getItem("token")
          },
          success: function (data) {
            if (data.status == "0000") {
              layer.msg(data.message);
              setTimeout(function () {
                parent.layui.table.reload('LAY-app-content-list'); //重载表格
                parent.layer.close(index); //再执行关闭 
              }, 1000)
            } else if (data.status == "4031") {
              layer.msg(data.message);
              setTimeout(function () {
                window.parent.parent.location.href = '../../user/login.html';
              }, 2000)
            } else {
              layer.msg('失败' + data.message)
            }

          }
        });
      });
    })
  </script>
</body>

</html>