<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all" />
	</head>

	<body>
		<div class="layui-fluid">
			<div class="layui-card">
				<div class="layui-form layui-card-header layuiadmin-card-header-auto">
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">设备类型</label>
							<div class="layui-input-inline">
								<!-- <input type="text" name="model" id="model" placeholder="请输入" autocomplete="off" class="layui-input" /> -->
								<select name="model" id="model">
									<option value="">请选择</option>
								</select>
							</div>
						</div>

						<div class="layui-inline">
							<label class="layui-form-label">状态</label>
							<div class="layui-input-inline">
								<select name="status">
									<option value="">请选择</option>
									<option value="">全部</option>
									<option value="1">使用中</option>
									<option value="2">下架</option>
								</select>
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">开始时间(设备创建时间)</label>
							<div class="layui-input-inline" style="display: flex; flex-direction: row;">
								<input type="text" class="layui-input" name="beginDate" id="beginDate" placeholder="yyyyMMdd" autocomplete="off"/>
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">结束时间(设备创建时间)</label>
							<div class="layui-input-inline" style="display: flex; flex-direction: row;">
								<input type="text" class="layui-input" name="endDate" id="endDate" placeholder="yyyyMMdd" autocomplete="off"/>
							</div>
						</div>
						<div class="layui-inline">
							<button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-search">
								<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
							</button>
						</div>
					</div>
				</div>

				<div class="layui-card-body">
					<div style="padding-bottom: 10px;">
						<button class="layui-btn layuiadmin-btn-list" data-type="add">
							新增
						</button>						
					</div>
					<table id="LAY-app-content-list" lay-filter="LAY-app-content-list"></table>
					<!-- <script type="text/html" id="buttonTpl">
          {{#  if(d.status ==1){ }}
            <button class="layui-btn layui-btn-xs">待推送</button>
          {{#  } else { }}
            <button class="layui-btn layui-btn-primary layui-btn-xs">已推送</button>
          {{#  } }}
        </script> -->
					<script type="text/html" id="table-content-list">
						{{#  if(d.status ==1){ }}
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="switch"><i
              class="layui-icon layui-icon-pause"></i>下架</a>
          {{#  } else if(d.status ==2) { }}
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="switch"><i
              class="layui-icon layui-icon-play"></i>上架</a>
          {{#  } }}         
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i
              class="layui-icon layui-icon-edit"></i>编辑</a>
		  <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="del"><i
		     class="layui-icon layui-icon-delete"></i>删除</a>	  
         <!-- <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="partsList"><i
              class="layui-icon layui-icon-table"></i>配件列表</a> -->
        </script>
				</div>
			</div>
		</div>

		<!-- <script src="../../../layuiadmin/layui/layui.js"></script>   -->
		<script src="../../../layuiadmin/lib/jquery.js"></script>
		<script src="../../../layuiadmin/lib/layui.js"></script>
		<script>
			layui
				.config({
					base: "../../../layuiadmin/", //静态资源所在路径
				})
				.extend({
					index: "lib/index", //主入口模块
				})
				.use(
					["index", "equipmentList", "table", "api", "laydate"],
					function() {
						var table = layui.table,
							form = layui.form,
							$ = layui.$,
							imgBaseUrl = layui.api.imgBaseUrl,
							baseurl = layui.api.baseUrl;

						laydate = layui.laydate;
						laydate.render({
							elem: "#beginDate",
							//,type: 'date' //type 默认为 date，所以可不填
						});
						laydate.render({
							elem: "#endDate",
							//,type: 'date' //type 默认为 date，所以可不填
						});

						//调用产品列表
						$.ajax({
							type: "get",
							url: baseurl + "/ty/heatingAdmin/admin/equip/equipmentTypeList",
							data: {
								pageSize: 1000,
								pageNo: 1,
								token: sessionStorage.getItem("token")
							},
							headers: {
								token: sessionStorage.getItem("token"),
							},
							dataType: "json",
							success: function(data) {
								if (data.status == "4031") {
									layer.msg(data.message);
									setTimeout(function() {
										window.parent.parent.location.href = '../../user/login.html';
									}, 2000)
									return false;
								}
								if (data.status != 0000) {
									layer.msg(data.message)
								}
								var data = data.result.list;
								if (!data.length) {
									layer.msg('暂无产品类型');
									return false;
								}
								var issuerNoTempSeach = '<option value="">请选择</option>';
								for (var i = 0; i < data.length; i++) {
									issuerNoTempSeach += '<option value="' + data[i].model + '">' + data[i].model + '</option>'
								}
								$('#model').html(issuerNoTempSeach)
								layui.use('form', function() {
									var form = layui.form;
									form.render();
								});
							}
						})
						//监听
						table.on("tool(LAY-app-content-list)", function(t) {
							var e = t.data;
							var utxt=null;
							//监听配件
							if ("partsList" === t.event) {
								console.log('主Id', t.data.id)
								sessionStorage.setItem("typeId", t.data.id);
								sessionStorage.setItem("categoryId", t.data.category);
								if(t.data.category==1)
								    utxt="equipmentPartsList.html"
								else
								    utxt="equipmentPartsLists.html"
								layer.open({
									type: 2,
									title: '配件列表',
									content: utxt,
									maxmin: true,
									area: ['100%', '100%'],
									//btn: ['返回产品列表'],
									yes: function(index, layero) {
										//点击确认触发 iframe 内容中的按钮提交
										var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit");
										submit.click();
									},
									success: function(layero, index) {
										var body = layer.getChildFrame("body", index);
									    body.contents().find("#category").val(t.data.category);                                    body.contents().find("#pid").val(0);                              
									},
								});
							}
							//监听 停用 启用
							if ("switch" === t.event) {
								var desc = "";
								var param = {};
								param.id = t.data.id;
								if (t.data.status == 2) {
									param.status = 1;
									desc = "确定要上架吗？";
								} else if (t.data.status == 1) {
									param.status = 2;
									desc = "确定要下架吗？";
								}
								layer.confirm(desc, function(e) {
									console.log("t_______________________", t);
									$.ajax({
										type: "POST",
										url: baseurl + "/ty/heatingAdmin/manager/equip/updateEquipmentStatus",
										data: param,
										headers: {
											token: sessionStorage.getItem("token"),
										},
										dataType: "json",
										success: function(data) {
											if (data.status == "4031") {
												layer.msg(data.message);
												setTimeout(function() {
													window.parent.parent.location.href =
														"../../user/login.html";
												}, 2000);
												return false;
											}
											if (data.status != "0000") {
												layer.msg(data.message);
											} else if (data.status == "0000") {
												layer.msg(data.message);
												table.reload("LAY-app-content-list");
												layer.close(e);
											}
										},
									});
								});
							}
				if ("del" === t.event) {
					layer.confirm('确定删除吗？', function(index){
						layer.close(layer.index);
						///////
						var subUrl = '/ty/heatingAdmin/manager/equip/delEquipment'
						var param = {}
						param.typeId = e.id			   
						$.ajax({
							  type: "POST",
							  url: layui.api.baseUrl + subUrl,
							  data: JSON.stringify(param),
							  contentType: "application/json",
							  headers: {
								token: sessionStorage.getItem("token")
							  },
							  dataType: "json",
							  success: function (data) {
								  if (data.status == "0000") {
									  layer.msg(data.message);
									  setTimeout(function () {
									   layui.table.reload('LAY-app-content-list'); //重载表格
									   layer.close(index); //再执行关闭 
									  }, 1000)							  
								  } else if (data.status == "4031") {
								    layer.msg(data.message);
								    setTimeout(function () {
								      window.parent.parent.location.href = '../../user/login.html';
								    }, 2000)
								  } else {
								    layer.msg('失败' + data.message)
								  }
							  }
						});
						////////
					}); 							
				}
							//监听  编辑
							if ("edit" === t.event) {
								console.log('t____________', t.data)
								layer.open({
									type: 2,
									title: "编辑",
									content: "equipmentForm.html",
									maxmin: true,
									area: ["100%", "100%"],
									btn: ['返回列表'],
									yes: function(index, layero) {						
										var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit-r");
										submit.click();
									},
									success: function(layero, index) {
										var body = layer.getChildFrame("body", index);
										console.log(t.data)
										body.contents().find("#id").val(t.data.id);
										body.contents().find("#model").val(t.data.model);
										body.contents().find("#prince").val(t.data.prince / 100); //价格
										//body.contents().find("#heatingArea").val(t.data.heatingArea); //面积区间
										body.contents().find("#stock").val(t.data.stock); //库存
										body.contents().find("#rebateOne").val(t.data.rebateOne); //一级返利  百分比
										body.contents().find("#rebateTwo").val(t.data.rebateTwo / 100); //二级返利
										// body.contents().find("#photo2-img").attr("src", imgBaseUrl + t.data.photo2);
										body.contents().find("#photo2").val(t.data.photo2);
										body.contents().find("#photo2-img").attr("src", imgBaseUrl + t.data.photo2);
										body.contents().find("#photo1").val(t.data.photo1);
										body.contents().find("#photo1-img").attr("src", imgBaseUrl + t.data.photo1);
										body.contents().find("#photo3").val(t.data.photo3);
										body.contents().find("#photo3-img").attr("src", imgBaseUrl + t.data.photo3);
										body.contents().find("#stock").val(t.data.stock);
										body.contents().find("#description").val(t.data.description);
										body.contents().find("#name").val(t.data.name);
										
										var characteristic = t.data.characteristic.split(',')
										var tempHtml = '';
										for (var i = 0; i < characteristic.length; i++) {
											tempHtml +=
												`
                    <div lay-id="${i}" type="button" class="tag-item">
                      <span><input style='border:0px solid ' type="test" value="${characteristic[i]}"></span>
                    </div>
                    `
										}
										
										body.contents().find("#tags").html(tempHtml);
										body.contents().find("#jurisdiction").val(t.data.jurisdiction);
										
										body.contents().find("#prince").val(t.data.prince);
										//body.contents().find("#category").val(t.data.category);										
										// characteristic //特点
                                     

									},
								});
							}
							//修改数量  equipmentNumForm.html
							if ("nums" === t.event) {
								layer.open({
									type: 2,
									title: "编辑",
									content: "equipmentNumForm.html",
									maxmin: true,
									area: ["100%", "100%"],
									btn: ["确定", "取消"],
									yes: function(index, layero) {
										//点击确认触发 iframe 内容中的按钮提交
										var submit = layero
											.find("iframe")
											.contents()
											.find("#layuiadmin-app-form-submit");
										submit.click();
									},
									success: function(layero, index) {
										var body = layer.getChildFrame("body", index);
										body.contents().find("#id").val(t.data.id);
										body.contents().find("#stock").val(t.data.stock);
										// body.contents().find('#name').val(t.data.name)
										// body.contents().find('#url').val(t.data.url)
										// body.contents().find('#type').val(t.data.type)
										// body.contents().find('#jumpType').val(t.data.jumpType)
										// body.contents().find('#bigimages-normal-img').attr('src', t.data.images)
										// body.contents().find('#bigimages').val(t.data.images)
									},
								});
							}
						});

						//监听搜索
						form.on("submit(LAY-app-contlist-search)", function(data) {
							var field = data.field;
							//执行重载
							table.reload("LAY-app-content-list", {
								where: field,
							});
						});

						var $ = layui.$,
							active = {
								// batchdel: function(){
								//   // alert('2')
								//   var checkStatus = table.checkStatus('LAY-app-content-list')
								//   ,checkData = checkStatus.data; //得到选中的数据

								//   if(checkData.length === 0){
								//     return layer.msg('请选择数据');
								//   }

								//   layer.confirm('确定删除吗？', function(index) {

								//     //执行 Ajax 后重载
								//     /*
								//     admin.req({
								//       url: 'xxx'
								//       //,……
								//     });
								//     */
								//     table.reload('LAY-app-content-list');
								//     layer.msg('已删除');
								//   });
								// },
								bigCate: function() {
									layer.open({
										type: 2,
										title: "设备大类型列表",
										content: "bigCate.html",
										maxmin: true,
										area: ["100%", "100%"],
										//btn: ['返回列表'],
										yes: function(index, layero) {
											
											var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit-r");
											submit.click();
										},
										success: function(layero, index) {
											
										},
									});
								},
								add: function() {
									layer.open({
										type: 2,
										title: "新增",
										content: "equipmentForm.html",
										maxmin: true,
										area: ["100%", "100%"],
										btn: ['返回列表'],
										yes: function(index, layero) {
											//点击确认触发 iframe 内容中的按钮提交
											// var submit = layero
											// 	.find("iframe")
											// 	.contents()
											// 	.find("#layuiadmin-app-form-submit");
											// submit.click();
											var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit-r");
											submit.click();
										},
										success: function(layero, index) {
											//  var body = layer.getChildFrame('body', index);
											// body.contents().find('#issuerNo').html(issuerNoTemp)
										},
									});
								},
							};

						$(".layui-btn.layuiadmin-btn-list").on("click", function() {
							var type = $(this).data("type");
							active[type] ? active[type].call(this) : "";
						});
					}
				);
		</script>
	</body>

</html>
