<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>采暖官网</title>
		<script src="bdist/js/jquery.min.js"></script>
		<script src="bdist/js/bootstrap.min.js"></script>
		<script src="bdist/js/jquerysession.js"></script>
		<script src="bdist/js/jquery.cookie.js"></script>
		<link rel="stylesheet" href="bdist/css/bootstrap.min.css">
		<link rel="stylesheet" href="bdist/css/pub.css">
		<link type="text/css" href="bdist/css/index.css" rel="stylesheet" />
		<style>
			.news-bd-highlight:hover{border-radius: .25rem!important;box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;color: #52b548;}
			.ownBtnStyle{ display:none;} .clear{ clear:both;}		
				
			
				.news_list_item_link {
				    position: absolute;
				    top: 0;
				    left: 0;
				    width: 100%;
				    height: 100%;
				    z-index: 1;
				}
				.jz_hover.jz_theme_font_hover_color:hover {
				    color: #52b548;
				}
		</style>
	</head>
	<body>
		<include src="/h.html"></include>

		<div class="banner_pic_item">
			<img src="bdist/img/AD0In-HLCBACGAAg-Yyp3wUo8M-ClQcwgA849AM.jpg" class="w-100" />
		</div>
		<!--i-b-7 b-->
		<style>
			.i-n-bg{height: 120px;background: url(bdist/img/AD0In-HLCBACGAAg0cOu3wUoxM-c7AMw2QI4mAI.jpg) no-repeat;background-size:100% 120px ; overflow: hidden;display: block;} 
		
			</style>
		<div class="container">

			<p class="i-news-l-1-t text-center">健康课堂</p>
			<p class="i-news-l-1-c text-center"><span class="c_153">00加仑大流量出水过滤速度快8倍</span></p>
			<!---->
			<div class="i-news-l-2">
				
				<div class="d-flex justify-content-center bd-highlight pb-5 ">
					<a href="newslist">
					<div class="p-2 bd-highlight i-news mr-4">

						<div class="i-n-bg">
							<p></p>
						</div>
						<div class=" f_15">
							<p class="pt-3">科技有限公司科技有限</p>
							<span class="i-news-l-2-d">2020-08-19</span>
						</div>
						<div class="pt-3 pb-3 f_14 i-news-l-2-c">
							科技有限公司科技有限公司科技有限公司科技有限公司科技有限公司科技有限公司科技有限公司科技有限公司
						</div>
						<div><button type="button" class=" btn-light pl-2 pr-2 pt-1 pb-1 i-news-l-1-b">新闻资讯</button></div>
						</a>
					</div>
					<div class="p-2 bd-highlight i-news mr-4">
						<div class="i-n-bg">
							<p></p>
						</div>
						<div class=" f_15">
							<p class="pt-3">科技有限公司科技有限</p>
							<span class="i-news-l-2-d">2020-08-19</span>
						</div>
						<div class="pt-3 pb-3 f_14 i-news-l-2-c">
							科技有限公司科技有限公司科技有限公司科技有限公司科技有限公司科技有限公司科技有限公司科技有限公司
						</div>
						<div><button type="button" class=" btn-light pl-2 pr-2 pt-1 pb-1 i-news-l-1-b">新闻资讯</button></div>
					</div>
					<div class="p-2 bd-highlight i-news mr-4">
						<div class="i-n-bg">
							<p></p>
						</div>
						<div class=" f_15">
							<p class="pt-3">科技有限公司科技有限</p>
							<span class="i-news-l-2-d">2020-08-19</span>
						</div>
						<div class="pt-3 pb-3 f_14 i-news-l-2-c">
							科技有限公司科技有限公司科技有限公司科技有限公司科技有限公司科技有限公司科技有限公司科技有限公司
						</div>
						<div><button type="button" class=" btn-light pl-2 pr-2 pt-1 pb-1 i-news-l-1-b">新闻资讯</button></div>
					</div>
					<div class="p-2 bd-highlight i-news w-15">
						<div class="i-n-bg">
							<p></p>
						</div>
						<div class=" f_15">
							<p class="pt-3">科技有限公司科技有限</p>
							<span class="i-news-l-2-d">2020-08-19</span>
						</div>
						<div class="pt-3 pb-3 f_14 i-news-l-2-c">
							科技有限公司科技有限公司科技有限公司科技有限公司科技有限公司科技有限公司科技有限公司科技有限公司
						</div>
						<div><button type="button" class=" btn-light pl-2 pr-2 pt-1 pb-1 i-news-l-1-b">新闻资讯</button></div>
					</div>
				</div>
				
			</div>
			<!---->
			<div class="i-news-l-2-m">
				<div class="d-flex justify-content-center bd-highlight ">
					<div class="p-2 bd-highlight i-news">
						<div class="i-n-bg">
							<p></p>
						</div>
						<div class=" f_15">
							<p class="pt-3">科技有限公司科技</p>
							<span class="i-news-l-2-d">2020-08-19</span>
						</div>
						<div class="pb-1 f_14 i-news-l-2-c">
							科技有限公司科技有限公司科技有
						</div>
						<div><button type="button" class=" btn-light pl-2 pr-2 pt-1 pb-1 i-news-l-1-b">新闻资讯</button></div>
					</div>
					<div class="p-2 bd-highlight i-news">

						<div class="i-n-bg">
							<p></p>
						</div>
						<div class=" f_15">
							<p class="pt-3">科技有限公司科技有限</p>
							<span class="i-news-l-2-d">2020-08-19</span>
						</div>
						<div class="pb-1 f_14 i-news-l-2-c">
							科技有限公司科技有限公司科技有限
						</div>
						<div><button type="button" class=" btn-light pl-2 pr-2 pt-1 pb-1 i-news-l-1-b">新闻资讯</button></div>
					</div>

				</div>
				<div class="d-flex justify-content-center bd-highlight ">
					<div class="p-2 bd-highlight i-news">
						<div class="i-n-bg">
							<p></p>
						</div>
						<div class=" f_15">
							<p class="pt-3">科技有限公司科技</p>
							<span class="i-news-l-2-d">2020-08-19</span>
						</div>
						<div class="pb-1 f_14 i-news-l-2-c">
							科技有限公司科技有限公司科技有
						</div>
						<div><button type="button" class=" btn-light pl-2 pr-2 pt-1 pb-1 i-news-l-1-b">新闻资讯</button></div>
					</div>
					<div class="p-2 bd-highlight i-news">
						<div class="i-n-bg">
							<p></p>
						</div>
						<div class=" f_15">
							<p class="pt-3">科技有限公司科技有限</p>
							<span class="i-news-l-2-d">2020-08-19</span>
						</div>
						<div class="pb-1 f_14 i-news-l-2-c">
							科技有限公司科技有限公司科技有限
						</div>
						<div><button type="button" class=" btn-light pl-2 pr-2 pt-1 pb-1 i-news-l-1-b">新闻资讯</button></div>
					</div>

				</div>
			</div>
			<!---->
		</div>
		<!--i-b-7 e-->
		<div class="container pt-3 pb-5">
			<% newslist.forEach(function(list){%>
			<div class="bd-highlight news-bd-highlight news-b-b">
				<a href="ninfo?id=<%=list.id%>">
				<div class="d-flex justify-content-between">
					<p class="news_list_item_t">投资者投资者投资者投资者</p>
					<span class="i-news-l-2-d">2020-08-19</span>
				</div>
				<div class="news_list_item_summery ">发展迅速,很多的投资者都争先恐后的想扎进来看看,但既有优势,也避免不了有所缺陷，营销环...</div>
				<p><a href="ninfo" target="_blank" class="news_list_item_group_item">新闻动态</a></p>     </a>
			</div>
			<% }) %>
		</div>
        <include src="/f.html"></include>
		<script>
			$("#pn").addClass("act");		 	
		</script>
	</body>
</html>
