.control-box {
    width: 1020px;
    height: 300px;   
   
    background-repeat: no-repeat;
    background-position: 60px 165px;
    margin-left: auto;
    margin-right: auto;
	margin-top:70px;	
	
}
.control-box ul {
  list-style: none;
  position: relative;
}
.control-box ul li {
  position: absolute;
  top: 50px;
  cursor: pointer;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
.bigbox {
  overflow: hidden;
  width: 1010px;
  height: 300px;
  margin: auto 16px auto;
}
#switcher {
  height: 290px;
  left: 0px;
}
.content_1.content_2 {
  width: 100%;
  float: left;
}
.pro-bd-highlight {
  transition:all .7s ease 0s;
  width: 235px;
  height: 290px; 
  float: left;
  border-left: 3px white solid;
}
.pro-bd-highlight:hover {
 opacity:0.5;color: #52b548;
}
