<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>添加</title>
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all" />
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/latter.css" media="all" />
  <style>
    .layui-form-label-dry {
      width: 150px;
    }
    .layui-form-item .layui-input-inline {
      width: 300px;
    }
    .red {
      color: red;
      position: absolute;
      top: 12px;
    }
  </style>
</head>

<body>
  <div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list"   style="padding: 20px 30px 0 0;">
	   
	<div class="layui-form-item">
	  <label class="layui-form-label layui-form-label-dry">加入时间<span class="red">*</span></label>
	  <div class="layui-input-inline">
	   
		  <input
		    type="text"
		    class="layui-input"
		    name="joinTime"
		    id="joinTime"
		    placeholder=""
		  />
	  </div>
	</div>
	<div class="layui-form-item" id="area-picker">
	  <label class="layui-form-label layui-form-label-dry">代理区域编号</label>
	   <div class="layui-input-inline" style="width: 200px;">
	   <select name="province" id="province" lay-filter="province" class="province-selector" > 	   
	   </select>
	    </div>
	    <div class="layui-input-inline" style="width: 200px;">
			<select name="city" id="city" lay-filter="city" class="city-selector">				
			</select>
		</div>
		<div class="layui-input-inline" style="width: 200px;">
			<select name="county" id="county" lay-filter="county" class="county-selector" ay-ignore>	 
			</select>
		</div>
	</div>  
	
	<div class="layui-form-item" style="display: none;">
	   <label class="layui-form-label layui-form-label-dry">代理区域编号<span class="red">*</span></label>
	   <div class="layui-input-inline">
		  <input type="text" name="provinceId" id="provinceId"  value="0"  /> 
		  <input type="text" name="cityId" id="cityId"      value="0"  />
		  <input type="text" name="countyId" id="countyId"  value="0"  />
	      <input type="text" name="proxyArea" id="proxyArea" lay-verify="required"  />
	   </div>
	 </div>
   <div class="layui-form-item">
      <label class="layui-form-label layui-form-label-dry">代理名称<span class="red">*</span></label>
      <div class="layui-input-inline">
        <input type="text" name="name" id="name" lay-verify="required" maxlength="30" placeholder="请输入"
          autocomplete="off" class="layui-input" />
      </div>
    </div>
	<div class="layui-form-item">
	   <label class="layui-form-label layui-form-label-dry">代理手机号<span class="red">*</span></label>
	   <div class="layui-input-inline">
	     <input type="text" name="phone" id="phone" lay-verify="required" maxlength="30" placeholder="请输入"
	       autocomplete="off" class="layui-input" />
	   </div>
	 </div>
	 <div class="layui-form-item">
	    <label class="layui-form-label layui-form-label-dry">代理身份证号<span class="red">*</span></label>
	    <div class="layui-input-inline">
	      <input type="text" name="idcard" id="idcard" lay-verify="required" maxlength="30" placeholder="请输入"
	        autocomplete="off" class="layui-input" />
	    </div>
	  </div>
	  <div class="layui-form-item">
	     <label class="layui-form-label layui-form-label-dry">代理银行卡号<span class="red">*</span></label>
	     <div class="layui-input-inline">
	       <input type="text" name="bankCard" id="bankCard" lay-verify="required" maxlength="30" placeholder="请输入"
	         autocomplete="off" class="layui-input" />
	     </div>
	   </div>
	<div class="layui-form-item">
	   <label class="layui-form-label layui-form-label-dry">代理邮箱<span class="red">*</span></label>
	   <div class="layui-input-inline">
	     <input type="text" name="email" id="email" lay-verify="required" maxlength="30" placeholder="请输入"
	       autocomplete="off" class="layui-input" />
	   </div>
	 </div>
	
	  
	

   <div class="layui-form-item">
     <label class="layui-form-label layui-form-label-dry">代理类型</label>
     <div class="layui-input-inline">
       <select name="type" id="type" lay-filter="type">
            <option value="1">公司</option>
   		    <option value="2">省代</option>	
			<option value="3">市代</option>
			<option value="4">县代</option>		 
       </select>
     </div>
   </div>  
   
   <div class="layui-form-item">
     <label class="layui-form-label layui-form-label-dry">状态</label>
     <div class="layui-input-inline">
       <select name="status" id="status" lay-filter="type">
            <option value="1">启用</option>
   		    <option value="2">禁用</option>  			 
       </select>
     </div>
   </div>  

	 <div class="layui-form-item">
	    <label class="layui-form-label layui-form-label-dry">进件总金额<span class="red">*</span></label>
	    <div class="layui-input-inline">
	      <input type="text" name="amount" id="amount" lay-verify="required" maxlength="30" placeholder="请输入"
	        autocomplete="off" class="layui-input" />
	    </div>
	  </div>
<div class="layui-form-item">
	  <label class="layui-form-label layui-form-label-dry">备注</label>
	  <div class="layui-input-inline">
	    <textarea  name="remark" id="remark" style="width: 300px; height: 150px;" autocomplete="off"
	      class="layui-textarea"></textarea>
	  </div>
	</div>

    <!-- <div class="layui-form-item">
      <label class="layui-form-label layui-form-label-dry">缩略图</label>
      <div class="layui-input-inline">
        <div class="layui-upload">
          <button type="button" class="layui-btn" id="photo2-btn">
            上传图片
          </button>
          <div class="layui-upload-list">
            <img style="max-width: 300px; max-height: 300px;" class="layui-upload-img" id="photo2-img" />
          </div>
        </div>
      </div>
      <input type="hidden" name="photo2" id="photo2" autocomplete="off" class="layui-input" />
    </div> -->
    <div class="layui-form-item">
      <label class="layui-form-label layui-form-label-dry">代理合同</label>
      <div class="layui-input-inline">
        <div class="layui-upload">
          <button type="button" class="layui-btn" id="photo1-btn">
            上传图片
          </button>
          <div class="layui-upload-list">
            <img style="max-width: 300px; max-height: 300px;" class="layui-upload-img" id="photo1-img" />
          </div>
        </div>
      </div>
      <input type="hidden" name="photo1" id="photo1" autocomplete="off" class="layui-input" />
    </div>

    <!-- layui-hide -->
    <div class="layui-form-item layui-hide">
      <input type="button" lay-submit lay-filter="layuiadmin-app-form-submit" id="layuiadmin-app-form-submit"
        value="确认添加" />
      <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit"
        value="确认编辑" />
    </div>
  </div>
  <script src="../../../layuiadmin/lib/jquery.js"></script>
  <script src="../../../layuiadmin/layui/layui.js"></script>
  <script>
    layui
      .config({
        base: "../../../layuiadmin/", //静态资源所在路径
      })
      .extend({
        index: "lib/index", //主入口模块
      })
      .use(["index", "form", "laydate", "upload", "api", "tag"], function () {
        var $ = layui.$,
          form = layui.form,
          upload = layui.upload,
		  laydate = layui.laydate,		
          baseUrl = layui.api.baseUrltest,
          imgurl = layui.api.imgurl,
		  imgUpurl=layui.api.imgUpurl,
          tag = layui.tag;
		  // layarea.render({
		  //     elem: '#area-picker',
		  //     change: function (res) {
		  //         //选择结果
		  //         console.log(res);
		  //     }
		  // });
		  laydate.render({
		    elem: "#joinTime",
		    type: 'datetime'
		  });
		  layer.ready(function(){			 
		       getArea('province',0)
		  });
		  function getArea(type,value){			
			 var tourl=value ? "/ty/heatingAdmin/admin/address/addressList?parentId="+value:"/ty/heatingAdmin/admin/address/addressList";			  
			 
		      $.ajax({
		           		type: "get",
		           		url: layui.api.baseUrltest + tourl,
		           		headers: {				
		           			token: sessionStorage.getItem("token")
		           		},       		
		           		success: function (res) {
							
		      				$('#'+type).empty();
							$('#'+type).append(new Option("请选择", 0));	
							res.result.forEach(function(item, index){
								  $('#'+type).append(new Option(item.name, item.id));			
							})
							
							 form.render('select');
		      			    // var list=res.result
		      			    // for (var i = 0; i < res.result.length; i++) {
		      			   	 
		      			   	//  $('#province').append('<option  value="' + list[i].id + '">' + list[i].name + '</option>')
		      			    // } 
		      			   //  layui.use('form', function() {
		      			   // 	var form = layui.form;				
		      			   // 	form.render();
		      			   // });					  		 
		           		}
		           });
		  }
		  form.on('select(province)', function (data) {			
			  $('#proxyArea').val(data.value)
			  $('#provinceId').val(data.value)	
			$("#county").empty();
			form.render("select");
			  getArea('city',data.value)
			 
		    // $('#city').remove();
		  	
		  });
		   
		  form.on('select(city)', function (data) {				 
			  $('#proxyArea').val(data.value)
			  $('#cityId').val(data.value)
		      getArea('county',data.value)	   
		  });
		  form.on('select(county)', function (data) {
			  $('#proxyArea').val(data.value)
			   $('#countyId').val(data.value)
		  });
       
        //缩略图上传
      
        var uploadInst = upload.render({
          elem: "#photo2-btn",
          url: imgUpurl,
          before: function (obj) {
            //预读本地文件示例，不支持ie8
            obj.preview(function (index, file, result) {
              $("#photo2-img").attr("src", result); //图片链接（base64）
            });
          },
          data: {
            "oldFilePath": $("#photo2").val()
          },
          done: function (res) {
            console.log("res", res.result);
            if (res.status == "0000") {
				
              $("#photo2").val(res.result);

              return layer.msg("图片上传成功");
            } else {
              return layer.msg("图片上传失败");
            }
          },
          error: function () {
            //演示失败状态，并实现重传
            var demoText = $("#bigimages-normal-demoText");
            demoText.html(
              '<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>'
            );
            demoText.find(".demo-reload").on("click", function () {
              uploadInst.upload();
            });
          },
        });
       
        //设备图上传
        var temImg1 = ''
        var uploadInst1 = upload.render({
          elem: "#photo1-btn",
          url: layui.api.imgUpurl,
          before: function (obj) {
            //预读本地文件示例，不支持ie8
           obj.preview(function (index, file, result) {
             $("#photo1-img").attr("src", result); //图片链接（base64）
           });
          },
          data: {
            "oldFilePath": temImg1,
			"token": sessionStorage.getItem("token")
          },
          done: function (res) {
           

			console.log("res", res.result);
			if (res.status == "0000") {
				
			  $("#photo1").val(res.result);
			
			  return layer.msg("图片上传成功");
			} else {
			  return layer.msg("图片上传失败");
			}
          },
          error: function () {
            //演示失败状态，并实现重传
            var demoText = $("#bigimages-normal-demoText");
            demoText.html(
              '<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>'
            );
            demoText.find(".demo-reload").on("click", function () {
              uploadInst1.upload();
            });
          },
        });
		

   var params = {}
       params.id = $("#id").val()	
		  
       $.ajax({
       		type: "get",
       		url: layui.api.baseUrltest + "/ty/heatingAdmin/admin/cases/queryById",
       		data: params,       		
       		headers: {
       			token: sessionStorage.getItem("token")
       		},
       					dataType: "json",
       					success: function (data) {
       						$("#content").val(data.result.content)
       						 
       										 
       		},
       });
	  
	
        //监听提交
        form.on("submit(layuiadmin-app-form-submit)", function (data) {
            var field = data.field;
			var index = parent.layer.getFrameIndex(window.name); 	
			var msg = ' '		
			var subUrl = '/ty/heatingAdmin/admin/agentDetail/insert'			
			var param = {}			
			param.name = field.name
			param.phone = field.phone
			param.idcard = field.idcard
			param.bankCard = field.bankCard
			param.email = field.email
			param.proxyArea = field.proxyArea
			param.provinceId = field.provinceId
			param.cityId = field.cityId
			param.countyId = field.countyId
			param.type = field.type
			param.status = field.status
			param.amount = field.amount
			param.remark = field.remark
			param.contract	 = field.photo1			
			param.joinTime = field.joinTime
		   
			$.ajax({
					type: "POST",
					url: layui.api.baseUrltest + subUrl,
					data: JSON.stringify(param),
					contentType: "application/json",
					headers: {
						token: sessionStorage.getItem("token")
					},
								dataType: "json",
								success: function (data) {
									if (data.status == "0000") {
									  layer.msg(data.message);				 
									 setTimeout(function () {
									   parent.layui.table.reload('LAY-app-content-list'); //重载表格
									   parent.layer.close(index); //再执行关闭 
									 }, 1000)
									 
									} else if (data.status == "4031") {
									  layer.msg(data.message);
									  setTimeout(function () {
									    window.parent.parent.location.href = '../../user/login.html';
									  }, 2000)
									} else {
									  layer.msg('失败' + data.message)
									}
									 parent.layer.closeAll("loading");				 
					},
			});
						 
        });
      });
  </script>
</body>

</html>