<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>提现申请列表</title>
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all" />
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/latter.css" media="all" />
  <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all" />
</head>

<body>
  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
		  <input type="hidden"  id="isIndex" />
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">申请人手机号</label>
            <div class="layui-input-inline">
              <input type="text" name="phone" id="phone" placeholder="请输入" autocomplete="off" class="layui-input" />
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">申请用户id</label>
            <div class="layui-input-inline">
              <input type="text" name="userId" id="userId" placeholder="请输入" autocomplete="off" class="layui-input" />
            </div>
          </div>
          <!-- <div class="layui-inline">
            <label class="layui-form-label">申请编号</label>
            <div class="layui-input-inline">
              <input type="text" name="applicationNo" id="applicationNo" placeholder="请输入" autocomplete="off"
                class="layui-input" />
            </div>
          </div> -->
          <!-- <div class="layui-inline">
            <label class="layui-form-label">审核失败原因</label>
            <div class="layui-input-inline">
              <input type="text" name="remark" id="remark" placeholder="请输入" autocomplete="off" class="layui-input" />
            </div>
          </div> -->
          <div class="layui-inline">
            <label class="layui-form-label">审核员工id</label>
            <div class="layui-input-inline">
              <input type="text" name="admId" id="admId" placeholder="请输入" autocomplete="off" class="layui-input" />
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">审核状态</label>
            <div class="layui-input-inline">
              <select name="auditStatus" id="auditStatus">
                <option value="">请选择</option>
                <option value="">全部</option>
                <option value="1">未审核</option>
                <option value="2">审核通过</option>
                <option value="3">审核驳回</option>
              </select>
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">申请开始时间</label>
            <div class="layui-input-inline" style="display: flex; flex-direction: row;">
              <input type="text" class="layui-input" name="beginDate" id="beginDate" placeholder="yyyyMMdd" />
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">结束时间</label>
            <div class="layui-input-inline" style="display: flex; flex-direction: row;">
              <input type="text" class="layui-input" name="endDate" id="endDate" placeholder="yyyyMMdd" />
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
			<button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-research">
			  <i class="layui-icon layui-icon-search layuiadmin-button-btn">重置</i>
			</button>
          </div>
        </div>
      </div>

      <div class="layui-card-body">
        <table id="LAY-app-content-list" lay-size="sm" lay-filter="LAY-app-content-list"></table>
        <script type="text/html" id="table-content-list">
              {{#  if(d.auditStatus ==1){ }}
              <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="switch"><i class="layui-icon layui-icon-edit"></i>审核</a>
              {{#  } else if(d.auditStatus ==2) { }}
              {{#  } }}
          </script>
      </div>
    </div>
  </div>

  <!-- <script src="../../../layuiadmin/layui/layui.js"></script>   -->
  <script src="../../../layuiadmin/lib/jquery.js"></script>
  <script src="../../../layuiadmin/lib/layui.js"></script>
  <script>
    layui
      .config({
        base: "../../../layuiadmin/", //静态资源所在路径
      })
      .extend({
        index: "lib/index", //主入口模块
      })
      .use(
        ["index", "cashApplylist", "table", "api", "laydate"],
        function () {
          var table = layui.table,
            form = layui.form,
            $ = layui.$,
            baseurl = layui.api.baseUrl,
            laydate = layui.laydate;
          laydate.render({
            elem: "#beginDate",
            //,type: 'date' //type 默认为 date，所以可不填
          });
          laydate.render({
            elem: "#endDate",
            //,type: 'date' //type 默认为 date，所以可不填
          });
          $("#token").val(sessionStorage.getItem("token"));
          // var exporturl =
          //   baseurl + "/qrcode/admin/invite/queryInviteList?isExport=1";
          // $("#form_submit").attr("action", exporturl);
          // layui.use("form", function () {
          //   //调用ajax请求后 重新渲染表单 执行以下代码
          //   var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
          //   form.render();
          // });
		  form.on("submit(LAY-app-contlist-research)", function (data) {
		  		  			    	  						
		  		  				 $("#beginDate").val("");
		  		  				 $("#endDate").val("");			  				 
		  		  				 $("#phone").val("");
		  		  						 $("#userId").val("");
		  		  						 $("#applicationNo").val("");  								 $("#remark").val("");  	
		 $("#admId").val("");
						 $("#auditStatus").val("");  
						 
		  		  			     form.render();
		  		  });
          //监听
          table.on("tool(LAY-app-content-list)", function (t) {
            // alert(1);
            var e = t.data;
            //监听 审核
            if ("switch" === t.event) {
              //  alert(1);
              // sessionStorage.setItem("profit_userId", t.data.fromUserId);
              layer.open({
                type: 2,
                title: "审核",
                content: "cashApplyForm.html",
                maxmin: true,
                area: ["90%", "90%"],
                btn: ["确定", "取消"],
                yes: function (index, layero) {
                  //点击确认触发 iframe 内容中的按钮提交
                  var submit = layero
                    .find("iframe")
                    .contents()
                    .find("#layuiadmin-app-form-submit");
                  submit.click();
                },
                success: function (layero, index) {
                  var body = layer.getChildFrame("body", index);
                  body.contents().find("#id").val(t.data.id);
                },
              });
            }


          });
        if($("#isIndex").val()==1)
		{
			table.reload("LAY-app-content-list", {
			 where: {
			   auditStatus: 1,
			 },
			});				
		}
          //监听搜索
          form.on("submit(LAY-app-contlist-search)", function (data) {
            var field = data.field;
            // $('#beginDate2').val(field.beginDate)
            // $('#endDate2').val(field.endDate)
            // $("#name2").val(field.name);
            // $("#userId2").val(field.userId);
            // $("#userName2").val(field.userName);
            //执行重载
            table.reload("LAY-app-content-list", {
              where: field,
            });
          });

          var $ = layui.$,
            active = {
              // batchdel: function(){
              //   // alert('2')
              //   var checkStatus = table.checkStatus('LAY-app-content-list')
              //   ,checkData = checkStatus.data; //得到选中的数据
              //   if(checkData.length === 0){
              //     return layer.msg('请选择数据');
              //   }
              //   layer.confirm('确定删除吗？', function(index) {
              //     //执行 Ajax 后重载
              //     /*
              //     admin.req({
              //       url: 'xxx'
              //       //,……
              //     });
              //     */
              //     table.reload('LAY-app-content-list');
              //     layer.msg('已删除');
              //   });
              // },
              // add: function () {
              //   layer.open({
              //     type: 2
              //     , title: '新增'
              //     , content: 'bannerForm.html'
              //     , maxmin: true
              //     , area: ['100%', '100%']
              //     , btn: ['确定', '取消']
              //     , yes: function (index, layero) {
              //       //点击确认触发 iframe 内容中的按钮提交
              //       var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit");
              //       submit.click();
              //     }
              //     , success: function (layero, index) {
              //       //  var body = layer.getChildFrame('body', index);
              //       // body.contents().find('#issuerNo').html(issuerNoTemp)
              //     }
              //   });
              // },
            };

          $(".layui-btn.layuiadmin-btn-list").on("click", function () {
            var type = $(this).data("type");
            active[type] ? active[type].call(this) : "";
          });
        }
      );
  </script>
</body>

</html>